@charset "UTF-8";
@import "base/variables";
@import "base/mixin";
@import "components/parts";


// .main-content {
//  *  {
//   font-family: $font-base;
//  }
// }
.post-content,
.textwidget {
  h1, h2, h3, h4, h5, h6, p, a {
    font-family: $font-base;
  }
}
.post-title a,
.widget-posts .post-meta .post-title,
.widget_categories a, .widget_product_categories a, .widget_archive a,
.breadcrumbs .inner {
  font-family: $font-base;
}

.footer-logo {
  padding: 0;
  border-bottom: none;
}

.the-post .the-post-header h1{
  @include mq() {
    font-size: 22px;
  }
}

.blog {
  &-banner {
    width: 820px;
    max-width: 100%;
    margin: 0 auto;
  }

  &-nav {
    position: relative;
    margin-top: -5px;
    padding: 15px 0;
    // padding: 15px 0 40px;
    background-color: #76C4EA;
    text-align: center;
    transition: all .3s;
    &.active {
      padding-bottom: 50px;
      @include mq() {
        padding-bottom: 50px;
      }
    }

    @include mq() {
      padding: 0 25px 10px;
      // padding: 0 25px 40px;
      text-align: right;
    }

    &:before {
      position: absolute;
      top: -10px;
      left: 0;
      display: block;
      width: 100%;
      height: 10px;
      background: url(../images/common/bg-triangle-up.svg) top left repeat-x;
      content: "";
    }

    &--directWrap {
      position: relative;
      display: inline-block;
    }

    &--directInner {
      @include mq() {
        position: fixed;
        top: 0;
        left: 0;
        width: 75vw;
        height: 100vh;
        padding: 0 20px;
        z-index: 10001;
        overflow-y: auto;
        overflow-x: hidden;
        min-width: 200px;
        padding: 60px 25px 25px;
        background-color: #fff;
        transition: all .3s;
        transform: translateX(-100%);
        &.active {
          // display: block;
          transform: translateX(0);
        }
      }
    }

    &--direct {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include mq() {
        position: relative;
        display: block;
        // display: none;
        li {
          display: inline-block;
        }
      }

      &-ttl {
        margin-bottom: 15px;
        text-align: left;
        font-weight: bold;
        color: #000;
      }

      li {
        display: block;
        margin-right: 10px;

        @include mq() {
          margin-bottom: 10px;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          display: block;
          padding: 10px 20px 10px 37px;
          font-size: fs(13);
          line-height: fs(18);
          border-radius: 60px;
          letter-spacing: .33px;
          color: #000;
          font-weight: bold;
          background: #fff url(../images/common/icon-pencil.svg) left 12px center / 16px 16px no-repeat;
          @include mq() {
            padding-left: 25px;
            text-align: left;
            border-bottom: 1px solid rgba(0, 0, 0, 0.07);
            border-radius: 0;
            background-position: left center;
          }
        }
      }
    }

    &--snsWrap {
      position: absolute;
      top: 0;
      right: -5.3vw;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);

      @include mq() {
        position: relative;
        margin: 10px 0;
        right: 0;
        top: 0;
        transform: translate(0);
        -webkit-transform: translate(0);
      }
    }

    &--sns {
      position: relative;
      display: flex;

      a {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }

      &-search {
        margin-right: 6px;
        background: #000 url(../images/common/icon-search-white.svg) center center / 13px 13px no-repeat;
      }

      &-twitter {
        background: #fff url(../images/common/icon-twitter.svg) center center / 15px 12px no-repeat;
      }
    }
  }

  &-advers {
    margin-bottom: 60px;
  }

  &-sns {
    img {
      width: 100%;
    }

    &--labelWrap {
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: solid 1px #F1F3F5;
    }

    &--label {
      position: relative;
      padding: 4px 0 4px 42px;
      font-family: $font-b;
      font-size: fs(12);
      line-height: fs(25);
      font-weight: bold;
      letter-spacing: .6px;
      color: #19A1E6;

      &:before {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: #EFEFEF url(../images/common/icon-twitter-blue.svg) center center / 13px 10px no-repeat;
        content: "";
      }
    }
  }

  &-contact {
    padding: 25px 0;
    background-color: #F1F3F5;
    text-align: center;

    a {
      display: inline-block;
      padding-left: 28px;
      font-size: fs(14);
      letter-spacing: 1px;
      line-height: fs(25);
      font-weight: bold;
      font-family: $font-b;
      background: url(../images/common/icon-mail.svg) left center / 19px 14px no-repeat;
    }
  }

  &-balloon {
    &--item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        flex-flow: row-reverse;
        .blog-balloon--item-cnt {
        	&:before {
	          position: absolute;
	          left: auto;
	          right: -12px;
	          top: 20px;
	          display: block;
	          width: 0;
	          height: 0;
	          border-top: 10px solid transparent;
	          border-bottom: 10px solid transparent;
	          border-left: 15px solid #F1F3F5;
	          border-right: none;
	          content: "";
	        }
        }
      }

      &-thumbWrap {
        width: 80px;
      }

      &-thumb {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
      }

      &-name {
        margin-top: 10px;
        color: #7B7B7B;
        font-size: fs(10);
        letter-spacing: .25px;
        line-height: fs(14);
        font-weight: bold;
        text-align: center;
      }

      &-cnt {
        position: relative;
        width: calc(100% - 100px);
        margin-top: 10px;
        position: relative;
        padding: 25px 30px;
        background-color: #F1F3F5;
        border-radius: 5px;
        font-size: fs(14);
        font-family: $font-base;

        &:before {
          position: absolute;
          left: -12px;
          top: 20px;
          display: block;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 15px solid #F1F3F5;
          content: "";
        }
      }
    }
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-base;
}
.post-title-alt {
  font-family: $font-base;
}
.main-slider.common-slider.classic-slider {
  position: relative;
  padding: 10px 0 20px;
  background-color: #76C4EA;
  @include mq() {
    padding-top: 0;
  }
  @include mq(sm2) {
    margin-bottom: 15px;
  }

  &:before {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    background: url(../images/common/bg-triangle-down.svg) bottom left repeat-x;
    content: "";
  }
}

.common-slider .slick-arrow i {
  display: none;
}

.common-slider .loaded .item {
  margin: 0 25px;
}

.next-arrow.slick-arrow,
.prev-arrow.slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff url(../images/common/icon-prev-blue.svg) left 20px center / 13px 16px no-repeat;
  margin-left: -32px;

  @include mq() {
    margin-left: -15px;
  }

  &:hover {
    opacity: .8;
    background: #fff url(../images/common/icon-prev-blue.svg) left 20px center / 13px 16px no-repeat;
  }
}

.next-arrow.slick-arrow {
  background: #fff url(../images/common/icon-next-blue.svg) left 26px center / 13px 16px no-repeat;

  @include mq() {
    right: 5px;
  }

  &:hover {
    opacity: .8;
    background: #fff url(../images/common/icon-next-blue.svg) left 26px center / 13px 16px no-repeat;
  }
}

// .common-slider .slick-arrow:hover {
// 	background: #fff url(../images/common/icon-next-blue.svg) left 26px center / 13px 16px no-repeat;	
// }

.tsi-angle-left {
  display: none;
}

.common-slider .loaded .item {
  border-radius: 5px;
  overflow: hidden;
}

.main-slider .item:after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(140, 140, 140, 0) 45%, rgba(0, 0, 0, 0.8) 100%);
}
// .active .slider-overlay {
//   height: 100%;
//   text-align: center;
// }
.main-slider .slider-overlay {
  @include mq() {
    padding: 20px;
  }
}

.slider-overlay .excerpt {
  display: none;
}

// .slider-overlay .read-more {
//   float: none;
// }

// .classic-slider .heading {
//   max-width: 100%;
// }

// .main-slider .slider-overlay {
//   padding: 140px 75px 0;

//   @include mq() {
//     padding: 120px 25px 0;
//   }

//   @include mq(sm2) {
//     padding: 20px 10px 0;
//   }
// }

.slider-overlay .category {
  // display: inline-block;
  // margin-right: 2px;
  // margin-bottom: 29px;
  padding: 4px 15px;
  background-color: #fff;
  color: #2FB8FC;
  border-radius: 70px;
  font-size: fs(12);
  line-height: fs(17);
  transition: all .3s;
  text-align: center;

  @include mq(sm2) {
    padding: 2px 10px;
    font-size: fs(10);
  }

  &:hover {
    opacity: .7;
  }
}

// .classic-slider .heading {
//   margin-bottom: 150px;
//   font-size: fs(28);
//   letter-spacing: 1.4px;
//   line-height: fs(40);
//   font-weight: bold;

//   @include mq() {
//     margin-bottom: 100px;
//   }

//   @include mq(sm2) {
//     margin-bottom: 20px;
//     font-size: fs(16);
//     line-height: fs(18);
//   }
// }
.slider-overlay .heading {
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
  }
}

.slider-overlay .read-more {
  border-radius: 20px;
  // padding: 10px 50px;
  font-size: fs(12);

  // @include mq(sm2) {
  //   border-radius: 20px;
  //   padding: 8px 30px;
  //   font-size: fs(10);
  //   display: inline-block;
  // }
}

.widget_search .search-field {
  height: 60px;
  border-radius: 4px;
  font-size: fs(13);
  letter-spacing: .33px;
  line-height: fs(21);
  color: #7B7B7B;
  font-weight: bold;
  border: none;
  font-family: $font-base;
  background: #EFF3F4 url(../images/common/icon-search-black.svg) right 16px center / 14px 15px no-repeat;
}

.widget-title:not(.has-style),
.block-head-widget {
  border: none;
  padding: 0;
  text-align: left;
  font-size: fs(20);
  line-height: fs(28);
  font-weight: bold;
  font-family: $font-c;
  margin-bottom: 20px;
}

.widget_search button {
  display: none;
}

.main .sidebar {
  padding-right: 32px;

  @include mq() {
    margin-top: 30px;
  }
  @include mq(sm2) {
    margin-top: 70px !important;
  }
}

.ts-contain, .main {
  margin-top: 0;
}

.column,
.ts-row [class^="col-"],
.ts-row [class*=" col-"] {
  padding-left: 32px;

  @include mq(sm2) {
    margin-top: 30px;
    padding: 0 15px;
  }
}

.ts-row [class^="col-"] {
  padding: 0;
}
.ts-row {
  margin-left: 0;
  margin-right: 0;
  @include mq() {
    display: flex;
    flex-flow: column-reverse;
  }
}

.row.type2 {
  @include mq(sm2) {
    padding: 0 30px 40px !important;
    .col-6 {
      margin-top: 15px;
      text-align: center;
       .post-share-icons.cf {
        justify-content: center;
       }
    }
  }
}

.wpp-list li {
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  counter-increment: ranking;

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border-radius: 4px 0px;
    color: #fff;
    background-color: #19A1E6;
    font-family: $font-b;
    font-size: fs(11);
    font-weight: bold;
    content: counter(ranking);
  }
}

.wpp-thumbnail {
  border-radius: 5px;
  overflow: hidden;
  height: 57px;
}

.wpp-post-title {
  display: block;
  margin-bottom: 15px;
  font-size: fs(14);
  font-weight: bold;
  line-height: fs(22);
  color: #000;
}

.post-meta .meta-item,
.post-meta .comments,
.post-meta time,
.wpp-excerpt {
  margin-bottom: 0;
  font-size: fs(11);
  font-weight: bold;
  line-height: fs(18);
  color: #909090;
  font-family: $font-b;
}

.ar-cheerup-thumb {
  border-radius: 5px;
  overflow: hidden;
}

.widget_categories a,
.widget_product_categories a,
.widget_archive a {
  padding-left: 24px;
  font-size: fs(13);
  line-height: fs(18);
  letter-spacing: .33px;
  font-weight: bold;
  background: url(../images/common/icon-pencil.svg) left center / 14px 14px no-repeat;
}

.widget_categories a:before,
.widget_product_categories a:before,
.widget_archive a:before {
  display: none;
}

.widget_categories li,
.widget_product_categories li,
.widget_archive li {
  padding: 18px 0;
}

.tagcloud a {
  padding: 10px;
  color: #7B7B7B;
  background-color: #F1F3F5;
  border-radius: 2px;
  font-size: fs(11);
  font-weight: bold;
}

.posts-dynamic .grid-post {
    margin-bottom: 40px;
}

.grid-post {
  --pm-h-below-mb: 10px;
}

.grid-post .post-thumb {
  border-radius: 5px;
  overflow: hidden;
}

.meta-above {
  text-align: center;
}
.grid-post .post-title-alt {
  margin-bottom: 15px;
  margin-top: 18px;
  font-size: fs(18);
  line-height: fs(25);
  letter-spacing: 1px;
  a {
    display: block;
  }
}

.below.meta-below {
  text-align: center;
}


.grid-post .post-footer {
  margin-top: 0;
  border-bottom: none;
}

.main-pagination.number .inner {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-pagination.number .label-prev {
  margin-right: 40px;

  span,
  a {
    display: block;
    width: fs(50);
    height: fs(50);
    padding: 0 11px;
    border-radius: 50%;
    background: #000 url(../images/common/icon-arrow-left-white.png) left 20px center / 7px 10px no-repeat;
    // display: none;
    font-size: 0;

    i {
      display: none;
    }

    &.disabled {
      opacity: .7;

      &:hover {
        background-color: #000;
      }
    }

    &:hover {
      background-color: #76C4EA;
    }
  }
}

.main-pagination.number .label-next {
  margin-left: 40px;

  span,
  a {
    display: block;
    width: fs(50);
    height: fs(50);
    padding: 0 11px;
    border-radius: 50%;
    background: #000 url(../images/common/icon-arrow-right-white.png) left 22px center / 7px 10px no-repeat;
    // display: none;
    font-size: 0;

    i {
      display: none;
    }

    &.disabled {
      opacity: .7;
    }

    &:hover {
      background-color: #76C4EA;
    }
  }
}

.main-pagination.number .page-numbers.current {
  color: #1F1F1F;
}

.main-pagination.number .page-numbers,
.main-pagination.number a {
  font-size: fs(18);
  line-height: fs(30);
  color: #EAE9E6;
  font-family: $font-base;
}

.posts-dynamic .posts-wrap .col-6 {
  .post-meta .post-cat>a {
    color: #56B3DD;
    &.pink {
      color: #DF89C8;
    }
    &.yellow {
      color: #BFAF79;
    }
    &.green {
      color: #86B94C;
    }
    &.purple {
      color: #5666DD;
    }
    &.orange {
      color: #E69970;
    }
  }
}

.posts-dynamic .grid-post {
  @include mq(sm2) {
    margin-bottom: 15px;
  }
}

// Blog category 
.archive-head {
  background-color: #9FD6F0;
  border: none;
}

.archive-head .sub-title {
  color: #fff;
  font-family: $font-b;
  font-weight: bold;
  font-size: fs(11);
}

.archive-head .title {
  font-family: $font-base;
  font-weight: bold;
}

.breadcrumbs {
  margin-top: 10px;
  font-family: $font-b;
  color: #B7B7B7;
}

.breadcrumbs .delim {
  position: relative;
  width: 18px;
  margin: 0 12px;

  &:before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #D5D5D5;
    content: "";
  }
}

.breadcrumbs .delim i {
  display: none;
}

.breadcrumbs .breadcrumb_last,
.breadcrumbs .current {
  color: #000;
}

// Blog Detail
.breadcrumbs+.main {
  margin-top: 50px;
  @include mq(sm2) {
    margin-top: 20px;
  }
}

article {
  .row {
    .col-6 {
      color: #aaa;
      font-size: fs(11);
      font-family: $font-b;
      letter-spacing: .28px;
      font-weight: bold;

      .post-categories {
        padding-top: 6px;
        margin-right: 10px;
        display: inline-block;
        font-family: $font-base;
        color: #56B3DD;
      }
    }
  }
}

.post-share-icons a {
  background-color: #F1F3F5;
  border: none;
}

.the-post .featured {
  margin-bottom: 10px;
}

#toc_container {
  width: 100%;
  border-left: none;
  border-right: none;
  border-color: #EAE9E6;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 60px;
}

#toc_container p.toc_title {
  text-align: left;
  padding-left: 22px;
  background: url(../images/common/icon-list-gray.svg) left center / 15px 12px no-repeat;
}

#toc_container a span {
  display: none;
}


#toc_container p.toc_title+ul.toc_list {
  margin-top: 30px;

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      padding-left: 22px;
      font-size: fs(15);
      line-height: fs(32);
      letter-spacing: .38px;
      font-weight: bold;
      color: #000;
      background: url(../images/common/icon-tick.svg) left center / 12px 9px no-repeat;
    }

    ul {
      margin-top: 6px;

      li {
        margin-bottom: 3px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          position: relative;
          padding-left: 12px;
          color: #7B7B7B;
          background: none;
          font-weight: normal;

          &:before {
            position: absolute;
            top: 12px;
            left: 0;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #3CAAE0;
            content: "";
          }
        }
      }
    }
  }
}

figure.wp-block-image {
  margin: 0;
  @include mq(sm2) {
    margin: 15px 0;
  }
}

.wp-block-columns {
  @include mq(sm2) {
    margin-bottom: 0;
  }
}

.has-border {
  padding: 2em 2.375em;
  border: solid 8px #F1F3F5;
}

.has-quote {
  position: relative; 
  padding: 5px 2.375em;
  font-size: fs(14);
  color: #818181;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 21px;
    height: 18px;
    background: url(../images/common/icon-quote-left.svg) no-repeat;
    content: "";
  }
  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 21px;
    height: 18px;
    background: url(../images/common/icon-quote-right.svg) no-repeat;
    content: "";
  }
}

.section-head {
  text-align: left;
}

.section-head .title {
  padding-top: 0;
  font-size: fs(22);
  padding: 0 30px;
  font-family: $font-base;
}

.section-head:before {
  display: none;
}

.related-posts .posts {
  padding-top: 30px;
}

.ts-row {

  .post {
    .post-cat2 {
    display: inline-block;
    margin-top: 15px;    
  }
  .post-cat2>a {
    font-size: fs(11);
    font-weight: bold;
    color: #56B3DD;
  }

  &:nth-child(2n + 2) {
    .post-cat2>a {
      color: #DF89C8;
    }
  }

  &:nth-child(2n + 3) {
    .post-cat2>a {
      color: #BFAF79;
    }
  }

  &:nth-child(2n + 4) {
    .post-cat2>a {
      color: #86B94C;
    }
  }

  &:nth-child(2n + 6) {
    .post-cat2>a {
      color: #5666DD;
    }
  }

  &:nth-child(2n + 6) {
    .post-cat2>a {
      color: #E69970;
    }
  }
  }

}

.related-posts.grid-2 .post-title {
  padding: 0;
}

.post-share-icons.cf {
    display: flex;
    justify-content: flex-end;
    @include mq() {
      justify-content: flex-start;
    }
}

.sidebar {
  padding-right: 65px !important;
  @include mq() {
    padding-right: 0 !important;
  }
}

.sidebar .widget {
  margin-bottom: 70px;
  .below.meta-below {
    text-align: left;
  }
}

.breadcrumbs span {
  @include mq(sm2) {
    flex-shrink: 0;
  }
}

.posts-dynamic .posts-wrap {
  margin: 0 -15px;
  .col-6 {
    padding: 0 15px;
  }
}

.tsi-google {
  &:hover {
    &:before {
      background-image: url(../images/common/icon-google-blue.svg);
    }
  }
  &:before {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url(../images/common/icon-google-black.svg) no-repeat;
    content: "";
  }
}

.tsi-line {
  &:hover {
    &:before {
      background-image: url(../images/common/icon-line-blue.svg);
    }
  }
  &:before {
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url(../images/common/icon-line-black.svg) no-repeat;
    content: "";
  }
}

.tsi-bing {
  &:hover {
    &:before {
      background-image: url(../images/common/icon-bing-blue.png);
    }
  }
  &:before {
    display: inline-block;
    width: 11px;
    height: 10px;
    background: url(../images/common/icon-bing-black.png) no-repeat;
    background-size: 100%;
    content: "";
  }
}

.tsi-facebook {
  &:hover {
    &:before {
      background-image: url(../images/common/icon-facebook-blue.svg);
    }
  }
  &:before {
    display: inline-block;
    width: 7px;
    height: 12px;
    background: url(../images/common/icon-facebook-black.svg) no-repeat;
    background-size: 100%;
    content: "";
  }
}

.tsi-twitter {
  &:hover {
    &:before {
      background-image: url(../images/common/icon-twitter-blue.svg);
    }
  }
  &:before {
    display: inline-block;
    width: 13px;
    height: 11px;
    background: url(../images/common/icon-twitter-black.svg) no-repeat;
    background-size: 100%;
    content: "";
  }
}

.tsi-pinterest-p {
  &:hover {
    &:before {
      background-image: url(../images/common/icon-pinterest-blue.svg);
    }
  }
  &:before {
    display: inline-block;
    width: 10px;
    height: 12px;
    background: url(../images/common/icon-pinterest-black.svg) no-repeat;
    background-size: 100%;
    content: "";
  }
}

p.has-background {
    padding: 2.25em 2.375em;
}

.related-posts  {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  &:before {
    position: absolute;
    top: 0;
    left: 32px;
    display: block;
    height: 1px;
    width: calc(100% - 32px - 15px);
    background-color: #EAE9E6;
    content: "";
    @include mq() {
      left: 0;
      width: 100%;
    }
  }
  .section-head {
    margin-top: 0;
  }
}

.post-content {
  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 16px;
  }
  a {
    color: #000000;
  }
}

// not found
.p-notfound {
  &Wrap {
    @include mq() {
      display: flex;
      flex-flow: column-reverse;
      .search-form {
        display: none;
      }
    }
  }
  &--ttl {
    margin-bottom: 30px;
    font-size: fs(18);
    letter-spacing: .9px;
    line-height: fs(36);
    font-weight: bold;
  }
  &--form {
    margin-top: 20px;
    background-color: #EFF3F4;
    padding: 25px;
    form {
      display: flex;
      input[type=text] {
        width: 100%;
        padding: 24px 20px;
        font-size: fs(14);
        font-weight: bold;
        letter-spacing: .7px;
        color: #001027;
        border-color: #EFF3F4;
        border-radius: 4px 0 0 4px;
      }
      input[type=submit] {
        padding: 13px 30px 13px 50px;
        background: #001027 url(../images/common/icon-search-white3.svg) left 26px center / 16px 16px no-repeat;
        border-radius: 0px 8px 8px 0px;
        transition: all .3s;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
}

// Modal category
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10000;
  transition: all .3s;
  transform: translateX(-100%);
  // visibility: hidden;
  &.active {
    transform: translateX(0);
  }
}

.blog-nav-ctrl {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 18px;
    height: 27px;
    transition: all .3s;
    z-index: 9995;
    display: none;
    @include mq() {
      display: block;
      top: 23px;
    }

    &:hover,
    &:focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      height: 2px;
      width: 18px;
      background: #fff;
      transition: .3s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 6px;
      }

      &:nth-child(3) {
        top: 12px;
      }
    }

    &.open {
      span {
        background: #fff;
        &:nth-child(1) {
          left: 0;
          top: 6px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          // top: 6px;
          // transform: rotate(-45deg);
        }

        &:nth-child(3) {
          top: 6px;
          transform: rotate(-45deg);
        }
      }
    }
  }

.blog-nav-close {
  display: block;
  position: fixed;
  right: 25vw;
  top: 0;
  width: 30px;
  height: 30px;
  background: #76C4EA url(../images/common/icon-close.svg) center center / 12px 12px no-repeat;
  content: "";
  z-index: 10002;
  transition: all .3s;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  &.active {
    -webkit-transform: translateY(0);
  }
}

.blog-nav-gotop {
  position: absolute;
  left: 60px;
  top: 12px;
  color: #58B3E0;
  padding: 9px 12px 9px 25px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 60px;
  background: #fff url(../images/common/icon-home2.svg) left 8px center / 10px 11px no-repeat;
}


// form search 
.blog-nav--form {
  display: flex;
  position: absolute;
  top: 50px;
  right: -5.3vw;
  transform: translateX(38px);
  -webkit-transform: translateX(38px);
  width: 290px;
  // display: none;
  pointer-events: none;
  opacity: 0;
  transition: all .3s;
  @include mq() {
    top: 55px;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
  }
  @include mq(sm2) {
    width: calc(100vw - 50px);
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
    // display: flex;
  }

  &.type2 {
    @include mq() {
      position: relative;
      display: flex !important;
      width: 100%;
      transition: all .3s;
      opacity: 1;
      top: 0;
      right: 0;
      margin-top: 30px;
      pointer-events: auto;
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  }

  .search-boxInput {
    width: 100%;
    height: 36px;
    font-size: fs(14);
    line-height: 14px;
    padding: 2px 10px;
    border-radius: 3px;
    border: none;
    border: 1px solid #E3E3E3;
    border-radius: .3rem 0 0 .3rem;
    font-family: $font-base;
    background-color: #fff;
    @include mq(sm2) {
      font-size: fs(12);
    }
    &::-webkit-input-placeholder { /* Edge */
      color: #7B7B7B;
    }

    &:-ms-input-placeholder { /* Internet Explorer */
      color: #7B7B7B;
    }

    &::placeholder {
      color: #7B7B7B;
    }
  }
  
  input[type="submit"] {
    height: auto;
    font-size: fs(14);
    line-height: 14px;
    padding: 3px 1em;
    color: #fff;
    border-radius: 0 .3rem .3rem 0;
    border: none;
    background: #FFC646;
    display: inline-block;
    transition: all .3s;
    @include mq(sm2) {
      font-size: fs(12);
    }
    &:hover {
      opacity: .7;
    }
  }
}


// popup
.blog-popup {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 280px;
  background-color: #fff;
  box-shadow: 0px 6px 6px #E5E5E5;
  border-radius: 8px;
  z-index: 9999998;
  @include mq(sm2) {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    -webkit-transform: translate(50%, 50%);
  }
  &--ctrl {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    cursor: pointer;
    z-index: 9999999;
  }
  &--inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &--cnt {
    &-thumb {
      height: 187px;
      text-align: center;
      margin-bottom: 0;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
    &-infor {
      padding: 18px;
      .notice-slider--item-ttl {
        font-size: fs(16);
        margin-bottom: 10px !important;
      }
      .txt-blue,
      .txt-blue2,
      .desc4 {
        margin-bottom: 0 !important;
      }
      .date4 {
        margin-bottom: 0 !important;
      }
    }
  }
  &--overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,.5);
    z-index: 9999997;
    @include mq(sm2) {
      display: block;
    }
  }
}