@charset "UTF-8";
// ===========================
// FORM, INPUT, 
// CHECKBOX, SELECT, ...
// ===========================

// Form, input, checkbox
.form-one {
  position: relative;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
        appearance: none;
  background: #FAFCD7 url(../images/common/icon-arrow-down-gray.png) right 15px center / 8px 7px no-repeat;
  font-family: $font-base;
  &:focus {
    background: #fff url(../images/common/icon-arrow-up-gray.png) right 15px center / 8px 7px no-repeat;
    @include mq() {
      background-position: right 8px center;
    }
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  &::-ms-expand {
      display: none;
  }
}

.input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 10px 40px 10px 16px;
  color: #7B7B6C;
  background-color: #FAFCD7;
  border: 1px solid #C7C7C7;
  border-radius: 2px;
  font-size: fs(12);
  transition: all .3s;
  font-family: $font-base;
  font-weight: bold;
  &:focus,
  &.active {
    border-color: #000;
    background-color: #fff;
    color: #000;
  }
  &.textarea {
    height: 140px;
  }
}

.checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  &+label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 38px;
  }

  // Box.
  &+label:before {
    top: -5px;
    left: 0;
    position: absolute;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 30px;
    height: 30px;
    background: #FAFCD7;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    content: '';
    @include mq() {
    	top: -8px;
  	}
  }
  &:checked + label:before {
    background-color: #7B7B6C;
    border-color: #7B7B6C;
  }

  // Disabled state label.
  &:disabled+label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled+label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked+label:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 9px;
    background: #FAFCD7;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 #FAFCD7,
      4px 0 0 #FAFCD7,
      4px -2px 0 #FAFCD7,
      4px -4px 0 #FAFCD7,
      4px -6px 0 #FAFCD7,
      4px -8px 0 #FAFCD7;
    transform: rotate(45deg);
    @include mq() {
    	top: 6px;
  	}
  }
}

.checkbox2 {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it
  &.type2 {
    &+ label:before {
      background-color: #fff;
    }
  }
  &.type3 {
    &+label {
      color: #fff;
    }
  }
  &.type4 {
    &+ label:before {
      top: -1px;
    }
    &:checked + label:after {
      top: 4px;
    }
  }
  &.type5 {
    &+ label:before {
      top: 2px;
    }
    &:checked + label:after {
      top: 7px;
    }
  }
  &.white {
    &+ label:before {
      background-color: #fff;
    }
  }

  &+label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 27px;
    font-size: fs(15);
    line-height: fs(25);
    font-weight: bold;
  }

  // Box.
  &+label:before {
    top: -1px;
    left: 0;
    position: absolute;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    background: #EDEDED;
    border-radius: 3px;
    content: '';
    @include mq() {
      // top: -8px;
    }
  }
  &:checked + label:before {
    background-color: #001027;
  }

  // Disabled state label.
  &:disabled+label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled+label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked+label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 4px;
    background: #2FB8FC;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    // box-shadow:
    //   2px 0 0 #EDEDED,
    //   4px 0 0 #EDEDED,
    //   4px -2px 0 #EDEDED,
    //   4px -4px 0 #EDEDED,
    //   4px -6px 0 #EDEDED,
    //   4px -8px 0 #EDEDED;
    // transform: rotate(45deg);
    @include mq() {
      // top: 6px;
    }
  }
}


.search {
  position: absolute;
  top: calc(50% - 7px);
  right: 16px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: none;
  background: url(../images/common/icon-search.svg) 100% 100% no-repeat;
  content: "";
}

.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  &Wrap {
    margin: 20px 0 30px;
  }
  &.type2 {
    li {
      width: 25%;
      @include mq() {
        width: 100%;
      }
    }
  }
  li {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: left;
    @include mq() {
      width: 100%;
    }
  }
  &--row {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--ttl {
    margin-bottom: 15px;
    padding-left: 22px;
    font-size: fs(17);
    line-height: fs(24);
    font-weight: bold;
    background: url(../images/common/icon-hammer.svg) left center / 17px 15px no-repeat;
    &.type2 {
      background: url(../images/common/icon-ruler.svg) left center / 15px 15px no-repeat;
    }
    &.type3 {
      background: url(../images/common/icon-star.svg) left center / 16px 15px no-repeat;
    }
  }
}

.form-action {
  display: flex;
  justify-content: center;
}

.form-area {
  padding: 50px;
  border: 6px solid #F1F3F5;
  &.type2 {
    border-radius: 6px;
    border: none;
    padding: 0;
    overflow: hidden;
    .form-area {
      &-label {
        margin-bottom: 0;
        color: #FFFFFF;
        background: url(../images/common/icon-location-white.svg) left center / 15px 20px no-repeat;

        &Wrap {
          position: relative;
          padding: 20px;
          background-color: #76C4EA;
          cursor: pointer;
          &:after {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            display: inline-block;
            width: 12px;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
            transition: all .3s;
            content: "";
          }
          &:before {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            // transform: translateY(-50%) rotate(90deg);
            // -webkit-transform: translateY(-50%) rotate(90deg);
            display: inline-block;
            width: 12px;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
            content: "";
            transition: all .3s;
            @include mq(sm2) {
              transform: translateY(-50%) rotate(90deg);
              -webkit-transform: translateY(-50%) rotate(90deg);
            }
          }
          &.active {
            margin-bottom: 0;
            @include mq(sm2) {
              margin-bottom: 15px;
            }
            &:after {
              transform: translateY(-50%) rotate(-180deg);
              -webkit-transform: translateY(-50%) rotate(-180deg);
            }
            &:before {
              transform: translateY(-50%) rotate(-90deg);
              -webkit-transform: translateY(-50%) rotate(-90deg);
              @include mq(sm2) {
                transform: translateY(-50%) rotate(-180deg);
                -webkit-transform: translateY(-50%) rotate(-180deg);
              }
            }
          }
          &+.js-modelHouseAcCnt {
            @include mq(sm2) {
              display: none;
            }
          }
          &+div {
            @include mq(sm2) {
              display: none;
            }
          }
        }
      }
      &-cnt {
        display: block;
        padding: 25px 20px;
      }
      &-row {
        width: 100%;
        margin-bottom: 0;
      }
      &-btn {
        display: block;
        padding: 0 20px;
        .btn-reset {
          width: 100%;
          margin-bottom: 12px;
        }
        .btn-submit {
          width: 100%;
          max-width: 100%;
          padding: 14px 20px;
        }
      }
    }
  }
  &-cnt {
    display: flex;
    margin: 0 -6px;
    @include mq() {
      display: block;
      margin: 0;
    }
  }
  &-label {
    margin-bottom: 30px;
    padding-left: 23px;
    font-size: fs(18);
    line-height: fs(22);
    font-weight: bold;
    font-family: $font-a;
    color: #3CAAE0;
    background: url(../images/common/icon-location-blue.svg) left center / 15px 20px no-repeat;
  }
  &-row {
    width: 25%;
    padding: 0 6px;
    margin-bottom: 30px;
    @include mq() {
      width: 100%;
      padding: 0;
    }
    &-inner {
      height: 100%;
      border-radius: 6px;
      overflow: hidden;
      background-color: #fff;
    }
    @include mq() {
      padding: 0;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    li {
      width: 100%;
      margin-bottom: 10px;
      @include mq(sm2) {
        width: 100%;
      }
      .checkbox2 + label {
        font-size: fs(14);
        line-height: fs(28);
        font-weight: normal;
      }
      .checkbox2 + label:before {
        top: -2px;
      }
      .checkbox2:checked + label:after {
        top: 3px;
      }
    }
  }
  &-ttl {
    font-size: fs(17);
    letter-spacing: .8px;
    line-height: fs(20);
    font-weight: bold;
    .checkbox2 + label {
      padding-left: 34px;
    }
    .checkbox2 + label:before {
      width: 22px;
      height: 22px;
      top: -3px;
    }
    .checkbox2:checked + label:after {
      left: 7px;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(tb) {
      justify-content: space-between;
    }
    @include mq(sm2) {
      flex-flow: column-reverse;
      width: 100%;
    }
    .btn-reset {
      margin-right: 20px;
      padding: 12px 20px;
      border-radius: 20px;
      color: #001027;
      @include mq(sm2) {
        margin-right: 0;
        margin-top: 20px;
        position: static;
        width: 100%;
      }
      @include mq(tb) {
        width: 40%;
        margin: 0;
      }
    }
  }
}

.select2 {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #001027;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: .7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/common/icon-plus-blue.svg) right center/10px 10px no-repeat;
}

select.select2::-ms-expand {
    display: none;
}