@charset "UTF-8";
// ===========================
// Layouts (column, row, ..),
// Format layout
// ===========================

// Format layout
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}


// Layouts (column, row, ..)
.col2-table {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
	@include mq(sm2) {
		display: block;
		margin: 0;
	}
	&-item {
		width: 50%;
		padding: 0 20px;
		margin-bottom: 20px;
		@include mq(sm2) {
			width: 100%;
			padding: 0;
		}
		.table {
			width: 100%;
		}
		&--tags {
			margin-top: 20px;
			padding: 10px 20px;
			background-color: #F1F2F5;
			border-radius: 8px;
		}
	}
}


.col2-75 {
	display: flex;
  justify-content: space-between;
  @include mq(sm2) {
		display: block;
	}
  &--left {
  	@include mq(sm2) {
			width: 100%;
			margin-bottom: 20px;
		}
  }
  &--right {
  	width: 25%;
  	margin-left: 20px;
  	flex-shrink: 0;
  	@include mq(sm2) {
			width: 100%;
			margin-left: 0;
		}
  }
}

.col2-25 {
	display: flex;
  justify-content: space-between;
  @include mq(sm2) {
		display: block;
	}
  &--left {
  	width: 25%;
  	margin-right: 20px;
  	flex-shrink: 0;
  	@include mq(sm2) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}
  }
  &--right {
  	@include mq(sm2) {
			width: 100%;
			margin-bottom: 20px;
		}
  }
}

.col2 {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
	@include mq(sm2) {
		display: block;
		margin: 0;
	}
	&-item {
		width: 50%;
		padding: 0 20px;
		margin-bottom: 20px;
		@include mq(sm2) {
			width: 100%;
			padding: 0;
		}
		.table {
			width: 100%;
		}
	}
}

.col3 {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	@include mq(sm2) {
		display: block;
		margin: 0;
	}
	&-item {
		width: 33.33%;
		padding: 0 10px;
		margin-bottom: 20px;
		@include mq(sm2) {
			width: 100%;
			padding: 0;
		}
		&--inner {
			display: block;
		}
	}
}

.col4 {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	@include mq(sm2) {
		display: block;
		margin: 0;
	}
	&-item {
		width: 25%;
		padding: 0 10px;
		margin-bottom: 20px;
		@include mq(sm2) {
			width: 100%;
			padding: 0;
		}
		&--inner {
			display: block;
		}
	}
}

.col5 {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	@include mq(sm2) {
		display: block;
		margin: 0;
	}
	&-item {
		width: 20%;
		padding: 0 10px;
		margin-bottom: 20px;
		@include mq(sm2) {
			width: 100%;
			padding: 0;
		}
		&--inner {
			display: block;
		}
	}
}


// List
.list-result {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px 30px;
	@include mq(sm2) {
		display: block;
		margin: 0 0 30px;
	}
	&.type2 {
		li {
			width: 50%;
			@include mq(sm2) {
				width: 100%;
				padding: 0;
			}
		}
	}
	li {
		width: 33.33%;
		margin-bottom: 20px;
		padding: 0 10px;
		@include mq(sm2) {
			width: 100%;
			padding: 0;
		}
		a {
			height: 100%;
			border: solid #EAE9E6;
			border-width: 0 1px 1px 1px;
			border-radius: 8px;
		}
	}
	&-thumb {
		overflow: hidden;
		border-radius: 8px 8px 0 0;
		height: 223px;
		img {
			width: 100%;
			height: 100%;
			border-radius: 8px 8px 0 0;
		}
	}
	&-cnt {
		padding: 15px 15px 25px;
		&-ttl {
			margin-bottom: 15px;
			font-size: fs(18);
			line-height: fs(28);
			font-weight: bold;
		}
		&-table {
			table {
				font-size: fs(12);
				tr {
				}
				th {
					position: relative;
					font-weight: bold;
					min-width: 80px;
					padding: 5px 10px 5px 0;
					padding-left: 14px;
					&:before {
						position: absolute;
						left: 0;
						top: 13px;
						display: block;
						width: 5px;
						height: 5px;
						border: 1px solid #7D8794;
						border-radius: 50%;
						content: "";
					}
				}
				td {
					padding: 5px 0 5px 10px;
				}
			}
		}
		.location {
			margin-top: 30px;
		}
	}
}

.content-result {
	display: flex;
	@include mq(sm2) {
  	display: block;
  	// flex-flow: column-reverse;
  }
	&--sidebar {
		width: 295px;
		margin-right: 60px;
    margin-bottom: 50px;
    flex-shrink: 0;
    @include mq(tb) {
    	width: 260px;
      margin-right: 30px;
    }
    @include mq(sm2) {
    	width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
		&-condition {
			margin-bottom: 20px;
			padding: 25px;
			border: 4px solid #EFF1F3;
			&-ttl {
				position: relative;
				margin-bottom: 15px;
				font-size: fs(17);
				line-height: fs(22);
				font-weight: bold;
				cursor: pointer;
				transition: all .3s;
				@include mq(sm2) {
					margin-bottom: 0;
				}
				&:after {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					display: inline-block;
					width: 12px;
					height: 2px;
					border-radius: 1px;
					background-color: #76C4EA;
					transition: all .3s;
					content: "";
				}
				&:before {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					// transform: translateY(-50%) rotate(90deg);
					// -webkit-transform: translateY(-50%) rotate(90deg);
					display: inline-block;
					width: 12px;
					height: 2px;
					border-radius: 1px;
					background-color: #76C4EA;
					content: "";
					transition: all .3s;
					@include mq(sm2) {
						transform: translateY(-50%) rotate(90deg);
						-webkit-transform: translateY(-50%) rotate(90deg);
					}
				}
				&.active {
					margin-bottom: 0;
					@include mq(sm2) {
						margin-bottom: 15px;
					}
					&:after {
						transform: translateY(-50%) rotate(-180deg);
						-webkit-transform: translateY(-50%) rotate(-180deg);
					}
					&:before {
						transform: translateY(-50%) rotate(-90deg);
						-webkit-transform: translateY(-50%) rotate(-90deg);
						@include mq(sm2) {
              transform: translateY(-50%) rotate(-180deg);
              -webkit-transform: translateY(-50%) rotate(-180deg);
            }
					}
				}
				&+ul {
					display: block;
					@include mq(sm2) {
						display: none;
					}
				}
			}
			ul {
				li {
					margin-bottom: 15px;
					padding-left: 18px;
					font-size: fs(15);
					line-height: fs(22);
					background: url(../images/common/icon-check2.svg) top 5px left no-repeat;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	&--cnt {
		width: 100%;
		@include mq(sm2) {
			margin-bottom: 50px;
		}
	}
	&Wrap {

	}
	&--counter {
		margin-bottom: 15px;
		font-size: fs(15);
		line-height: fs(28);
		font-weight: bold;
		.count {
			display: inline-block;
			margin: 0 5px 0 10px;
			font-size: fs(20);
		}
		.unit {
			font-size: fs(14);
			color: #7D8794;
		}
	}
}

.list-category {
	display: flex;
	flex-wrap: wrap;
	margin: 20px -15px 0;
	@include mq(sm2) {
		display: block;
		margin: 0;
	}
	li {
		width: 33.33%;
		padding: 0 15px;
		@include mq(sm2) {
			width: 100%;
			padding: 0;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			height: 100%;
			border-radius: 10px;
		}
	}
	&-thumb {
		margin-bottom: 20px;
		overflow: hidden;
		border-radius: 10px;
		height: 215px;
		img {
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}
	}
	&-btn {
		margin-top: 40px;
	}
}


// update 2021/6/29
.d-flex {
	display: flex;
	justify-content: space-between;
	@include mq() {
		display: block;
	}
}

.Adgxe {
	display: flex;
	justify-content: space-between;
	@include mq() {
		display: block;
	}
	.d-flex {
		@include mq() {
			display: flex;
		}
		.addStant {
			font-weight: bold;
			margin-right: 20px;
		}
	}
}