@charset "UTF-8";
/* -------------------
  PAGINATION
--------------------*/
.pagination {
  margin: 50px auto 20px;

  @include mq() {
    margin: 35px auto 50px;
  }

  &-label {
    margin-bottom: 7px;
    font-size: fs(10);
    color: #000;
    text-align: center;
  }

  &-list {
    display: flex;
    text-align: center;
    flex-flow: wrap;
    justify-content: center;

    a {
      width: fs(35);
      height: fs(50);
      display: flex;
      margin: 0 fs(2);
      justify-content: center;
      align-items: center;
      color: #EAE9E6;
      font-size: fs(18);
      letter-spacing: 0;
      line-height: 1.4;
      transition: all .3s;

      @include mq() {
        margin-bottom: 5px;
        width: fs(30);
        height: fs(30);
        font-size: fs(16);
      }

      &:hover {
        color: #000;
      }

      &.active {
        color: #1F1F1F;
        pointer-events: none;
      }

      &.ctrl {
        width: fs(50);
        height: fs(50);
        padding: 0 11px;
        border: 1px solid #EAE9E6;
        background-color: #fff;
        border-radius: 50%;
        @include mq() {
          width: fs(30);
          height: fs(30);
        }
        &:hover {
          border-color: #3CAAE0;
          // svg {
          //   .a {
          //     stroke: #fff;
          //   }
          // }
        }
        &.prev {
          margin-right: 25px;
          @include mq() {
            margin-right: 8px;
          }
        }

        &.next {
          margin-left: 25px;
          @include mq() {
            margin-left: 8px;
          }
        }
      }
    }
  }

  &-spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: .875rem;
    color: #919191;
    margin: .125rem .0625rem;
    height: 100%;
  }
}


.pagination2 {
  margin: 50px auto 20px;

  @include mq() {
    margin: 35px auto 50px;
  }

  &-label {
    margin-bottom: 7px;
    font-size: fs(10);
    color: #000;
    text-align: center;
  }

  &-list {
    display: flex;
    text-align: center;
    flex-flow: wrap;
    justify-content: center;

    a {
      width: fs(35);
      height: fs(50);
      display: flex;
      margin: 0 fs(2);
      justify-content: center;
      align-items: center;
      color: #EAE9E6;
      font-size: fs(18);
      letter-spacing: 0;
      line-height: 1.4;
      transition: all .3s;

      @include mq() {
        margin-bottom: 5px;
        width: fs(30);
        height: fs(30);
        font-size: fs(16);
      }

      &:hover {
        color: #000;
      }

      &.active {
        color: #1F1F1F;
        pointer-events: none;
      }

      &.ctrl {
        width: fs(50);
        height: fs(50);
        padding: 0 11px;
        background-color: #001027;
        border-radius: 50%;
        @include mq() {
          width: fs(30);
          height: fs(30);
        }
        &:hover {
          background-color: #3CAAE0;
          // svg {
          //   .a {
          //     stroke: #fff;
          //   }
          // }
        }
        &.prev {
          margin-right: 25px;
          @include mq() {
            margin-right: 8px;
          }
        }

        &.next {
          margin-left: 25px;
          @include mq() {
            margin-left: 8px;
          }
        }
      }
    }
  }

  &-spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: .875rem;
    color: #919191;
    margin: .125rem .0625rem;
    height: 100%;
  }
}