.slidersEP {

  &-head {
    margin-bottom: 8px;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mq(sm2) {
        flex-wrap: wrap;
      }
    }
    &.type2 {
      .container {
        display: block;
      }
    }
    &--name {
      font-size: fs(14);
      line-height: fs(20);
      font-weight: bold;
      .link2 {
        margin-left: 10px;
        @include mq() {
          display: block;
          width: 100%;
          margin-top: 5px;
          margin-left: 0;
        }
      }
    }
  }

  &-wrapper {
    padding: 20px 0;
    background-color: #F1F3F5;

    @include mq() {
      // padding: 50px 0 130px;
    }

    .slick-list {
      padding-top: 12px !important;
    }
  }

  &-item {
    width: 780px;
    max-width: 100vw;
    margin: 0 25px;
    opacity: .6;
    background-color: #001027;
    border-radius: 10px;
    overflow: hidden;
    &.slick-current {
      opacity: 1;
    }
    @include mq() {
      width: 500px;
      margin: 0 15px;
    }

    @include mq(sm2) {
      width: 100%;
      margin: 0;
    }

    &-inner {
      position: relative;
      margin: 0 20px;
      padding: 50px 50px 35px;
      background-color: #fff;
      border-radius: 10px;

      @include mq() {
        margin: 0 15px;
        padding: 50px 36px 35px;
      }
    }

    &-thumb {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 520px;
      overflow: hidden;
      // border-radius: 10px;

      @include mq() {
        width: 100%;
        height: 300px;
        margin-bottom: 0;
      }

      @include mq(sm2) {
        border-radius: 0;
        height: 250px;
      }

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        // border-radius: 10px;
        @include mq(sm2) {
          border-radius: 0;
        }
      }
    }

    &-link {}
  }

  .slick-prev, .slick-next {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  .slick-prev {
    left: calc(50% - 472px);
  }

  .slick-next {
    right: calc(50% - 472px);
  }

  &-nav {
    &Wrap {
      @include mq() {
        padding: 0 20px;
      }
      .slick-list {
        padding-top: 20px !important;
        @include mq() {
          padding-top: 10px !important;
        }
      }
    }
    &--item {
      margin: 0 6px;
      border-radius: 4px;
      overflow: hidden;
      opacity: .6;
      box-sizing: border-box;
      &:hover,
      &.slick-current {
        position: relative;
        opacity: 1;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          z-index: 1;
          border: 3px solid #001027;
          border-radius: 4px;
          cursor: pointer;
          content: "";
        }
      }
      &-thumb {
        width: 100%;
        height: 78px;
        overflow: hidden;

        @include mq(tb) {
          height: 108px;
        }

        @include mq(sm2) {
          height: 94px;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          border-radius: 10px;
        }
      }
    }
    .slick-prev, .slick-next {
      background: none;
      width: 4px;
      height: 8px;
      top: 54%;
      left: 0;
      span {
        &:before {
          top: 0;
          left: -14px;
          background: url(../images/common/icon-arrow-left-black.svg) no-repeat;
        }
      }
    }
    .slick-next {
      left: auto;
      right: 0;
      span {
        &:before {
          left: auto;
          right: -16px;
          background: url(../images/common/icon-arrow-right-black.svg) no-repeat;
        }
      }
    }
  }

}


.subSlidersEP {
  margin-bottom: 25px;
  &-item {
    height: 312px;
    border-radius: 10px;
    overflow: hidden;
    @include mq() {
      height: 212px;
    }
    @include mq(sm2) {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      margin: 0 auto;
      @include mq(sm2) {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  .slick-dots {
    margin-top: 5px;
    li {
      button {
        border: solid 1px #fff;
        background-color: #fff;
        &:before {
          width: 8px;
          height: 8px;
          background-color: #F1F3F5;
        }
      }
      &.slick-active {
        button {
          border-color: #001027;
          &:before {
            width: 6px;
            height: 6px;
            background-color: #001027;
          }
        }
      }
    }
  }
}

.subSlidersEP2 {
  &-item {
    height: 312px;
    border-radius: 10px;
    overflow: hidden;
    @include mq() {
      height: 212px;
    }
    @include mq(sm2) {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      margin: 0 auto;
      @include mq(sm2) {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  .slick-dots {
    margin-top: 5px;
    li {
      button {
        border: solid 1px #F1F3F5;
        background-color: #78818E;
        &:before {
          width: 6px;
          height: 6px;
          background-color: #78818E;
        }
      }
      &.slick-active {
        button {
          border-color: #001027;
          background-color: #fff;
          &:before {
            width: 6px;
            height: 6px;
            background-color: #001027;
          }
        }
      }
    }
  }
}