@charset "UTF-8";
// ===========================
// TABLE
// ===========================

.table {
  font-size: fs(14);
  line-height: fs(20);
  @include mq(sm2) {
    overflow-x: auto;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  tr {
    border-top: 1px solid #EAE9E6;
    &:last-child {
      border-bottom: 1px solid #EAE9E6;
    }
  }

  th {
    font-weight: bold;
    background-color: #F1F3F5;
    box-sizing: border-box;
    font-weight: 700;
    padding: 20px 15px;
    width: 135px;
    text-align: left;
  }

  td {
    box-sizing: border-box;
    padding: 20px 15px;
    ul {
      li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 12px;
        &:before {
          position: absolute;
          left: 0;
          top: 8px;
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #000;
          content: "";
        }
      }
    }
	}

  &.type2 {
    table {
      @include mq(sm2) {
        width: 220vw;
      }
    }
  }
  
  &.type3 {
    th,td {
      padding: 1.4rem 2rem;
      @include mq(sm2) {
        padding: 1.2rem 1.4rem;
      }
    }
  }
}