@charset "UTF-8";
/* -------------------
  TABS
--------------------*/

.tabs {
  &-navWrapper {
    @include mq() {
      // white-space: nowrap;
      // overflow-x: auto;
    }
  }

  &-nav {
    display: flex;
    width: 100%;
  }

  &-item {
    width: 50%;
    background-color: #19A1E6;
    padding: 20px 15px;
    font-size: fs(18);
    letter-spacing: .9px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all .3s;
    &.type2 {
      border-radius: 0 !important;
      background-color: #F1F3F5;
      border-top: solid 4px #F1F3F5;
      color: #001027;
      &:hover {
        border-color: #3CAAE0;
        background-color: #F1F3F5;
        color: #001027;
      }
      &.active {
        border-color: #3CAAE0;
        color: #19A1E6;
        background-color: #FFFFFF;
      }
    }
    &:first-child {
      border-radius: 10px 0 0 0;
    }
    &:last-child {
      border-radius: 0 10px 0 0;
    }
    @include mq(sm2) {
      font-size: fs(13);
      padding: 15px 5px;
    }

    &:hover,
    &.active {
      color: #19A1E6;
      background-color: #FFFFFF;
    }
  }

  &-cnt {
    // padding: 75px 100px 60px;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
  }

  &-panel {
    padding: 75px 100px 60px;

    @include mq() {
      padding: 40px 35px;
    }

    &.type2 {
      padding: 40px 50px 70px;

      @include mq() {
        padding: 40px 35px;
      }
    }
    &.type3 {
      padding: 40px 0 70px;

      @include mq() {
        padding: 40px 35px;
      }
    }
  }
}


.tabs2 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;

  li {
    position: relative;
    width: 50px;
    padding: 15px;
    color: #001027;
    cursor: pointer;
    text-align: center;
    font-size: fs(16);
    line-height: fs(21);
    letter-spacing: 1.1px;
    transition: all .3s;
    border-bottom: 4px solid #F0F3F5;
    font-family: $font-a;
    font-weight: bold;
    @include mq() {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: fs(11);
      line-height: fs(16);
      padding: 12px 5px;
      border-radius: 0;
    }

    &:first-child {
      @include mq() {
        border-radius: 6px 0 0 6px;
      }

      @include mq(sm2) {
        max-width: 50px;
      }
    }

    &:last-child {
      margin-right: 0;

      @include mq() {
        border-radius: 0 6px 6px 0;
      }
    }

    &:hover,
    &.active {
      &:after {
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #3CAAE0;
        border-radius: 2px;
        content: "";
      }
    }
  }
}
