@charset "UTF-8";
// ===========================
// Text: Title, Tag, 
// Label, Link, Button, ..
// ===========================

// Setting for WP's Text Editor
.no-reset {
  h2 {
  	position: relative;
    font-size: fs(20);
    line-height: fs(30);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(18);
      line-height: fs(27);
    }
  }
  h3 {
  	position: relative;
    font-size: fs(22);
    line-height: fs(25);
    letter-spacing: 1.1px;
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(18);
      line-height: fs(27);
    }
  }
  h4 {
  	position: relative;
    font-size: fs(18);
    line-height: fs(27);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(16);
      line-height: fs(24);
    }
  }
  h5 {
  	position: relative;
    font-size: fs(14);
    line-height: fs(21);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  p {
  	position: relative;
    font-size: fs(14);
    line-height: fs(25);
    letter-spacing: .35px;
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  a {
    // color: #7B7B6C;
    transition: all .3s;

    &:hover {
      opacity: .7;
    }
  }
}

/* -------------------
  Title by level
--------------------*/
.title-lv2 {
  position: relative;
  font-size: fs(30);
  line-height: fs(42);
  letter-spacing: 1.5px;
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(22);
    line-height: fs(27);
  }
}

.title-lv3 {
	position: relative;
  font-size: fs(22);
  line-height: fs(25);
  letter-spacing: 1.1px;
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }

  &.type2 {
    font-size: fs(20);
    line-height: fs(28);
    font-family: $font-c;
    font-weight: bold;
    @include mq() {
      font-size: fs(16);
      line-height: fs(25);
    }
  }

  &.type3 {
    font-size: fs(18);
    line-height: fs(36);
    letter-spacing: .9px;
    font-weight: bold;
    @include mq() {
      font-size: fs(16);
      line-height: fs(25);
    }
  }
}

.title-lv4 {
	position: relative;
  font-size: fs(16);
  line-height: fs(22);
  font-weight: bold;
  font-family: $font-base;
  &.type2 {
    padding-left: 20px;
    background: url(../images/common/icon-check.svg) top 4px left / 15px 14px no-repeat;
  }
  &.type3 {
    font-size: fs(18);
    line-height: fs(24);
    letter-spacing: .45px;
  }
  @include mq() {
    font-size: fs(14);
    line-height: fs(22);
  }
}

.title-lv5 {
	position: relative;
  font-size: fs(14);
  line-height: fs(21);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

/* -------------------
  Description
--------------------*/
.desc {
	font-size: fs(16);
  line-height: fs(32);
  @include mq() {
    font-size: fs(14);
    line-height: fs(28);
  }
}

.desc2 {
  font-size: fs(14);
  line-height: fs(25);
  letter-spacing: .35px;
  @include mq() {
    font-size: fs(14);
    line-height: fs(28);
  }
}

.desc3 {
  font-size: fs(12) !important;
  line-height: fs(20);
  letter-spacing: .6px;
}

.desc4 {
  font-size: fs(12);
  line-height: fs(20);
}

.txt-bold {
  font-weight: bold;
}

/* -------------------
  Section Title
--------------------*/
.section-title {
	display: inline-block;
  position: relative;
  font-size: fs(38);
  line-height: fs(57);
  font-family: $font-a;
  @include mq() {
	  font-size: fs(30);
	  line-height: fs(45);
  }
}

.section-ttl {
  display: inline-block;
  font-family: $font-a;
  font-size: fs(24);
  line-height: fs(45);
  letter-spacing: 2.4px;
  font-weight: bold;
  padding-top: 25px;
  background: url(../images/common/icon-book.svg) top center / 21px 24px no-repeat;
  white-space: nowrap;
  &._home {
    background-image: url(../images/common/icon-home-blue.svg);
  }
}

.section-ttl2 {
  padding-left: 42px;
  font-size: fs(28);
  line-height: fs(45);
  letter-spacing: 2.8px;
  font-weight: bold;
  color: #fff;
  background: url(../images/common/icon-speaker-white2.svg) left center / 25px 22px no-repeat;
  white-space: nowrap;
  @include mq() {
    padding-left: 42px;
    font-size: fs(24);
    letter-spacing: 2.4px;
    display: inline-block;
  }
  &.type2 {
    color: #001027;
    background: url(../images/common/icon-search.svg) left center / 26px 26px no-repeat;
  }
  &.type3 {
    background: url(../images/common/icon-search-white2.svg) left center / 26px 26px no-repeat;
  }
}

.ttl-ep {
  &Wrap {
    position: relative;
    margin: 10px 0 0;
    padding: 70px 0;
    background-color: #76C4EA;
    @include mq() {
      padding: 35px 0;
    }
    &:before {
      position: absolute;
      top: -10px;
      left: 0;
      display: block;
      width: 100%;
      height: 10px;
      background: url(../images/common/bg-triangle-up.svg) top left repeat-x;
      content: "";
    }
    &:after {
      position: absolute;
      bottom: -10px;
      left: 0;
      display: block;
      width: 100%;
      height: 10px;
      background: url(../images/common/bg-triangle-down.svg) bottom left repeat-x;
      content: "";
    }
  }
  color: #fff;
  font-family: $font-a;
  font-size: fs(40);
  font-weight: bold;
  letter-spacing: 2px;
  @include mq() {
    font-size: fs(25);
  }
}

.ttl-ep2 {
  &Wrap {
    position: relative;
    margin: 10px 0 0;
    padding: 50px 0 30px;
    @include mq() {
      padding: 35px 0;
    }
    @include mq(sm2) {
      padding: 15px 0 5px;
    }
  }
  padding: 18px 0 0 80px;
  // font-family: $font-a;
  font-size: fs(30);
  font-weight: bold;
  letter-spacing: 1.5px;
  background: url(../images/common/icon-bighome.svg) left center no-repeat;
  @include mq() {
    font-size: fs(25);
  }
  @include mq(sm2) {
    padding: 10px 0 0 55px;
    font-size: fs(17);
    background-size: auto 100%;
  }
}

.ttl-ep3 {
  padding: 10px 0 0 80px;
  // font-family: $font-a;
  font-size: fs(30);
  font-weight: bold;
  letter-spacing: 1.5px;
  background: url(../images/common/icon-sofa.svg) left center no-repeat;
  @include mq() {
    font-size: fs(25);
  }
  span {
    display: block;
    font-size: fs(12);
    letter-spacing: .6px;
  }
}

.ttl-check {
  padding-left: 22px;
  font-size: fs(16);
  line-height: fs(24);
  font-weight: bold;
  background: url(../images/common/icon-check.svg) left top 4px no-repeat;
  @include mq() {
    font-size: fs(14);
    line-height: fs(22);
  }
}

.ttl-cat {
  padding-left: 22px;
  font-size: fs(16);
  line-height: fs(24);
  font-weight: bold;
  background: url(../images/common/icon-camera.svg) left top 4px no-repeat;
  @include mq() {
    font-size: fs(14);
    line-height: fs(22);
  }
}

.ttl-notice {
  padding-left: 30px;
  font-size: fs(22);
  line-height: fs(24);
  font-weight: bold;
  background: url(../images/common/icon-speaker.svg) left top 2px no-repeat;
  background-size: 22px 20px;
  @include mq() {
    font-size: fs(18);
  }
}

.ttl-notice2 {
  padding-left: 28px;
  font-size: fs(16);
  line-height: fs(24);
  font-weight: bold;
  background: url(../images/common/icon-speaker.svg) left top 2px no-repeat;
  @include mq() {
    font-size: fs(14);
    line-height: fs(22);
  }
}


.txt-blue {
  font-size: fs(13);
  font-weight: bold;
  color: #58B3E0;
}

.txt-blue2 {
  font-size: fs(11);
  font-weight: bold;
  color: #58B3E0;
}

/* -------------------
  Date, time
--------------------*/
.date {
  font-family: $font-b;
  font-size: fs(12);
  line-height: fs(21);
  font-weight: bold;
  letter-spacing: .3px;
  color: #909090;
  @include mq() {
    font-size: fs(11);
    line-height: fs(17);
  }
}

.date2 {
  font-size: fs(12);
  line-height: fs(21);
  color: #001027;
  @include mq() {
    font-size: fs(11);
    line-height: fs(17);
  }
}

.date3 {
  display: inline-block;
  padding-left: 22px;
  background: url(../images/common/icon-calendar-gray.svg) top 2px left / 16px 16px no-repeat;
  font-size: fs(12);
  line-height: fs(21);
  color: #001027;
  @include mq() {
    font-size: fs(11);
    line-height: fs(17);
  }
}

.date4 {
  color: #909090;
  font-size: fs(11);
  line-height: fs(19);
  @include mq() {
    font-size: fs(10);
    line-height: fs(17);
  }
}


/* -------------------
  Tags, Label
--------------------*/
.tag {
  display: inline-block;
  margin-right: 2px;
  padding: 1px 12px;
  background-color: #fff;
  color: #2FB8FC;
  border: solid 1px #2FB8FC;
  border-radius: 2px;
  font-size: fs(11);
  line-height: fs(17);
  transition: all .3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .7;
  }
}

.tag2 {
  display: inline-block;
  padding: 2px 14px;
  background-color: #EEEEEE;
  color: #7D8794;
  border-radius: 12px;
  font-size: fs(12);
  line-height: fs(17);

  &:last-child {
    margin-right: 0;
  }
}

.tag3 {
  display: inline-block;
  padding: 3px 14px;
  background-color: #51B1ED;
  color: #fff;
  border-radius: 12px;
  font-size: fs(12);
  font-weight: bold;
  line-height: fs(17);
  &.type2 {
    background-color: #3E7FD8;
  }

  &.type3 {
    background-color: #2DC1BB;
  }
  &:last-child {
    margin-right: 0;
  }
}

.tag4 {
  font-size: fs(11);
  line-height: fs(18);
  font-weight: bold;
  color: #7B7B7B !important;
  background-color: #F1F3F5;
  padding: 8px 10px;
  border-radius: 2px;
}

.tag5 {
  margin-right: 5px;
  font-size: fs(12);
  line-height: fs(21);
  color: #585E67;
}

.cat {
  font-size: fs(12);
  line-height: fs(18);
  font-weight: bold;
  color: #585E67;
  padding: 3px 10px;
  border: 1px solid #A6A9AE;
  border-radius: 2px;
}

.cat2 {
  color: #BFAF79;
  font-size: fs(11);
  font-weight: bold;
  &.pink {
    color: #DF89C8;
  }
  &.blue {
    color: #56B3DD;
  }
}

.cat3 {
  color: #909090;
  font-size: fs(11);
  font-weight: bold;
}

.cat4 {
  display: inline-block;
  font-size: fs(12);
  line-height: fs(18);
  font-weight: bold;
  color: #585E67;
  padding: 3px 10px;
  border: 1px solid #A6A9AE;
  background-color: #EEEEEE;
  border-radius: 2px;
}

.cat5 {
  padding-left: 16px;
  font-size: fs(12);
  line-height: fs(20);
  font-weight: bold;
  color: #3CAAE0;
  background: url(../images/common/icon-cube.svg) left center no-repeat;
}

.location {
  display: inline-block;
  padding-left: 18px;
  font-size: fs(13);
  font-weight: bold;
  line-height: fs(18);
  color: #585E67;
  background: url(../images/common/icon-location.svg) left center / 12px 16px no-repeat;
}

.new-label {
  display: inline-block;
  margin-left: 15px;
  padding: 2px 10px;
  font-size: fs(11);
  line-height: fs(17);
  color: #ED9B4A;
  border: 1px solid #ED9B4A;
  border-radius: 42px;
}

/* -------------------
  TEL, FAX
--------------------*/
.tel {
  font-size: fs(15);
  letter-spacing: .38px;
  line-height: fs(25);
  font-weight: bold;
}

/* -------------------
  Link, Button, Tab
--------------------*/
.link {
  display: block;
  transition: all .3s;

  &:hover {
    opacity: .7;
  }

  &.underline {
    display: inline-block;
    text-decoration: underline;
    font-size: fs(14);
    line-height: 1;
    color: #7B7B6C;
    &:hover{
      text-decoration: none;
    }
  }
}

.link2 {
  display: inline-block;
  padding-left: 24px;
  font-size: fs(14);
  font-weight: bold;
  line-height: fs(20);
  letter-spacing: .35px;
  color: #585E67;
  background: url(../images/common/icon-circle.png) left center / 18px 18px no-repeat;
  transition: all .3s;

  &.type2 {
    color: #001027;
    font-size: fs(18);
  }

  &:hover {
    opacity: .7;
  }
}

.link3 {
  font-size: fs(16);
  line-height: fs(24);
  font-weight: bold;
  transition: all .3s;

  &:hover {
    opacity: .7;
  }
}

.link-contact {
  font-size: inherit;
  color: #63BBE6;
  text-decoration: underline;
  transition: all .3s;
  &:hover {
    opacity: .7;
    text-decoration: none;
  }
}

.link-icon {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  padding-right: 14px;
  font-size: fs(14);
  letter-spacing: .35px;
  font-weight: bold;
  line-height: 1;
  transition: all .3s;
  &:hover{
    &:after {
      display: block;
    }
  }
  &:after {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 14px);
    height: 1px;
    background-color: #7B7B6C;
    content: "";
  }
  &.arrow {
    background: url(../images/common/icon-arrow-right.svg) right center / 12px 8px  no-repeat;
  }
  &.blank {
    background: url(../images/common/icon-blank.svg) right center / 12px 12px  no-repeat;
  }
  &.pdf {
    background: url(../images/common/icon-pdf.svg) right center / 11px 13px  no-repeat;
  }
  &.excel {
    background: url(../images/common/icon-excel.svg) right center / 11px 13px  no-repeat;
  }
}

.link-viewAll {
  display: inline-block;
  padding-top: 24px;
  font-size: fs(14);
  font-weight: bold;
  color: #7B7B6C;
  background: url(../images/common/icon-all.svg) no-repeat top center;
  background-size: 18px 18px;
}

.link-go {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 5px);
    width: 12px;
    height: 12px;
    background: url(../images/common/icon-page-right-gray.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

.view-more {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-size: fs(15);
  font-weight: bold;
  letter-spacing: .38px;
  line-height: 1;
  transition: all .3s;
  color: #000000;
  background: url(../images/common/icon-viewmore.svg) left center / 11px 10px no-repeat;
  &:hover{
    opacity: .7;
  }
}

.link-top {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-size: fs(15);
  font-weight: bold;
  letter-spacing: .38px;
  line-height: 1;
  transition: all .3s;
  color: #000000;
  background: url(../images/common/icon-viewmore.svg) left center / 11px 10px no-repeat;
  &:hover{
    opacity: .7;
  }
}

.btn {
  display: inline-block;
  width: 125px;
  height: 38px;
  line-height: 38px;
  border-radius: 2px;
  border: none;
  background-color: #7B7B6C;
  color: #fff;
  font-size: fs(14);
  text-align: center;
  transition: all .3s;

  &:hover {
    opacity: .7;
  }

  &.type2 {
    background-color: #C7C7C7;

    &:hover {
      opacity: .7;
    }
  }
}

.btn-submit {
  display: inline-block;
  font-size: fs(14);
  letter-spacing: .7px;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  padding: 15px 70px;
  border-radius: 84px;
  border: solid 1px #000;
  transition: all .3s;
  &:hover {
    color: #000;
    background-color: #fff;
    span {
      background-image: url(../images/common/icon-search-white2-black.svg);
    }
  }
  span {
    display: inline-block;
    padding-left: 27px;
    background: url(../images/common/icon-search-white2.svg) left top 2px no-repeat;
  }
  &.type2 {
    width: 320px;
    padding: 20px 70px;
    max-width: 90%;
    text-align: center;
    @include mq(sm2) {
      width: 100%;
      max-width: 100%;
    }
  }
}

.btn-add {
  display: inline-block;
  font-size: fs(14);
  letter-spacing: .7px;
  background-color: #fff;
  font-weight: bold;
  width: 90px;
  padding: 12px;
  border-radius: 84px;
  transition: all .3s;
  text-align: center;
  @include mq(tb) {
    padding: 8px 20px;
  }
  &.active {
    background-color: #001027;
    color: #fff;
  }
  &:hover {
    opacity: .7;
  }
}

.btn-delete {
  display: inline-block;
  font-size: fs(14);
  letter-spacing: .7px;
  font-weight: bold;
  width: 90px;
  padding: 10px 8px 10px 16px;
  border-radius: 84px;
  transition: all .3s;
  text-align: center;
  color: #6E7682;
  background: #DCDCDC url(../images/common/icon-delete.svg) left 15px center no-repeat;
  &:hover {
    opacity: .7;
  }
}

.btn-blue {
  display: block;
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-size: fs(15);
  letter-spacing: .38px;
  color: #fff;
  background-color: #3CAAE0;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  transition: all .3s;
  &:hover {
    background-color: #F1F3F5;
    color: #001027;
  }
}

.btn-blank {
  display: block;
  width: 210px;
  font-size: fs(13);
  color: #fff;
  background-color: #000;
  font-weight: bold;
  padding: 15px 15px;
  border-radius: 84px;
  border: solid 1px #000;
  transition: all .3s;
  text-align: center;
  word-break: keep-all;
  &:hover {
    background-color: #F1F3F5;
    color: #000;
    span {
      background-image: url(../images/common/icon-blank-white-black.svg);
    }
  }
  span {
    display: inline-block;
    padding: 0 25px;
    background: url(../images/common/icon-blank-white.svg) right top 5px / 10px 9px no-repeat;
  }
}

.btn-close {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: url(../images/common/icon-close.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

.btn-close2 {
  position: relative;
  display: inline-block;
  padding-right: 18px;
  font-size: fs(13);
  font-weight: bold;
  color: #fff;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 4px);
    right: 0;
    width: 8px;
    height: 8px;
    background: url(../images/common/icon-close.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

.btn-view {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: fs(13);
  letter-spacing: .7px;
  // color: #fff;
  color: #001027;
  background-color: #F0F3F5;
  border: solid 1px #F0F3F5;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  transition: all .3s;
  text-align: center;
  &:hover {
    background-color: #FFFFFF;
    border: solid 1px #C5CCD1;
  }
}

.btn-view2 {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: fs(13);
  letter-spacing: .7px;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all .3s;
  text-align: center;
  border: solid 1px #001027;
  background: #001027 url(../images/common/icon-around.svg) right 14px center / 10px 10px no-repeat;
  &:hover {
    color: #001027;
    background: #F1F3F5 url(../images/common/icon-around-black.svg) right 14px center / 10px 10px no-repeat;
  }
}

.btn-view3 {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: fs(13);
  letter-spacing: .7px;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #001027;
  border-radius: 20px;
  transition: all .3s;
  text-align: center;
  background-color: #001027;
  &:hover {
    color: #001027;
    background-color: #fff;
  }
}

.btn-view4 {
  display: inline-block;
  padding: 8px 24px;
  margin: 0 auto;
  font-size: fs(13);
  letter-spacing: .7px;
  // color: #fff;
  color: #001027;
  background-color: #DCDCDC;
  border: solid 1px #DCDCDC;
  font-weight: bold;
  border-radius: 18px;
  transition: all .3s;
  text-align: center;
  &:hover {
    background-color: #FFFFFF;
    border: solid 1px #C5CCD1;
  }
}

.btn-change {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: fs(13);
  letter-spacing: .7px;
  color: #78818E;
  background-color: #F1F3F5;
  border: solid 1px #D7D7D7;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  transition: all .3s;
  text-align: center;
  white-space: nowrap;
  &:hover {
    color: #999FA9;
    background-color: #FFFFFF;
  }
}

.btn-reset {
  display: block;
  width: 200px;
  font-size: fs(13);
  letter-spacing: .7px;
  color: #001027;
  background-color: #DCDCDC;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
}

.btn-reset2 {
  display: block;
  margin: 20px 0 25px;
  color: #7F8793;
  font-size: fs(13);
  line-height: fs(20);
  font-weight: bold;
  text-align: center;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
}

.btn-share {
  display: inline-block;
  width: 100px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  font-family: $font-a;
  font-weight: bold;
  font-size: fs(11);
  color: #fff;
  text-align: center;
  transition: all .3s;
  letter-spacing: .28px;
  background: #265693 url(../images/common/icon-facebook.svg) left 12px center no-repeat;
  &.twitter {
    background: #0099E3 url(../images/common/icon-twitter-white.svg) left 12px center no-repeat;
  }
  &:hover {
    opacity: 0.7;
  }
  span {
    padding-left: 10px;
  }
}

.btn-yellow {
  display: block;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  color: #fff;
  font-size: fs(15);
  line-height: fs(20);
  letter-spacing: .38px;
  text-align: center;
  border-radius: 86px;
  font-weight: bold;
  background-color: #FFC646;
  transition: all .3s;
  &:hover {
    background-color: #001027;
    // color: #001027;
    // span {
    //   background-image: url(../images/common/icon-calendar2-black.svg);
    // }
  }

  @include mq(sm2) {
    width: 100%;
  }
  span {
    display: inline-block;
    padding-left: 36px;
    background: url(../images/common/icon-calendar2.svg) left top no-repeat;
  }
}

.btn-yellow2 {
  display: block;
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 24px 0;
  color: #fff;
  background-color: #FFC646;
  font-size: fs(15);
  line-height: fs(20);
  letter-spacing: .38px;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  transition: all .3s;
  &.type2 {
    width: 200px;
    padding: 15px 0;
    font-size: fs(13);
  }
  &:hover {
    background-color: #F1F3F5;
    color: #001027;
  }
}
/* -------------------
  Group button
--------------------*/

.post-ctrl {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px 0;

  &--link {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0px;
    font-size: fs(14);
    line-height: 1;
    transition: all .3s;
    color: #7B7B6C;
    background: url(../images/common/icon-arrow-right-gray.svg) right center / 10px 10px no-repeat;
    
    &:hover{
      &:after {
        display: block;
      }
    }
    &:after {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% - 20px);
      height: 1px;
      background-color: #7B7B6C;
      content: "";
    }
  }

  .back {
    margin-right: auto;
    padding: 0 0 0 20px;
    background: url(../images/common/icon-arrow-left-gray.svg) left center/10px 10px no-repeat;
    &:after {
      left: 20px;
    }
  }

  .next {
    margin-left: auto;
  }
  &--menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding-top: 24px;
    font-size: fs(14);
    font-weight: bold;
    color: #7B7B6C;
    background: url(../images/common/icon-all.svg) no-repeat top center;
    background-size: 18px 18px;
  }
}

.post-direct {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px 11px;
      border-top: 1px solid #C7C7C7;
      border-bottom: 1px solid #C7C7C7;
      @include mq() {
        padding: 30px 20px 20px;
      }
      &-tag {
        @include mq() {
          width: 100%;
        }
      }
      &-sns {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        @include mq() {
          width: 100%;
          justify-content: center;
          margin-top: 20px;
        }
        a {
          margin-right: 20px;
          @include mq() {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border: solid 1px #7B7B6C;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: auto;
            }
          }
          &.facebook {
            padding-bottom: 2px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }


.list {
  font-size: fs(14);
  line-height: fs(22);
  li, ol {
    position: relative;
    padding-left: 16px;
    &:before {
      position: absolute;
      left: 0;
      top: 7px;
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #3CAAE0;
      content: "";
    }
  }
}