@charset "UTF-8";
/* -------------------
  COMMON
--------------------*/

// =========================================
// Font family
// =========================================
@font-face {
    font-family: 'Gen Jyuu Gothic';
    src: url('../fonts/GenJyuuGothic/GenJyuuGothic-Bold.eot');
    src: url('../fonts/GenJyuuGothic/GenJyuuGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GenJyuuGothic/GenJyuuGothic-Bold.woff2') format('woff2'),
        url('../fonts/GenJyuuGothic/GenJyuuGothic-Bold.woff') format('woff'),
        url('../fonts/GenJyuuGothic/GenJyuuGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: $font-base;
  &.fixed {
    height: 100vh;
    overflow: hidden;
    // display: flex;
  }
}

// =========================================
// CONTROL VIEW ELEMENT
// =========================================

.pc-only {
  display: block;

  @include mq() {
    display: none !important;
  }
}

.pc-only2 {
  display: inline-block;
  @include mq() {
    display: none !important;
  }
}

.pc-only3 {
  display: block;

  @include mq(sm2) {
    display: none !important;
  }
}

.pc-only4 {
  display: inline-block;

  @include mq(sm2) {
    display: none !important;
  }
}

.sp-only {
  display: none !important;

  @include mq() {
    display: block !important;
  }
}

.sp-only3 {
  display: none !important;

  @include mq(sm2) {
    display: block !important;
  }
}

// =========================================
// WRAPPER
// =========================================
.wrapper {
  min-width: 1400px;
  padding-top: 100px;
  overflow: auto;
  @include mq() {
    min-width: 100%;
    padding-top: 60px;
    overflow: hidden;
    &.blog {
      padding-top: 0;
    }
  }
}

// =========================================
// MAIN
// =========================================
.main {
  // padding-bottom: 80px;
  // background-color: #F7F6ED;
}

// =========================================
// CONTAINER
// =========================================
.container {
  position: relative;
  width: 1040px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
    padding: 0 15px;
  }
}

.container2 {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
    padding: 0 15px;
  }
}