@charset "UTF-8";
/* -------------------
  VARIABLES
--------------------*/

// Color
// $color-base: #000;
// $color-a: #ffeb1b;

// Font Family
$font-base: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
// $font-base: "Noto Sans JP", sans-serif;
$font-a: 'Gen Jyuu Gothic';
$font-b: 'Montserrat', sans-serif;
$font-c: 'Josefin Sans', sans-serif;
