// Slide button control
.slick-prev,
.slick-next {
  position: absolute;
  top: 32%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #001027;
  z-index: 1;
  transition: all .3s;
  &.type2 {
    top: 50%;
    background-color: #fff;
    transform: translateY(-50%);
    @include mq(sm2) {
      top: auto;
      bottom: -52px;
      width: 60px;
      height: 60px;
      &.top {
        display: none !important;
      }
    }
    span {
      &:before {
        background-image: url(../images/common/icon-prev-blue.svg);
        @include mq(sm2) {
          top: 24px;
          left: 24px;
        }
      }
    }
    &:hover {
      // opacity: .9;
      background-color: #001027;
    }
  }
  &.type3 {
    top: 50%;
    background-color: rgba(255,255,255, 0.6);
    transform: translateY(-50%);
    @include mq(sm2) {
      top: 42%;
      width: 60px;
      height: 60px;
      &.top {
        display: none !important;
      }
    }
    span {
      &:before {
        width: 8px;
        height: 15px;
        background-image: url(../images/common/icon-prev-arrow.svg);
        @include mq(sm2) {
          top: 24px;
          left: 24px;
        }
      }
    }
    &:hover {
      // opacity: .9;
      background-color: rgba(255,255,255, 0.6);
    }
  }
  @include mq() {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: #76C4EA;
  }

  span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
      position: absolute;
      top: 19px;
      left: 20px;
      width: 9px;
      height: 12px;
      display: inline-block;
      background: url(../images/common/icon-prev.svg) center center  no-repeat;
      padding: 4px;
      content: "";
      @include mq() {
        top:14px;
        left: 15px;
      }
    }
  }
}

.slick-prev {
  left: calc(50% - 540px);

  @include mq() {
    left: 5px;
  }

  &.type2 {
    @include mq(sm2) {
      left: 15px;
    }
  }

  span {
    &:before {
      // left: 17px;
    }
  }
}

.slick-next {
  right: calc(50% - 540px);

  @include mq() {
    right: 5px;
  }

  &.type2 {
    @include mq(sm2) {
      right: 15px;
    }
    span {
      &:before {
        background-image: url(../images/common/icon-next-blue.svg);
        @include mq(sm2) {
          left: 26px;
        }
      }
    }
  }

  &.type3 {
    @include mq(sm2) {
      right: 6px;
    }
    span {
      &:before {
        background-image: url(../images/common/icon-next-arrow.svg);
        @include mq(sm2) {
          left: 26px;
        }
      }
    }
  }

  span {
    &:before {
      left: 22px;
      background-image: url(../images/common/icon-next.svg);
      @include mq() {
        left: 18px;
      }
    }
  }

  @media all and (-ms-high-contrast:none) {

    /* IE10 */
    span {
      &:before {
        // left: 15px;
      }
    }

    *::-ms-backdrop,
    span {
      &:before {
        // left: 15px;
      }
    }

    /* IE11 */
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  li {
    margin-right: 14px;
    &:last-child {
      margin-right: 0;
    }
    button {
      position: relative;
      display: inline-block;
      width: 12px;
      height: 12px;
      font-size: 0;
      border: solid 1px #76C4EA;
      background-color: #76C4EA;
      border-radius: 50%;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #EEEEEE;
        border-radius: 50%;
        content: "";
      }
    }
    &.slick-active {
      button {
        border-color: #fff;
        &:before {
          width: 6px;
          height: 6px;
          background-color: #fff;
        }
      }
    }
  }
}
