// Custom remodal
.remodal {
	padding: 70px 20px;
  width: 940px;
  max-width: 90vw;
  border: 12px solid #fff;
  @include mq() {
		max-width: 96%;
		margin-top: 0 !important;
  }
  .btn-close {
  	position: absolute;
  }
  &-overlay {
  	background: rgba(0, 0, 0, 0.2);
	}
	&-close {
    position: absolute;
    right: -32px;
    top: 18px;
    left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000 url(../images/common/icon-close.svg) center center/10px 10px no-repeat;
    cursor: pointer;
    transition: all .3s;
		transform: translateY(-100%);
		@include mq() {
	    right: -20px;
	    top: 15px;
	  }
    &:hover {
    	// &:before {
	    // 	opacity: .7;
    	// }
    }
		&:before {
			display: none;
	  //   width: 24px;
			// left: auto;
			// right: 0;
			// font-size: 42px;
	  //   line-height: 24px;
   //    color: #fff;
   //    transition: opacity .3s;
		}
	}
	&-ttl {
	  font-size: fs(20);
	  line-height: fs(30);
	  font-weight: bold;
	  margin-bottom: 35px;
	  @include mq() {
	    font-size: fs(18);
	    line-height: fs(27);
	  }
	}
	.desc {
		margin-bottom: 35px;
	}
	.btn-gray {
		width: 240px;
		height: 54px;
		line-height: 54px;
		margin-bottom: 20px;
		font-size: fs(14);
		font-weight: bold;
	  @include mq() {
	    font-size: fs(12);
	  }
	}
}

