@charset "UTF-8";
/* -------------------
  FOOTER
--------------------*/
.footer {
  padding: 35px 0 15px;
	background-color: #76C4EA;
	color: #fff;
	@include mq() {
    padding: 40px 0 0 0;
	}
	&-inner {
		width: 1310px;
		max-width: 100%;
		margin: 0 auto;
	}
	&-top {
		display: flex;
    justify-content: space-between;
    @include mq() {
	    display: block;
		}
	}
	&-logo {
		width: 160px;
		max-width: 100%;
		margin-right: 30px;
		margin-bottom: 25px;
		@include mq() {
	    width: 200px;
	    max-width: 54%;
	    margin: 0 auto 35px;
	    a {
	    	text-align: center;
	    	img {
	    		width: 100%;
	    	}
	    }
		}
	}
	&-infor {
		display: flex;
		align-items: center;
		@include mq() {
	    display: block;
		}
	}
	&-nav {
		// width: calc(100% - 410px);
		@include mq() {
	    width: 100%;
		}
		ul {
      display: flex;
      align-items: center;
      font-size: fs(15);
      line-height: fs(28);
      letter-spacing: .75px;
      font-weight: bold;
      @include mq() {
        display: block;
		    padding: 0 35px;
		    background-color: #76C4EA;
		    text-align: center;
      }

      li {
        margin-right: 35px;
        @include mq() {
          display: block;
          width: 100%;
          margin-right: 0;
          margin-bottom: 30px;
          text-align: left;
        }
        a {
          display: block;
          padding-left: 30px;
          background: url(../images/common/icon-search-white.svg) left center no-repeat;
          @include mq() {
						display: inline-block;
					}
          &.speaker {
            background-image: url(../images/common/icon-speaker-white.svg);
          }
          &.book {
            background-image: url(../images/common/icon-book-white.svg);
          }
          &.news {
            padding-left: 35px;
            background-image: url(../images/common/icon-news-white.svg);
          }
        }
      }
    }
	}
	&-ctrl {
		// display: flex;
		// justify-content: flex-end;
		width: 200px;
		margin: 0 -5px;
		padding-top: 25px;
		@include mq() {
			display: block;
	    width: 100%;
	    margin: 0;
      margin-left: auto;
	    padding: 0 35px;
		}
		div {
			width: 100%;
			margin-bottom: 10px;
			padding: 0 5px;
			font-size: fs(14);
			line-height: fs(17);
			letter-spacing: .7px;
			font-weight: bold;
	    line-height: 1;
	    @include mq() {
		    width: 100%;
		    padding: 0;
			}
		}
		&--event {
			@include mq() {
		    margin-bottom: 10px;
			}
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 50px;
				padding: 0 10px;
				background-color: #fff;
				color: #2FB8FC;
				border-radius: 6px;
			}
		}
		&--study {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 50px;
				padding: 0 10px;
				background-color: #FFC646;
				color: #fff;
				border-radius: 6px;
			}
		}
		&--link {
	    padding: 0 5px;
			font-size: fs(14);
			letter-spacing: .7px;
		}
	}
	&-copy {
		margin-top: 40px;
		text-align: right;
		@include mq() {
			margin-top: 15px;
			text-align: center;
			// border-top: solid 1px #fff;
		}
		&--infor {
			margin: 0;
			color: #fff;
			font-size: fs(11);
			font-family: $font-a;
			@include mq() {
				font-size: fs(10);
				padding: 10px 0;
			}
		}
	}
}