@charset "UTF-8";

/* -------------------
  HEADER
--------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  // width: 100vw;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  // padding: 0 30px;
  padding: 0 170px 0 2vw;
  // font-size: fs(14);
  font-size: 1vw;
  line-height: fs(28);
  letter-spacing: .75px;
  font-weight: bold;
  background-color: #fff;
  z-index: 9999;
  transition: all .4s;
  &.top {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    &.open {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  }
  @include mq() {
    height: 60px;
    padding: 0;
    font-size: fs(18);
    letter-spacing: 1px;
    &.open {
      background-color: #fff;
    }
  }
  &-logo {
    width: 11.43%;
    max-width: 160px;
    margin-right: 3.5vw;
    @include mq() {
      width: 100px;
      max-width: 26.67%;
      margin-right: 0;
      margin-left: 15px;
    }
  }

  &-menu {
    // padding-right: 170px;
    @include mq() {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      // height: calc(100vh - 60px);
      color: #fff;
      padding: 0;
      background-color: #fff;
      overflow: auto;
      transition: all .3s;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      &.open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
      }
    }
    ul {
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include mq() {
        padding: 130px 50px 100px;
        margin-bottom: 10px;
        background-color: #76C4EA;
        &:after {
          position: absolute;
          bottom: -10px;
          left: 0;
          display: block;
          width: 100%;
          height: 10px;
          background: url(../images/common/bg-triangle-down.jpg) repeat-x;
          background-size: 20px 10px;
          content: "";
        }
      }

      li {
        // margin-right: 50px;
        margin-right: 3.2vw;
        padding-top: 10px;
        &:last-child {
          margin-right: 0;
        }
        @include mq() {
          display: block;
          width: 100%;
          margin-right: 0;
          margin-bottom: 30px;
        }
        a {
          display: block;
          padding-left: 30px;
          background: url(../images/common/icon-search.svg) left center no-repeat;
          &.open {
            background-image: url(../images/common/icon-search-white.svg);
          }
          &.top {
            background: none;
            padding: 0;
          }
          &.speaker {
            background-image: url(../images/common/icon-speaker.svg);
            &.open {
              background-image: url(../images/common/icon-speaker-white.svg);
            }
          }
          &.book {
            background-image: url(../images/common/icon-book.svg);
            &.open {
              background-image: url(../images/common/icon-book-white.svg);
            }
          }
          &.news {
            padding-left: 35px;
            background-image: url(../images/common/icon-news.svg);
            &.open {
              background-image: url(../images/common/icon-news-white.svg);
            }
          }
        }
      }
    }
    &--btn {
      @include mq() {
        padding: 40px 15px 100px;
      }
    }

    &--event {
      position: fixed;
      top: 0;
      right: 190px;
      width: 160px;
      height: 70px;
      text-align: center;
      color: #fff;
      background-color: #76C4EA;
      border-radius: 0px 0px 6px 6px;
      z-index: 9999;
      @include mq() {
        position: initial;
        width: 100%;
        border-radius: 6px;
        margin-bottom: 10px;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: fs(14);
        letter-spacing: .7px;
        padding-top: 25px;
        background: url(../images/common/icon-calendar.svg) top 11px center  no-repeat;
        @include mq() {
          padding: 0;
          background: none;
          font-size: fs(16);
        }
      }
    }

    &--study {
      position: fixed;
      top: 0;
      right: 1.4vw;
      // right: 20px;
      width: 13.57vw;
      // width: 190px;
      height: 80px;
      text-align: center;
      color: #fff;
      background-color: #FFC646;
      border-radius: 0px 0px 6px 6px;
      &.type2 {
        width: 190px;
        @include mq() {
          width: 100%;
        }
      }
      @include mq() {
        position: initial;
        width: 100%;
        border-radius: 6px;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1vw;
        // font-size: fs(14);
        letter-spacing: .7px;
        padding-top: 30px;
        background: url(../images/common/icon-home.svg) top 11px center  no-repeat;
        @include mq() {
          padding: 0;
          background: none;
          font-size: fs(16);
        }
      }
    }
  }

  &-ctrl {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 27px;
    transition: all .3s;
    z-index: 9999;
    display: none;
    @include mq() {
      display: block;
      top: 23px;
    }

    &:hover,
    &:focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      height: 2px;
      width: 24px;
      background: #76C4EA;
      transition: .3s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 6px;
      }

      &:nth-child(3) {
        top: 12px;
      }
    }

    &.open {
      span {
        background: #fff;
        &:nth-child(1) {
          left: 0;
          top: 6px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          // top: 6px;
          // transform: rotate(-45deg);
        }

        &:nth-child(3) {
          top: 6px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  @include mq(pc) {}
}