@charset "UTF-8";
/* -------------------
  VARIABLES
--------------------*/
/* -------------------
  MIXIN
--------------------*/
/* 
.example {
  font-size: fs(12); <- 12px quite
}
*/
/* 
.example {
  @include mq() {
	  width: 100%;
	}
}
*/
/* -------------------
  PARTS
--------------------*/
.mgt-0 {
  margin-top: 0; }

.mgt-5 {
  margin-top: 5px; }

.mgt-10 {
  margin-top: 10px; }

.mgt-15 {
  margin-top: 15px; }

.mgt-20 {
  margin-top: 20px; }

.mgt-25 {
  margin-top: 25px; }

.mgt-30 {
  margin-top: 30px; }

.mgt-35 {
  margin-top: 35px; }

.mgt-40 {
  margin-top: 40px; }

.mgt-45 {
  margin-top: 45px; }

.mgt-50 {
  margin-top: 50px; }

.mgt-55 {
  margin-top: 55px; }

.mgt-60 {
  margin-top: 60px; }

.mgt-65 {
  margin-top: 65px; }

.mgt-70 {
  margin-top: 70px; }

.mgt-75 {
  margin-top: 75px; }

.mgt-80 {
  margin-top: 80px; }

.mgt-85 {
  margin-top: 85px; }

.mgt-90 {
  margin-top: 90px; }

.mgt-95 {
  margin-top: 95px; }

.mgt-100 {
  margin-top: 100px; }

.mgb-0 {
  margin-bottom: 0; }

.mgb-5 {
  margin-bottom: 5px; }

.mgb-10 {
  margin-bottom: 10px; }

.mgb-15 {
  margin-bottom: 15px; }

.mgb-20 {
  margin-bottom: 20px; }

.mgb-25 {
  margin-bottom: 25px; }

.mgb-30 {
  margin-bottom: 30px; }

.mgb-35 {
  margin-bottom: 35px; }

.mgb-40 {
  margin-bottom: 40px; }

.mgb-45 {
  margin-bottom: 45px; }

.mgb-50 {
  margin-bottom: 50px; }

.mgb-55 {
  margin-bottom: 55px; }

.mgb-60 {
  margin-bottom: 60px; }

.mgb-65 {
  margin-bottom: 65px; }

.mgb-70 {
  margin-bottom: 70px; }

.mgb-75 {
  margin-bottom: 75px; }

.mgb-80 {
  margin-bottom: 80px; }

.mgb-85 {
  margin-bottom: 85px; }

.mgb-90 {
  margin-bottom: 90px; }

.mgb-95 {
  margin-bottom: 95px; }

.mgb-100 {
  margin-bottom: 100px; }

.no-reset h2 {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: bold;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  @media screen and (max-width: 1050px) {
    .no-reset h2 {
      font-size: 1.125rem;
      line-height: 1.6875rem; } }

.no-reset h3 {
  position: relative;
  font-size: 1.375rem;
  line-height: 1.5625rem;
  letter-spacing: 1.1px;
  font-weight: bold;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  @media screen and (max-width: 1050px) {
    .no-reset h3 {
      font-size: 1.125rem;
      line-height: 1.6875rem; } }

.no-reset h4 {
  position: relative;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: bold;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  @media screen and (max-width: 1050px) {
    .no-reset h4 {
      font-size: 1rem;
      line-height: 1.5rem; } }

.no-reset h5 {
  position: relative;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: bold;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  @media screen and (max-width: 1050px) {
    .no-reset h5 {
      font-size: 0.75rem;
      line-height: 1.125rem; } }

.no-reset p {
  position: relative;
  font-size: 0.875rem;
  line-height: 1.5625rem;
  letter-spacing: .35px; }
  @media screen and (max-width: 1050px) {
    .no-reset p {
      font-size: 0.75rem;
      line-height: 1.125rem; } }

.no-reset a {
  transition: all .3s; }
  .no-reset a:hover {
    opacity: .7; }

/* -------------------
  Title by level
--------------------*/
.title-lv2 {
  position: relative;
  font-size: 1.875rem;
  line-height: 2.625rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  @media screen and (max-width: 1050px) {
    .title-lv2 {
      font-size: 1.375rem;
      line-height: 1.6875rem; } }

.title-lv3 {
  position: relative;
  font-size: 1.375rem;
  line-height: 1.5625rem;
  letter-spacing: 1.1px;
  font-weight: bold;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  @media screen and (max-width: 1050px) {
    .title-lv3 {
      font-size: 1.125rem;
      line-height: 1.6875rem; } }
  .title-lv3.type2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold; }
    @media screen and (max-width: 1050px) {
      .title-lv3.type2 {
        font-size: 1rem;
        line-height: 1.5625rem; } }
  .title-lv3.type3 {
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: .9px;
    font-weight: bold; }
    @media screen and (max-width: 1050px) {
      .title-lv3.type3 {
        font-size: 1rem;
        line-height: 1.5625rem; } }

.title-lv4 {
  position: relative;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: bold;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  .title-lv4.type2 {
    padding-left: 20px;
    background: url(../images/common/icon-check.svg) top 4px left/15px 14px no-repeat; }
  .title-lv4.type3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: .45px; }
  @media screen and (max-width: 1050px) {
    .title-lv4 {
      font-size: 0.875rem;
      line-height: 1.375rem; } }

.title-lv5 {
  position: relative;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: bold;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  @media screen and (max-width: 1050px) {
    .title-lv5 {
      font-size: 0.75rem;
      line-height: 1.125rem; } }

/* -------------------
  Description
--------------------*/
.desc {
  font-size: 1rem;
  line-height: 2rem; }
  @media screen and (max-width: 1050px) {
    .desc {
      font-size: 0.875rem;
      line-height: 1.75rem; } }

.desc2 {
  font-size: 0.875rem;
  line-height: 1.5625rem;
  letter-spacing: .35px; }
  @media screen and (max-width: 1050px) {
    .desc2 {
      font-size: 0.875rem;
      line-height: 1.75rem; } }

.desc3 {
  font-size: 0.75rem !important;
  line-height: 1.25rem;
  letter-spacing: .6px; }

.desc4 {
  font-size: 0.75rem;
  line-height: 1.25rem; }

.txt-bold {
  font-weight: bold; }

/* -------------------
  Section Title
--------------------*/
.section-title {
  display: inline-block;
  position: relative;
  font-size: 2.375rem;
  line-height: 3.5625rem;
  font-family: "Gen Jyuu Gothic"; }
  @media screen and (max-width: 1050px) {
    .section-title {
      font-size: 1.875rem;
      line-height: 2.8125rem; } }

.section-ttl {
  display: inline-block;
  font-family: "Gen Jyuu Gothic";
  font-size: 1.5rem;
  line-height: 2.8125rem;
  letter-spacing: 2.4px;
  font-weight: bold;
  padding-top: 25px;
  background: url(../images/common/icon-book.svg) top center/21px 24px no-repeat;
  white-space: nowrap; }
  .section-ttl._home {
    background-image: url(../images/common/icon-home-blue.svg); }

.section-ttl2 {
  padding-left: 42px;
  font-size: 1.75rem;
  line-height: 2.8125rem;
  letter-spacing: 2.8px;
  font-weight: bold;
  color: #fff;
  background: url(../images/common/icon-speaker-white2.svg) left center/25px 22px no-repeat;
  white-space: nowrap; }
  @media screen and (max-width: 1050px) {
    .section-ttl2 {
      padding-left: 42px;
      font-size: 1.5rem;
      letter-spacing: 2.4px;
      display: inline-block; } }
  .section-ttl2.type2 {
    color: #001027;
    background: url(../images/common/icon-search.svg) left center/26px 26px no-repeat; }
  .section-ttl2.type3 {
    background: url(../images/common/icon-search-white2.svg) left center/26px 26px no-repeat; }

.ttl-ep {
  color: #fff;
  font-family: "Gen Jyuu Gothic";
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px; }
  .ttl-epWrap {
    position: relative;
    margin: 10px 0 0;
    padding: 70px 0;
    background-color: #76C4EA; }
    @media screen and (max-width: 1050px) {
      .ttl-epWrap {
        padding: 35px 0; } }
    .ttl-epWrap:before {
      position: absolute;
      top: -10px;
      left: 0;
      display: block;
      width: 100%;
      height: 10px;
      background: url(../images/common/bg-triangle-up.svg) top left repeat-x;
      content: ""; }
    .ttl-epWrap:after {
      position: absolute;
      bottom: -10px;
      left: 0;
      display: block;
      width: 100%;
      height: 10px;
      background: url(../images/common/bg-triangle-down.svg) bottom left repeat-x;
      content: ""; }
  @media screen and (max-width: 1050px) {
    .ttl-ep {
      font-size: 1.5625rem; } }

.ttl-ep2 {
  padding: 18px 0 0 80px;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  background: url(../images/common/icon-bighome.svg) left center no-repeat; }
  .ttl-ep2Wrap {
    position: relative;
    margin: 10px 0 0;
    padding: 50px 0 30px; }
    @media screen and (max-width: 1050px) {
      .ttl-ep2Wrap {
        padding: 35px 0; } }
    @media screen and (max-width: 767px) {
      .ttl-ep2Wrap {
        padding: 15px 0 5px; } }
  @media screen and (max-width: 1050px) {
    .ttl-ep2 {
      font-size: 1.5625rem; } }
  @media screen and (max-width: 767px) {
    .ttl-ep2 {
      padding: 10px 0 0 55px;
      font-size: 1.0625rem;
      background-size: auto 100%; } }

.ttl-ep3 {
  padding: 10px 0 0 80px;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  background: url(../images/common/icon-sofa.svg) left center no-repeat; }
  @media screen and (max-width: 1050px) {
    .ttl-ep3 {
      font-size: 1.5625rem; } }
  .ttl-ep3 span {
    display: block;
    font-size: 0.75rem;
    letter-spacing: .6px; }

.ttl-check {
  padding-left: 22px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  background: url(../images/common/icon-check.svg) left top 4px no-repeat; }
  @media screen and (max-width: 1050px) {
    .ttl-check {
      font-size: 0.875rem;
      line-height: 1.375rem; } }

.ttl-cat {
  padding-left: 22px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  background: url(../images/common/icon-camera.svg) left top 4px no-repeat; }
  @media screen and (max-width: 1050px) {
    .ttl-cat {
      font-size: 0.875rem;
      line-height: 1.375rem; } }

.ttl-notice {
  padding-left: 30px;
  font-size: 1.375rem;
  line-height: 1.5rem;
  font-weight: bold;
  background: url(../images/common/icon-speaker.svg) left top 2px no-repeat;
  background-size: 22px 20px; }
  @media screen and (max-width: 1050px) {
    .ttl-notice {
      font-size: 1.125rem; } }

.ttl-notice2 {
  padding-left: 28px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  background: url(../images/common/icon-speaker.svg) left top 2px no-repeat; }
  @media screen and (max-width: 1050px) {
    .ttl-notice2 {
      font-size: 0.875rem;
      line-height: 1.375rem; } }

.txt-blue {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #58B3E0; }

.txt-blue2 {
  font-size: 0.6875rem;
  font-weight: bold;
  color: #58B3E0; }

/* -------------------
  Date, time
--------------------*/
.date {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  line-height: 1.3125rem;
  font-weight: bold;
  letter-spacing: .3px;
  color: #909090; }
  @media screen and (max-width: 1050px) {
    .date {
      font-size: 0.6875rem;
      line-height: 1.0625rem; } }

.date2 {
  font-size: 0.75rem;
  line-height: 1.3125rem;
  color: #001027; }
  @media screen and (max-width: 1050px) {
    .date2 {
      font-size: 0.6875rem;
      line-height: 1.0625rem; } }

.date3 {
  display: inline-block;
  padding-left: 22px;
  background: url(../images/common/icon-calendar-gray.svg) top 2px left/16px 16px no-repeat;
  font-size: 0.75rem;
  line-height: 1.3125rem;
  color: #001027; }
  @media screen and (max-width: 1050px) {
    .date3 {
      font-size: 0.6875rem;
      line-height: 1.0625rem; } }

.date4 {
  color: #909090;
  font-size: 0.6875rem;
  line-height: 1.1875rem; }
  @media screen and (max-width: 1050px) {
    .date4 {
      font-size: 0.625rem;
      line-height: 1.0625rem; } }

/* -------------------
  Tags, Label
--------------------*/
.tag {
  display: inline-block;
  margin-right: 2px;
  padding: 1px 12px;
  background-color: #fff;
  color: #2FB8FC;
  border: solid 1px #2FB8FC;
  border-radius: 2px;
  font-size: 0.6875rem;
  line-height: 1.0625rem;
  transition: all .3s; }
  .tag:last-child {
    margin-right: 0; }
  .tag:hover {
    opacity: .7; }

.tag2 {
  display: inline-block;
  padding: 2px 14px;
  background-color: #EEEEEE;
  color: #7D8794;
  border-radius: 12px;
  font-size: 0.75rem;
  line-height: 1.0625rem; }
  .tag2:last-child {
    margin-right: 0; }

.tag3 {
  display: inline-block;
  padding: 3px 14px;
  background-color: #51B1ED;
  color: #fff;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.0625rem; }
  .tag3.type2 {
    background-color: #3E7FD8; }
  .tag3.type3 {
    background-color: #2DC1BB; }
  .tag3:last-child {
    margin-right: 0; }

.tag4 {
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: bold;
  color: #7B7B7B !important;
  background-color: #F1F3F5;
  padding: 8px 10px;
  border-radius: 2px; }

.tag5 {
  margin-right: 5px;
  font-size: 0.75rem;
  line-height: 1.3125rem;
  color: #585E67; }

.cat {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: bold;
  color: #585E67;
  padding: 3px 10px;
  border: 1px solid #A6A9AE;
  border-radius: 2px; }

.cat2 {
  color: #BFAF79;
  font-size: 0.6875rem;
  font-weight: bold; }
  .cat2.pink {
    color: #DF89C8; }
  .cat2.blue {
    color: #56B3DD; }

.cat3 {
  color: #909090;
  font-size: 0.6875rem;
  font-weight: bold; }

.cat4 {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: bold;
  color: #585E67;
  padding: 3px 10px;
  border: 1px solid #A6A9AE;
  background-color: #EEEEEE;
  border-radius: 2px; }

.cat5 {
  padding-left: 16px;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: #3CAAE0;
  background: url(../images/common/icon-cube.svg) left center no-repeat; }

.location {
  display: inline-block;
  padding-left: 18px;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 1.125rem;
  color: #585E67;
  background: url(../images/common/icon-location.svg) left center/12px 16px no-repeat; }

.new-label {
  display: inline-block;
  margin-left: 15px;
  padding: 2px 10px;
  font-size: 0.6875rem;
  line-height: 1.0625rem;
  color: #ED9B4A;
  border: 1px solid #ED9B4A;
  border-radius: 42px; }

/* -------------------
  TEL, FAX
--------------------*/
.tel {
  font-size: 0.9375rem;
  letter-spacing: .38px;
  line-height: 1.5625rem;
  font-weight: bold; }

/* -------------------
  Link, Button, Tab
--------------------*/
.link {
  display: block;
  transition: all .3s; }
  .link:hover {
    opacity: .7; }
  .link.underline {
    display: inline-block;
    text-decoration: underline;
    font-size: 0.875rem;
    line-height: 1;
    color: #7B7B6C; }
    .link.underline:hover {
      text-decoration: none; }

.link2 {
  display: inline-block;
  padding-left: 24px;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.25rem;
  letter-spacing: .35px;
  color: #585E67;
  background: url(../images/common/icon-circle.png) left center/18px 18px no-repeat;
  transition: all .3s; }
  .link2.type2 {
    color: #001027;
    font-size: 1.125rem; }
  .link2:hover {
    opacity: .7; }

.link3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  transition: all .3s; }
  .link3:hover {
    opacity: .7; }

.link-contact {
  font-size: inherit;
  color: #63BBE6;
  text-decoration: underline;
  transition: all .3s; }
  .link-contact:hover {
    opacity: .7;
    text-decoration: none; }

.link-icon {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  padding-right: 14px;
  font-size: 0.875rem;
  letter-spacing: .35px;
  font-weight: bold;
  line-height: 1;
  transition: all .3s; }
  .link-icon:hover:after {
    display: block; }
  .link-icon:after {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 14px);
    height: 1px;
    background-color: #7B7B6C;
    content: ""; }
  .link-icon.arrow {
    background: url(../images/common/icon-arrow-right.svg) right center/12px 8px no-repeat; }
  .link-icon.blank {
    background: url(../images/common/icon-blank.svg) right center/12px 12px no-repeat; }
  .link-icon.pdf {
    background: url(../images/common/icon-pdf.svg) right center/11px 13px no-repeat; }
  .link-icon.excel {
    background: url(../images/common/icon-excel.svg) right center/11px 13px no-repeat; }

.link-viewAll {
  display: inline-block;
  padding-top: 24px;
  font-size: 0.875rem;
  font-weight: bold;
  color: #7B7B6C;
  background: url(../images/common/icon-all.svg) no-repeat top center;
  background-size: 18px 18px; }

.link-go {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s; }
  .link-go:hover {
    opacity: .7; }
  .link-go:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 5px);
    width: 12px;
    height: 12px;
    background: url(../images/common/icon-page-right-gray.svg) center center/100% 100% no-repeat;
    content: ""; }

.view-more {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-size: 0.9375rem;
  font-weight: bold;
  letter-spacing: .38px;
  line-height: 1;
  transition: all .3s;
  color: #000000;
  background: url(../images/common/icon-viewmore.svg) left center/11px 10px no-repeat; }
  .view-more:hover {
    opacity: .7; }

.link-top {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-size: 0.9375rem;
  font-weight: bold;
  letter-spacing: .38px;
  line-height: 1;
  transition: all .3s;
  color: #000000;
  background: url(../images/common/icon-viewmore.svg) left center/11px 10px no-repeat; }
  .link-top:hover {
    opacity: .7; }

.btn {
  display: inline-block;
  width: 125px;
  height: 38px;
  line-height: 38px;
  border-radius: 2px;
  border: none;
  background-color: #7B7B6C;
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
  transition: all .3s; }
  .btn:hover {
    opacity: .7; }
  .btn.type2 {
    background-color: #C7C7C7; }
    .btn.type2:hover {
      opacity: .7; }

.btn-submit {
  display: inline-block;
  font-size: 0.875rem;
  letter-spacing: .7px;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  padding: 15px 70px;
  border-radius: 84px;
  border: solid 1px #000;
  transition: all .3s; }
  .btn-submit:hover {
    color: #000;
    background-color: #fff; }
    .btn-submit:hover span {
      background-image: url(../images/common/icon-search-white2-black.svg); }
  .btn-submit span {
    display: inline-block;
    padding-left: 27px;
    background: url(../images/common/icon-search-white2.svg) left top 2px no-repeat; }
  .btn-submit.type2 {
    width: 320px;
    padding: 20px 70px;
    max-width: 90%;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .btn-submit.type2 {
        width: 100%;
        max-width: 100%; } }

.btn-add {
  display: inline-block;
  font-size: 0.875rem;
  letter-spacing: .7px;
  background-color: #fff;
  font-weight: bold;
  width: 90px;
  padding: 12px;
  border-radius: 84px;
  transition: all .3s;
  text-align: center; }
  @media screen and (min-width: 768px) and (max-width: 1050px) {
    .btn-add {
      padding: 8px 20px; } }
  .btn-add.active {
    background-color: #001027;
    color: #fff; }
  .btn-add:hover {
    opacity: .7; }

.btn-delete {
  display: inline-block;
  font-size: 0.875rem;
  letter-spacing: .7px;
  font-weight: bold;
  width: 90px;
  padding: 10px 8px 10px 16px;
  border-radius: 84px;
  transition: all .3s;
  text-align: center;
  color: #6E7682;
  background: #DCDCDC url(../images/common/icon-delete.svg) left 15px center no-repeat; }
  .btn-delete:hover {
    opacity: .7; }

.btn-blue {
  display: block;
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-size: 0.9375rem;
  letter-spacing: .38px;
  color: #fff;
  background-color: #3CAAE0;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  transition: all .3s; }
  .btn-blue:hover {
    background-color: #F1F3F5;
    color: #001027; }

.btn-blank {
  display: block;
  width: 210px;
  font-size: 0.8125rem;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  padding: 15px 15px;
  border-radius: 84px;
  border: solid 1px #000;
  transition: all .3s;
  text-align: center;
  word-break: keep-all; }
  .btn-blank:hover {
    background-color: #F1F3F5;
    color: #000; }
    .btn-blank:hover span {
      background-image: url(../images/common/icon-blank-white-black.svg); }
  .btn-blank span {
    display: inline-block;
    padding: 0 25px;
    background: url(../images/common/icon-blank-white.svg) right top 5px/10px 9px no-repeat; }

.btn-close {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s; }
  .btn-close:hover {
    opacity: .7; }
  .btn-close:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: url(../images/common/icon-close.svg) center center/100% 100% no-repeat;
    content: ""; }

.btn-close2 {
  position: relative;
  display: inline-block;
  padding-right: 18px;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #fff;
  transition: all .3s; }
  .btn-close2:hover {
    opacity: .7; }
  .btn-close2:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 4px);
    right: 0;
    width: 8px;
    height: 8px;
    background: url(../images/common/icon-close.svg) center center/100% 100% no-repeat;
    content: ""; }

.btn-view {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 0.8125rem;
  letter-spacing: .7px;
  color: #001027;
  background-color: #F0F3F5;
  border: solid 1px #F0F3F5;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  transition: all .3s;
  text-align: center; }
  .btn-view:hover {
    background-color: #FFFFFF;
    border: solid 1px #C5CCD1; }

.btn-view2 {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 0.8125rem;
  letter-spacing: .7px;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all .3s;
  text-align: center;
  border: solid 1px #001027;
  background: #001027 url(../images/common/icon-around.svg) right 14px center/10px 10px no-repeat; }
  .btn-view2:hover {
    color: #001027;
    background: #F1F3F5 url(../images/common/icon-around-black.svg) right 14px center/10px 10px no-repeat; }

.btn-view3 {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 0.8125rem;
  letter-spacing: .7px;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #001027;
  border-radius: 20px;
  transition: all .3s;
  text-align: center;
  background-color: #001027; }
  .btn-view3:hover {
    color: #001027;
    background-color: #fff; }

.btn-view4 {
  display: inline-block;
  padding: 8px 24px;
  margin: 0 auto;
  font-size: 0.8125rem;
  letter-spacing: .7px;
  color: #001027;
  background-color: #DCDCDC;
  border: solid 1px #DCDCDC;
  font-weight: bold;
  border-radius: 18px;
  transition: all .3s;
  text-align: center; }
  .btn-view4:hover {
    background-color: #FFFFFF;
    border: solid 1px #C5CCD1; }

.btn-change {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 0.8125rem;
  letter-spacing: .7px;
  color: #78818E;
  background-color: #F1F3F5;
  border: solid 1px #D7D7D7;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  transition: all .3s;
  text-align: center;
  white-space: nowrap; }
  .btn-change:hover {
    color: #999FA9;
    background-color: #FFFFFF; }

.btn-reset {
  display: block;
  width: 200px;
  font-size: 0.8125rem;
  letter-spacing: .7px;
  color: #001027;
  background-color: #DCDCDC;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  transition: all .3s; }
  .btn-reset:hover {
    opacity: .7; }

.btn-reset2 {
  display: block;
  margin: 20px 0 25px;
  color: #7F8793;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: bold;
  text-align: center;
  transition: all .3s; }
  .btn-reset2:hover {
    opacity: .7; }

.btn-share {
  display: inline-block;
  width: 100px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  font-family: "Gen Jyuu Gothic";
  font-weight: bold;
  font-size: 0.6875rem;
  color: #fff;
  text-align: center;
  transition: all .3s;
  letter-spacing: .28px;
  background: #265693 url(../images/common/icon-facebook.svg) left 12px center no-repeat; }
  .btn-share.twitter {
    background: #0099E3 url(../images/common/icon-twitter-white.svg) left 12px center no-repeat; }
  .btn-share:hover {
    opacity: 0.7; }
  .btn-share span {
    padding-left: 10px; }

.btn-yellow {
  display: block;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  color: #fff;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: .38px;
  text-align: center;
  border-radius: 86px;
  font-weight: bold;
  background-color: #FFC646;
  transition: all .3s; }
  .btn-yellow:hover {
    background-color: #001027; }
  @media screen and (max-width: 767px) {
    .btn-yellow {
      width: 100%; } }
  .btn-yellow span {
    display: inline-block;
    padding-left: 36px;
    background: url(../images/common/icon-calendar2.svg) left top no-repeat; }

.btn-yellow2 {
  display: block;
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 24px 0;
  color: #fff;
  background-color: #FFC646;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: .38px;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  transition: all .3s; }
  .btn-yellow2.type2 {
    width: 200px;
    padding: 15px 0;
    font-size: 0.8125rem; }
  .btn-yellow2:hover {
    background-color: #F1F3F5;
    color: #001027; }

/* -------------------
  Group button
--------------------*/
.post-ctrl {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px 0; }
  .post-ctrl--link {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0px;
    font-size: 0.875rem;
    line-height: 1;
    transition: all .3s;
    color: #7B7B6C;
    background: url(../images/common/icon-arrow-right-gray.svg) right center/10px 10px no-repeat; }
    .post-ctrl--link:hover:after {
      display: block; }
    .post-ctrl--link:after {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% - 20px);
      height: 1px;
      background-color: #7B7B6C;
      content: ""; }
  .post-ctrl .back {
    margin-right: auto;
    padding: 0 0 0 20px;
    background: url(../images/common/icon-arrow-left-gray.svg) left center/10px 10px no-repeat; }
    .post-ctrl .back:after {
      left: 20px; }
  .post-ctrl .next {
    margin-left: auto; }
  .post-ctrl--menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding-top: 24px;
    font-size: 0.875rem;
    font-weight: bold;
    color: #7B7B6C;
    background: url(../images/common/icon-all.svg) no-repeat top center;
    background-size: 18px 18px; }

.post-direct {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 11px;
  border-top: 1px solid #C7C7C7;
  border-bottom: 1px solid #C7C7C7; }
  @media screen and (max-width: 1050px) {
    .post-direct {
      padding: 30px 20px 20px; } }
  @media screen and (max-width: 1050px) {
    .post-direct-tag {
      width: 100%; } }
  .post-direct-sns {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; }
    @media screen and (max-width: 1050px) {
      .post-direct-sns {
        width: 100%;
        justify-content: center;
        margin-top: 20px; } }
    .post-direct-sns a {
      margin-right: 20px; }
      @media screen and (max-width: 1050px) {
        .post-direct-sns a {
          width: 40px;
          height: 40px;
          background-color: #fff;
          border: solid 1px #7B7B6C;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center; }
          .post-direct-sns a img {
            width: auto; } }
      .post-direct-sns a.facebook {
        padding-bottom: 2px; }
      .post-direct-sns a:last-child {
        margin-right: 0; }

.list {
  font-size: 0.875rem;
  line-height: 1.375rem; }
  .list li, .list ol {
    position: relative;
    padding-left: 16px; }
    .list li:before, .list ol:before {
      position: absolute;
      left: 0;
      top: 7px;
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #3CAAE0;
      content: ""; }

.table {
  font-size: 0.875rem;
  line-height: 1.25rem; }
  @media screen and (max-width: 767px) {
    .table {
      overflow-x: auto; } }
  .table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%; }
  .table tr {
    border-top: 1px solid #EAE9E6; }
    .table tr:last-child {
      border-bottom: 1px solid #EAE9E6; }
  .table th {
    font-weight: bold;
    background-color: #F1F3F5;
    box-sizing: border-box;
    font-weight: 700;
    padding: 20px 15px;
    width: 135px;
    text-align: left; }
  .table td {
    box-sizing: border-box;
    padding: 20px 15px; }
    .table td ul li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 12px; }
      .table td ul li:before {
        position: absolute;
        left: 0;
        top: 8px;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #000;
        content: ""; }
  @media screen and (max-width: 767px) {
    .table.type2 table {
      width: 220vw; } }
  .table.type3 th, .table.type3 td {
    padding: 1.4rem 2rem; }
    @media screen and (max-width: 767px) {
      .table.type3 th, .table.type3 td {
        padding: 1.2rem 1.4rem; } }

.form-one {
  position: relative; }

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #FAFCD7 url(../images/common/icon-arrow-down-gray.png) right 15px center/8px 7px no-repeat;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  .select:focus {
    background: #fff url(../images/common/icon-arrow-up-gray.png) right 15px center/8px 7px no-repeat; }
    @media screen and (max-width: 1050px) {
      .select:focus {
        background-position: right 8px center; } }
  .select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000; }
  .select::-ms-expand {
    display: none; }

.input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 10px 40px 10px 16px;
  color: #7B7B6C;
  background-color: #FAFCD7;
  border: 1px solid #C7C7C7;
  border-radius: 2px;
  font-size: 0.75rem;
  transition: all .3s;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: bold; }
  .input:focus, .input.active {
    border-color: #000;
    background-color: #fff;
    color: #000; }
  .input.textarea {
    height: 140px; }

.checkbox {
  position: absolute;
  opacity: 0; }
  .checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 38px; }
  .checkbox + label:before {
    top: -5px;
    left: 0;
    position: absolute;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 30px;
    height: 30px;
    background: #FAFCD7;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    content: ''; }
    @media screen and (max-width: 1050px) {
      .checkbox + label:before {
        top: -8px; } }
  .checkbox:checked + label:before {
    background-color: #7B7B6C;
    border-color: #7B7B6C; }
  .checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto; }
  .checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd; }
  .checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 9px;
    background: #FAFCD7;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #FAFCD7, 4px 0 0 #FAFCD7, 4px -2px 0 #FAFCD7, 4px -4px 0 #FAFCD7, 4px -6px 0 #FAFCD7, 4px -8px 0 #FAFCD7;
    transform: rotate(45deg); }
    @media screen and (max-width: 1050px) {
      .checkbox:checked + label:after {
        top: 6px; } }

.checkbox2 {
  position: absolute;
  opacity: 0; }
  .checkbox2.type2 + label:before {
    background-color: #fff; }
  .checkbox2.type3 + label {
    color: #fff; }
  .checkbox2.type4 + label:before {
    top: -1px; }
  .checkbox2.type4:checked + label:after {
    top: 4px; }
  .checkbox2.type5 + label:before {
    top: 2px; }
  .checkbox2.type5:checked + label:after {
    top: 7px; }
  .checkbox2.white + label:before {
    background-color: #fff; }
  .checkbox2 + label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 27px;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    font-weight: bold; }
  .checkbox2 + label:before {
    top: -1px;
    left: 0;
    position: absolute;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    background: #EDEDED;
    border-radius: 3px;
    content: ''; }
  .checkbox2:checked + label:before {
    background-color: #001027; }
  .checkbox2:disabled + label {
    color: #b8b8b8;
    cursor: auto; }
  .checkbox2:disabled + label:before {
    box-shadow: none;
    background: #ddd; }
  .checkbox2:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 4px;
    background: #2FB8FC;
    width: 8px;
    height: 8px;
    border-radius: 2px; }

.search {
  position: absolute;
  top: calc(50% - 7px);
  right: 16px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: none;
  background: url(../images/common/icon-search.svg) 100% 100% no-repeat;
  content: ""; }

.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }
  .checkbox-listWrap {
    margin: 20px 0 30px; }
  .checkbox-list.type2 li {
    width: 25%; }
    @media screen and (max-width: 1050px) {
      .checkbox-list.type2 li {
        width: 100%; } }
  .checkbox-list li {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: left; }
    @media screen and (max-width: 1050px) {
      .checkbox-list li {
        width: 100%; } }
  .checkbox-list--row {
    margin-bottom: 10px; }
    .checkbox-list--row:last-child {
      margin-bottom: 0; }
  .checkbox-list--ttl {
    margin-bottom: 15px;
    padding-left: 22px;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    font-weight: bold;
    background: url(../images/common/icon-hammer.svg) left center/17px 15px no-repeat; }
    .checkbox-list--ttl.type2 {
      background: url(../images/common/icon-ruler.svg) left center/15px 15px no-repeat; }
    .checkbox-list--ttl.type3 {
      background: url(../images/common/icon-star.svg) left center/16px 15px no-repeat; }

.form-action {
  display: flex;
  justify-content: center; }

.form-area {
  padding: 50px;
  border: 6px solid #F1F3F5; }
  .form-area.type2 {
    border-radius: 6px;
    border: none;
    padding: 0;
    overflow: hidden; }
    .form-area.type2 .form-area-label {
      margin-bottom: 0;
      color: #FFFFFF;
      background: url(../images/common/icon-location-white.svg) left center/15px 20px no-repeat; }
      .form-area.type2 .form-area-labelWrap {
        position: relative;
        padding: 20px;
        background-color: #76C4EA;
        cursor: pointer; }
        .form-area.type2 .form-area-labelWrap:after {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          display: inline-block;
          width: 12px;
          height: 2px;
          border-radius: 1px;
          background-color: #fff;
          transition: all .3s;
          content: ""; }
        .form-area.type2 .form-area-labelWrap:before {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          display: inline-block;
          width: 12px;
          height: 2px;
          border-radius: 1px;
          background-color: #fff;
          content: "";
          transition: all .3s; }
          @media screen and (max-width: 767px) {
            .form-area.type2 .form-area-labelWrap:before {
              transform: translateY(-50%) rotate(90deg);
              -webkit-transform: translateY(-50%) rotate(90deg); } }
        .form-area.type2 .form-area-labelWrap.active {
          margin-bottom: 0; }
          @media screen and (max-width: 767px) {
            .form-area.type2 .form-area-labelWrap.active {
              margin-bottom: 15px; } }
          .form-area.type2 .form-area-labelWrap.active:after {
            transform: translateY(-50%) rotate(-180deg);
            -webkit-transform: translateY(-50%) rotate(-180deg); }
          .form-area.type2 .form-area-labelWrap.active:before {
            transform: translateY(-50%) rotate(-90deg);
            -webkit-transform: translateY(-50%) rotate(-90deg); }
            @media screen and (max-width: 767px) {
              .form-area.type2 .form-area-labelWrap.active:before {
                transform: translateY(-50%) rotate(-180deg);
                -webkit-transform: translateY(-50%) rotate(-180deg); } }
        @media screen and (max-width: 767px) {
          .form-area.type2 .form-area-labelWrap + .js-modelHouseAcCnt {
            display: none; } }
        @media screen and (max-width: 767px) {
          .form-area.type2 .form-area-labelWrap + div {
            display: none; } }
    .form-area.type2 .form-area-cnt {
      display: block;
      padding: 25px 20px; }
    .form-area.type2 .form-area-row {
      width: 100%;
      margin-bottom: 0; }
    .form-area.type2 .form-area-btn {
      display: block;
      padding: 0 20px; }
      .form-area.type2 .form-area-btn .btn-reset {
        width: 100%;
        margin-bottom: 12px; }
      .form-area.type2 .form-area-btn .btn-submit {
        width: 100%;
        max-width: 100%;
        padding: 14px 20px; }
  .form-area-cnt {
    display: flex;
    margin: 0 -6px; }
    @media screen and (max-width: 1050px) {
      .form-area-cnt {
        display: block;
        margin: 0; } }
  .form-area-label {
    margin-bottom: 30px;
    padding-left: 23px;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: bold;
    font-family: "Gen Jyuu Gothic";
    color: #3CAAE0;
    background: url(../images/common/icon-location-blue.svg) left center/15px 20px no-repeat; }
  .form-area-row {
    width: 25%;
    padding: 0 6px;
    margin-bottom: 30px; }
    @media screen and (max-width: 1050px) {
      .form-area-row {
        width: 100%;
        padding: 0; } }
    .form-area-row-inner {
      height: 100%;
      border-radius: 6px;
      overflow: hidden;
      background-color: #fff; }
    @media screen and (max-width: 1050px) {
      .form-area-row {
        padding: 0; } }
  .form-area-list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0; }
    .form-area-list li {
      width: 100%;
      margin-bottom: 10px; }
      @media screen and (max-width: 767px) {
        .form-area-list li {
          width: 100%; } }
      .form-area-list li .checkbox2 + label {
        font-size: 0.875rem;
        line-height: 1.75rem;
        font-weight: normal; }
      .form-area-list li .checkbox2 + label:before {
        top: -2px; }
      .form-area-list li .checkbox2:checked + label:after {
        top: 3px; }
  .form-area-ttl {
    font-size: 1.0625rem;
    letter-spacing: .8px;
    line-height: 1.25rem;
    font-weight: bold; }
    .form-area-ttl .checkbox2 + label {
      padding-left: 34px; }
    .form-area-ttl .checkbox2 + label:before {
      width: 22px;
      height: 22px;
      top: -3px; }
    .form-area-ttl .checkbox2:checked + label:after {
      left: 7px; }
  .form-area-btn {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 768px) and (max-width: 1050px) {
      .form-area-btn {
        justify-content: space-between; } }
    @media screen and (max-width: 767px) {
      .form-area-btn {
        flex-flow: column-reverse;
        width: 100%; } }
    .form-area-btn .btn-reset {
      margin-right: 20px;
      padding: 12px 20px;
      border-radius: 20px;
      color: #001027; }
      @media screen and (max-width: 767px) {
        .form-area-btn .btn-reset {
          margin-right: 0;
          margin-top: 20px;
          position: static;
          width: 100%; } }
      @media screen and (min-width: 768px) and (max-width: 1050px) {
        .form-area-btn .btn-reset {
          width: 40%;
          margin: 0; } }

.select2 {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #001027;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: .7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/common/icon-plus-blue.svg) right center/10px 10px no-repeat; }

select.select2::-ms-expand {
  display: none; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.col2-table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px; }
  @media screen and (max-width: 767px) {
    .col2-table {
      display: block;
      margin: 0; } }
  .col2-table-item {
    width: 50%;
    padding: 0 20px;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .col2-table-item {
        width: 100%;
        padding: 0; } }
    .col2-table-item .table {
      width: 100%; }
    .col2-table-item--tags {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #F1F2F5;
      border-radius: 8px; }

.col2-75 {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .col2-75 {
      display: block; } }
  @media screen and (max-width: 767px) {
    .col2-75--left {
      width: 100%;
      margin-bottom: 20px; } }
  .col2-75--right {
    width: 25%;
    margin-left: 20px;
    flex-shrink: 0; }
    @media screen and (max-width: 767px) {
      .col2-75--right {
        width: 100%;
        margin-left: 0; } }

.col2-25 {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .col2-25 {
      display: block; } }
  .col2-25--left {
    width: 25%;
    margin-right: 20px;
    flex-shrink: 0; }
    @media screen and (max-width: 767px) {
      .col2-25--left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px; } }
  @media screen and (max-width: 767px) {
    .col2-25--right {
      width: 100%;
      margin-bottom: 20px; } }

.col2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px; }
  @media screen and (max-width: 767px) {
    .col2 {
      display: block;
      margin: 0; } }
  .col2-item {
    width: 50%;
    padding: 0 20px;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .col2-item {
        width: 100%;
        padding: 0; } }
    .col2-item .table {
      width: 100%; }

.col3 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }
  @media screen and (max-width: 767px) {
    .col3 {
      display: block;
      margin: 0; } }
  .col3-item {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .col3-item {
        width: 100%;
        padding: 0; } }
    .col3-item--inner {
      display: block; }

.col4 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }
  @media screen and (max-width: 767px) {
    .col4 {
      display: block;
      margin: 0; } }
  .col4-item {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .col4-item {
        width: 100%;
        padding: 0; } }
    .col4-item--inner {
      display: block; }

.col5 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }
  @media screen and (max-width: 767px) {
    .col5 {
      display: block;
      margin: 0; } }
  .col5-item {
    width: 20%;
    padding: 0 10px;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .col5-item {
        width: 100%;
        padding: 0; } }
    .col5-item--inner {
      display: block; }

.list-result {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 30px; }
  @media screen and (max-width: 767px) {
    .list-result {
      display: block;
      margin: 0 0 30px; } }
  .list-result.type2 li {
    width: 50%; }
    @media screen and (max-width: 767px) {
      .list-result.type2 li {
        width: 100%;
        padding: 0; } }
  .list-result li {
    width: 33.33%;
    margin-bottom: 20px;
    padding: 0 10px; }
    @media screen and (max-width: 767px) {
      .list-result li {
        width: 100%;
        padding: 0; } }
    .list-result li a {
      height: 100%;
      border: solid #EAE9E6;
      border-width: 0 1px 1px 1px;
      border-radius: 8px; }
  .list-result-thumb {
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    height: 223px; }
    .list-result-thumb img {
      width: 100%;
      height: 100%;
      border-radius: 8px 8px 0 0; }
  .list-result-cnt {
    padding: 15px 15px 25px; }
    .list-result-cnt-ttl {
      margin-bottom: 15px;
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: bold; }
    .list-result-cnt-table table {
      font-size: 0.75rem; }
      .list-result-cnt-table table th {
        position: relative;
        font-weight: bold;
        min-width: 80px;
        padding: 5px 10px 5px 0;
        padding-left: 14px; }
        .list-result-cnt-table table th:before {
          position: absolute;
          left: 0;
          top: 13px;
          display: block;
          width: 5px;
          height: 5px;
          border: 1px solid #7D8794;
          border-radius: 50%;
          content: ""; }
      .list-result-cnt-table table td {
        padding: 5px 0 5px 10px; }
    .list-result-cnt .location {
      margin-top: 30px; }

.content-result {
  display: flex; }
  @media screen and (max-width: 767px) {
    .content-result {
      display: block; } }
  .content-result--sidebar {
    width: 295px;
    margin-right: 60px;
    margin-bottom: 50px;
    flex-shrink: 0; }
    @media screen and (min-width: 768px) and (max-width: 1050px) {
      .content-result--sidebar {
        width: 260px;
        margin-right: 30px; } }
    @media screen and (max-width: 767px) {
      .content-result--sidebar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px; } }
    .content-result--sidebar-condition {
      margin-bottom: 20px;
      padding: 25px;
      border: 4px solid #EFF1F3; }
      .content-result--sidebar-condition-ttl {
        position: relative;
        margin-bottom: 15px;
        font-size: 1.0625rem;
        line-height: 1.375rem;
        font-weight: bold;
        cursor: pointer;
        transition: all .3s; }
        @media screen and (max-width: 767px) {
          .content-result--sidebar-condition-ttl {
            margin-bottom: 0; } }
        .content-result--sidebar-condition-ttl:after {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          display: inline-block;
          width: 12px;
          height: 2px;
          border-radius: 1px;
          background-color: #76C4EA;
          transition: all .3s;
          content: ""; }
        .content-result--sidebar-condition-ttl:before {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          display: inline-block;
          width: 12px;
          height: 2px;
          border-radius: 1px;
          background-color: #76C4EA;
          content: "";
          transition: all .3s; }
          @media screen and (max-width: 767px) {
            .content-result--sidebar-condition-ttl:before {
              transform: translateY(-50%) rotate(90deg);
              -webkit-transform: translateY(-50%) rotate(90deg); } }
        .content-result--sidebar-condition-ttl.active {
          margin-bottom: 0; }
          @media screen and (max-width: 767px) {
            .content-result--sidebar-condition-ttl.active {
              margin-bottom: 15px; } }
          .content-result--sidebar-condition-ttl.active:after {
            transform: translateY(-50%) rotate(-180deg);
            -webkit-transform: translateY(-50%) rotate(-180deg); }
          .content-result--sidebar-condition-ttl.active:before {
            transform: translateY(-50%) rotate(-90deg);
            -webkit-transform: translateY(-50%) rotate(-90deg); }
            @media screen and (max-width: 767px) {
              .content-result--sidebar-condition-ttl.active:before {
                transform: translateY(-50%) rotate(-180deg);
                -webkit-transform: translateY(-50%) rotate(-180deg); } }
        .content-result--sidebar-condition-ttl + ul {
          display: block; }
          @media screen and (max-width: 767px) {
            .content-result--sidebar-condition-ttl + ul {
              display: none; } }
      .content-result--sidebar-condition ul li {
        margin-bottom: 15px;
        padding-left: 18px;
        font-size: 0.9375rem;
        line-height: 1.375rem;
        background: url(../images/common/icon-check2.svg) top 5px left no-repeat; }
        .content-result--sidebar-condition ul li:last-child {
          margin-bottom: 0; }
  .content-result--cnt {
    width: 100%; }
    @media screen and (max-width: 767px) {
      .content-result--cnt {
        margin-bottom: 50px; } }
  .content-result--counter {
    margin-bottom: 15px;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    font-weight: bold; }
    .content-result--counter .count {
      display: inline-block;
      margin: 0 5px 0 10px;
      font-size: 1.25rem; }
    .content-result--counter .unit {
      font-size: 0.875rem;
      color: #7D8794; }

.list-category {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -15px 0; }
  @media screen and (max-width: 767px) {
    .list-category {
      display: block;
      margin: 0; } }
  .list-category li {
    width: 33.33%;
    padding: 0 15px; }
    @media screen and (max-width: 767px) {
      .list-category li {
        width: 100%;
        padding: 0;
        margin-bottom: 20px; }
        .list-category li:last-child {
          margin-bottom: 0; } }
    .list-category li a {
      height: 100%;
      border-radius: 10px; }
  .list-category-thumb {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    height: 215px; }
    .list-category-thumb img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }
  .list-category-btn {
    margin-top: 40px; }

.d-flex {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1050px) {
    .d-flex {
      display: block; } }

.Adgxe {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1050px) {
    .Adgxe {
      display: block; } }
  @media screen and (max-width: 1050px) {
    .Adgxe .d-flex {
      display: flex; } }
  .Adgxe .d-flex .addStant {
    font-weight: bold;
    margin-right: 20px; }

/* -------------------
  PAGINATION
--------------------*/
.pagination {
  margin: 50px auto 20px; }
  @media screen and (max-width: 1050px) {
    .pagination {
      margin: 35px auto 50px; } }
  .pagination-label {
    margin-bottom: 7px;
    font-size: 0.625rem;
    color: #000;
    text-align: center; }
  .pagination-list {
    display: flex;
    text-align: center;
    flex-flow: wrap;
    justify-content: center; }
    .pagination-list a {
      width: 2.1875rem;
      height: 3.125rem;
      display: flex;
      margin: 0 0.125rem;
      justify-content: center;
      align-items: center;
      color: #EAE9E6;
      font-size: 1.125rem;
      letter-spacing: 0;
      line-height: 1.4;
      transition: all .3s; }
      @media screen and (max-width: 1050px) {
        .pagination-list a {
          margin-bottom: 5px;
          width: 1.875rem;
          height: 1.875rem;
          font-size: 1rem; } }
      .pagination-list a:hover {
        color: #000; }
      .pagination-list a.active {
        color: #1F1F1F;
        pointer-events: none; }
      .pagination-list a.ctrl {
        width: 3.125rem;
        height: 3.125rem;
        padding: 0 11px;
        border: 1px solid #EAE9E6;
        background-color: #fff;
        border-radius: 50%; }
        @media screen and (max-width: 1050px) {
          .pagination-list a.ctrl {
            width: 1.875rem;
            height: 1.875rem; } }
        .pagination-list a.ctrl:hover {
          border-color: #3CAAE0; }
        .pagination-list a.ctrl.prev {
          margin-right: 25px; }
          @media screen and (max-width: 1050px) {
            .pagination-list a.ctrl.prev {
              margin-right: 8px; } }
        .pagination-list a.ctrl.next {
          margin-left: 25px; }
          @media screen and (max-width: 1050px) {
            .pagination-list a.ctrl.next {
              margin-left: 8px; } }
  .pagination-spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: .875rem;
    color: #919191;
    margin: .125rem .0625rem;
    height: 100%; }

.pagination2 {
  margin: 50px auto 20px; }
  @media screen and (max-width: 1050px) {
    .pagination2 {
      margin: 35px auto 50px; } }
  .pagination2-label {
    margin-bottom: 7px;
    font-size: 0.625rem;
    color: #000;
    text-align: center; }
  .pagination2-list {
    display: flex;
    text-align: center;
    flex-flow: wrap;
    justify-content: center; }
    .pagination2-list a {
      width: 2.1875rem;
      height: 3.125rem;
      display: flex;
      margin: 0 0.125rem;
      justify-content: center;
      align-items: center;
      color: #EAE9E6;
      font-size: 1.125rem;
      letter-spacing: 0;
      line-height: 1.4;
      transition: all .3s; }
      @media screen and (max-width: 1050px) {
        .pagination2-list a {
          margin-bottom: 5px;
          width: 1.875rem;
          height: 1.875rem;
          font-size: 1rem; } }
      .pagination2-list a:hover {
        color: #000; }
      .pagination2-list a.active {
        color: #1F1F1F;
        pointer-events: none; }
      .pagination2-list a.ctrl {
        width: 3.125rem;
        height: 3.125rem;
        padding: 0 11px;
        background-color: #001027;
        border-radius: 50%; }
        @media screen and (max-width: 1050px) {
          .pagination2-list a.ctrl {
            width: 1.875rem;
            height: 1.875rem; } }
        .pagination2-list a.ctrl:hover {
          background-color: #3CAAE0; }
        .pagination2-list a.ctrl.prev {
          margin-right: 25px; }
          @media screen and (max-width: 1050px) {
            .pagination2-list a.ctrl.prev {
              margin-right: 8px; } }
        .pagination2-list a.ctrl.next {
          margin-left: 25px; }
          @media screen and (max-width: 1050px) {
            .pagination2-list a.ctrl.next {
              margin-left: 8px; } }
  .pagination2-spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: .875rem;
    color: #919191;
    margin: .125rem .0625rem;
    height: 100%; }

/* -------------------
  BREADCRUMB
--------------------*/
.breadcrumb {
  margin-top: 10px;
  padding: 14px 18px 14px; }
  .breadcrumb-inner {
    white-space: nowrap;
    overflow-x: auto;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto; }
    @media screen and (max-width: 1050px) {
      .breadcrumb-inner {
        width: auto;
        max-width: auto; } }
  .breadcrumb ul li {
    display: inline-block;
    font-size: 0.75rem;
    letter-spacing: 0.6px; }
    @media screen and (max-width: 1050px) {
      .breadcrumb ul li {
        margin-bottom: 8px; } }
    .breadcrumb ul li:first-child a {
      padding-left: 12px; }
    .breadcrumb ul li a {
      display: inline-block;
      transition: all .3s; }
      .breadcrumb ul li a:hover {
        opacity: 0.7; }
      .breadcrumb ul li a .icon-home {
        position: relative;
        width: 13px;
        height: 11px; }
        .breadcrumb ul li a .icon-home:before {
          position: absolute;
          bottom: 0;
          left: -12px;
          display: inline-block;
          width: 13px;
          height: 11px;
          background: url(../images/common/icon-home-gray.svg) no-repeat;
          content: ""; }
    .breadcrumb ul li + li {
      position: relative;
      padding-left: 38px;
      color: #000; }
      .breadcrumb ul li + li:before {
        display: inline-block;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 18px;
        height: 1px;
        background-color: #D5D5D5;
        content: ""; }

/* -------------------
  THUMBNAIL, IMAGE
--------------------*/
.thumb-ttl {
  margin-top: 10px; }

/* -------------------
  PAGE TOP
--------------------*/
.page-top {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  opacity: 0;
  background-color: #7b7b6c;
  transition: all 0.3s;
  z-index: -1; }
  .page-top.active {
    opacity: 1;
    z-index: 8999; }
    .page-top.active:hover {
      opacity: .6; }
  .page-top span {
    display: block;
    height: 6px;
    width: 12px;
    background: url(../images/common/pageTop.png) no-repeat;
    background-size: 100%;
    text-indent: 180%;
    white-space: nowrap;
    overflow: hidden; }

/* -------------------
  ACCORDION
--------------------*/
.accordion-label {
  background: #F2F5F7;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  height: 65px;
  align-items: center;
  padding: 25px 70px 25px 20px;
  position: relative;
  transition: all 0.6s; }
  .accordion-label:after {
    position: absolute;
    right: 20px;
    top: 50%;
    display: inline-block;
    border: solid #939393;
    border-width: 0 0 2px 2px;
    display: inline-block;
    padding: 2px;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transition: all .25s;
    content: ""; }
  .accordion-label.active:after {
    transform: translateY(-50%) rotate(135deg);
    -webkit-transform: translateY(-50%) rotate(135deg); }

.accordion-cnt {
  display: none;
  padding: 25px 70px 25px 20px; }

/* -------------------
  TABS
--------------------*/
.tabs-nav {
  display: flex;
  width: 100%; }

.tabs-item {
  width: 50%;
  background-color: #19A1E6;
  padding: 20px 15px;
  font-size: 1.125rem;
  letter-spacing: .9px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: all .3s; }
  .tabs-item.type2 {
    border-radius: 0 !important;
    background-color: #F1F3F5;
    border-top: solid 4px #F1F3F5;
    color: #001027; }
    .tabs-item.type2:hover {
      border-color: #3CAAE0;
      background-color: #F1F3F5;
      color: #001027; }
    .tabs-item.type2.active {
      border-color: #3CAAE0;
      color: #19A1E6;
      background-color: #FFFFFF; }
  .tabs-item:first-child {
    border-radius: 10px 0 0 0; }
  .tabs-item:last-child {
    border-radius: 0 10px 0 0; }
  @media screen and (max-width: 767px) {
    .tabs-item {
      font-size: 0.8125rem;
      padding: 15px 5px; } }
  .tabs-item:hover, .tabs-item.active {
    color: #19A1E6;
    background-color: #FFFFFF; }

.tabs-cnt {
  background-color: #fff;
  border-radius: 0px 0px 10px 10px; }

.tabs-panel {
  padding: 75px 100px 60px; }
  @media screen and (max-width: 1050px) {
    .tabs-panel {
      padding: 40px 35px; } }
  .tabs-panel.type2 {
    padding: 40px 50px 70px; }
    @media screen and (max-width: 1050px) {
      .tabs-panel.type2 {
        padding: 40px 35px; } }
  .tabs-panel.type3 {
    padding: 40px 0 70px; }
    @media screen and (max-width: 1050px) {
      .tabs-panel.type3 {
        padding: 40px 35px; } }

.tabs2 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px; }
  .tabs2 li {
    position: relative;
    width: 50px;
    padding: 15px;
    color: #001027;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 1.1px;
    transition: all .3s;
    border-bottom: 4px solid #F0F3F5;
    font-family: "Gen Jyuu Gothic";
    font-weight: bold; }
    @media screen and (max-width: 1050px) {
      .tabs2 li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.6875rem;
        line-height: 1rem;
        padding: 12px 5px;
        border-radius: 0; } }
    @media screen and (max-width: 1050px) {
      .tabs2 li:first-child {
        border-radius: 6px 0 0 6px; } }
    @media screen and (max-width: 767px) {
      .tabs2 li:first-child {
        max-width: 50px; } }
    .tabs2 li:last-child {
      margin-right: 0; }
      @media screen and (max-width: 1050px) {
        .tabs2 li:last-child {
          border-radius: 0 6px 6px 0; } }
    .tabs2 li:hover:after, .tabs2 li.active:after {
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #3CAAE0;
      border-radius: 2px;
      content: ""; }

.slidersEP-head {
  margin-bottom: 8px; }
  .slidersEP-head .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 767px) {
      .slidersEP-head .container {
        flex-wrap: wrap; } }
  .slidersEP-head.type2 .container {
    display: block; }
  .slidersEP-head--name {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold; }
    .slidersEP-head--name .link2 {
      margin-left: 10px; }
      @media screen and (max-width: 1050px) {
        .slidersEP-head--name .link2 {
          display: block;
          width: 100%;
          margin-top: 5px;
          margin-left: 0; } }

.slidersEP-wrapper {
  padding: 20px 0;
  background-color: #F1F3F5; }
  .slidersEP-wrapper .slick-list {
    padding-top: 12px !important; }

.slidersEP-item {
  width: 780px;
  max-width: 100vw;
  margin: 0 25px;
  opacity: .6;
  background-color: #001027;
  border-radius: 10px;
  overflow: hidden; }
  .slidersEP-item.slick-current {
    opacity: 1; }
  @media screen and (max-width: 1050px) {
    .slidersEP-item {
      width: 500px;
      margin: 0 15px; } }
  @media screen and (max-width: 767px) {
    .slidersEP-item {
      width: 100%;
      margin: 0; } }
  .slidersEP-item-inner {
    position: relative;
    margin: 0 20px;
    padding: 50px 50px 35px;
    background-color: #fff;
    border-radius: 10px; }
    @media screen and (max-width: 1050px) {
      .slidersEP-item-inner {
        margin: 0 15px;
        padding: 50px 36px 35px; } }
  .slidersEP-item-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;
    overflow: hidden; }
    @media screen and (max-width: 1050px) {
      .slidersEP-item-thumb {
        width: 100%;
        height: 300px;
        margin-bottom: 0; } }
    @media screen and (max-width: 767px) {
      .slidersEP-item-thumb {
        border-radius: 0;
        height: 250px; } }
    .slidersEP-item-thumb img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto; }
      @media screen and (max-width: 767px) {
        .slidersEP-item-thumb img {
          border-radius: 0; } }

.slidersEP .slick-prev, .slidersEP .slick-next {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.slidersEP .slick-prev {
  left: calc(50% - 472px); }

.slidersEP .slick-next {
  right: calc(50% - 472px); }

@media screen and (max-width: 1050px) {
  .slidersEP-navWrap {
    padding: 0 20px; } }

.slidersEP-navWrap .slick-list {
  padding-top: 20px !important; }
  @media screen and (max-width: 1050px) {
    .slidersEP-navWrap .slick-list {
      padding-top: 10px !important; } }

.slidersEP-nav--item {
  margin: 0 6px;
  border-radius: 4px;
  overflow: hidden;
  opacity: .6;
  box-sizing: border-box; }
  .slidersEP-nav--item:hover, .slidersEP-nav--item.slick-current {
    position: relative;
    opacity: 1; }
    .slidersEP-nav--item:hover:before, .slidersEP-nav--item.slick-current:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 1;
      border: 3px solid #001027;
      border-radius: 4px;
      cursor: pointer;
      content: ""; }
  .slidersEP-nav--item-thumb {
    width: 100%;
    height: 78px;
    overflow: hidden; }
    @media screen and (min-width: 768px) and (max-width: 1050px) {
      .slidersEP-nav--item-thumb {
        height: 108px; } }
    @media screen and (max-width: 767px) {
      .slidersEP-nav--item-thumb {
        height: 94px; } }
    .slidersEP-nav--item-thumb img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      border-radius: 10px; }

.slidersEP-nav .slick-prev, .slidersEP-nav .slick-next {
  background: none;
  width: 4px;
  height: 8px;
  top: 54%;
  left: 0; }
  .slidersEP-nav .slick-prev span:before, .slidersEP-nav .slick-next span:before {
    top: 0;
    left: -14px;
    background: url(../images/common/icon-arrow-left-black.svg) no-repeat; }

.slidersEP-nav .slick-next {
  left: auto;
  right: 0; }
  .slidersEP-nav .slick-next span:before {
    left: auto;
    right: -16px;
    background: url(../images/common/icon-arrow-right-black.svg) no-repeat; }

.subSlidersEP {
  margin-bottom: 25px; }
  .subSlidersEP-item {
    height: 312px;
    border-radius: 10px;
    overflow: hidden; }
    @media screen and (max-width: 1050px) {
      .subSlidersEP-item {
        height: 212px; } }
    @media screen and (max-width: 767px) {
      .subSlidersEP-item {
        display: flex !important;
        align-items: center;
        justify-content: center; } }
    .subSlidersEP-item img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      margin: 0 auto; }
      @media screen and (max-width: 767px) {
        .subSlidersEP-item img {
          width: auto;
          height: auto;
          max-height: 100%;
          max-width: 100%; } }
  .subSlidersEP .slick-dots {
    margin-top: 5px; }
    .subSlidersEP .slick-dots li button {
      border: solid 1px #fff;
      background-color: #fff; }
      .subSlidersEP .slick-dots li button:before {
        width: 8px;
        height: 8px;
        background-color: #F1F3F5; }
    .subSlidersEP .slick-dots li.slick-active button {
      border-color: #001027; }
      .subSlidersEP .slick-dots li.slick-active button:before {
        width: 6px;
        height: 6px;
        background-color: #001027; }

.subSlidersEP2-item {
  height: 312px;
  border-radius: 10px;
  overflow: hidden; }
  @media screen and (max-width: 1050px) {
    .subSlidersEP2-item {
      height: 212px; } }
  @media screen and (max-width: 767px) {
    .subSlidersEP2-item {
      display: flex !important;
      align-items: center;
      justify-content: center; } }
  .subSlidersEP2-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      .subSlidersEP2-item img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%; } }

.subSlidersEP2 .slick-dots {
  margin-top: 5px; }
  .subSlidersEP2 .slick-dots li button {
    border: solid 1px #F1F3F5;
    background-color: #78818E; }
    .subSlidersEP2 .slick-dots li button:before {
      width: 6px;
      height: 6px;
      background-color: #78818E; }
  .subSlidersEP2 .slick-dots li.slick-active button {
    border-color: #001027;
    background-color: #fff; }
    .subSlidersEP2 .slick-dots li.slick-active button:before {
      width: 6px;
      height: 6px;
      background-color: #001027; }

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6, .post-content p, .post-content a,
.textwidget h1,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5,
.textwidget h6,
.textwidget p,
.textwidget a {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }

.post-title a,
.widget-posts .post-meta .post-title,
.widget_categories a, .widget_product_categories a, .widget_archive a,
.breadcrumbs .inner {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }

.footer-logo {
  padding: 0;
  border-bottom: none; }

@media screen and (max-width: 1050px) {
  .the-post .the-post-header h1 {
    font-size: 22px; } }

.blog-banner {
  width: 820px;
  max-width: 100%;
  margin: 0 auto; }

.blog-nav {
  position: relative;
  margin-top: -5px;
  padding: 15px 0;
  background-color: #76C4EA;
  text-align: center;
  transition: all .3s; }
  .blog-nav.active {
    padding-bottom: 50px; }
    @media screen and (max-width: 1050px) {
      .blog-nav.active {
        padding-bottom: 50px; } }
  @media screen and (max-width: 1050px) {
    .blog-nav {
      padding: 0 25px 10px;
      text-align: right; } }
  .blog-nav:before {
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    background: url(../images/common/bg-triangle-up.svg) top left repeat-x;
    content: ""; }
  .blog-nav--directWrap {
    position: relative;
    display: inline-block; }
  @media screen and (max-width: 1050px) {
    .blog-nav--directInner {
      position: fixed;
      top: 0;
      left: 0;
      width: 75vw;
      height: 100vh;
      padding: 0 20px;
      z-index: 10001;
      overflow-y: auto;
      overflow-x: hidden;
      min-width: 200px;
      padding: 60px 25px 25px;
      background-color: #fff;
      transition: all .3s;
      transform: translateX(-100%); }
      .blog-nav--directInner.active {
        transform: translateX(0); } }
  .blog-nav--direct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media screen and (max-width: 1050px) {
      .blog-nav--direct {
        position: relative;
        display: block; }
        .blog-nav--direct li {
          display: inline-block; } }
    .blog-nav--direct-ttl {
      margin-bottom: 15px;
      text-align: left;
      font-weight: bold;
      color: #000; }
    .blog-nav--direct li {
      display: block;
      margin-right: 10px; }
      @media screen and (max-width: 1050px) {
        .blog-nav--direct li {
          margin-bottom: 10px; } }
      .blog-nav--direct li:last-child {
        margin-right: 0; }
      .blog-nav--direct li a {
        display: block;
        padding: 10px 20px 10px 37px;
        font-size: 0.8125rem;
        line-height: 1.125rem;
        border-radius: 60px;
        letter-spacing: .33px;
        color: #000;
        font-weight: bold;
        background: #fff url(../images/common/icon-pencil.svg) left 12px center/16px 16px no-repeat; }
        @media screen and (max-width: 1050px) {
          .blog-nav--direct li a {
            padding-left: 25px;
            text-align: left;
            border-bottom: 1px solid rgba(0, 0, 0, 0.07);
            border-radius: 0;
            background-position: left center; } }
  .blog-nav--snsWrap {
    position: absolute;
    top: 0;
    right: -5.3vw;
    transform: translateX(100%);
    -webkit-transform: translateX(100%); }
    @media screen and (max-width: 1050px) {
      .blog-nav--snsWrap {
        position: relative;
        margin: 10px 0;
        right: 0;
        top: 0;
        transform: translate(0);
        -webkit-transform: translate(0); } }
  .blog-nav--sns {
    position: relative;
    display: flex; }
    .blog-nav--sns a {
      display: block;
      width: 35px;
      height: 35px;
      border-radius: 50%; }
    .blog-nav--sns-search {
      margin-right: 6px;
      background: #000 url(../images/common/icon-search-white.svg) center center/13px 13px no-repeat; }
    .blog-nav--sns-twitter {
      background: #fff url(../images/common/icon-twitter.svg) center center/15px 12px no-repeat; }

.blog-advers {
  margin-bottom: 60px; }

.blog-sns img {
  width: 100%; }

.blog-sns--labelWrap {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: solid 1px #F1F3F5; }

.blog-sns--label {
  position: relative;
  padding: 4px 0 4px 42px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  line-height: 1.5625rem;
  font-weight: bold;
  letter-spacing: .6px;
  color: #19A1E6; }
  .blog-sns--label:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #EFEFEF url(../images/common/icon-twitter-blue.svg) center center/13px 10px no-repeat;
    content: ""; }

.blog-contact {
  padding: 25px 0;
  background-color: #F1F3F5;
  text-align: center; }
  .blog-contact a {
    display: inline-block;
    padding-left: 28px;
    font-size: 0.875rem;
    letter-spacing: 1px;
    line-height: 1.5625rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    background: url(../images/common/icon-mail.svg) left center/19px 14px no-repeat; }

.blog-balloon--item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .blog-balloon--item:last-child {
    margin-bottom: 0; }
  .blog-balloon--item:nth-child(even) {
    flex-flow: row-reverse; }
    .blog-balloon--item:nth-child(even) .blog-balloon--item-cnt:before {
      position: absolute;
      left: auto;
      right: -12px;
      top: 20px;
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid #F1F3F5;
      border-right: none;
      content: ""; }
  .blog-balloon--item-thumbWrap {
    width: 80px; }
  .blog-balloon--item-thumb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden; }
  .blog-balloon--item-name {
    margin-top: 10px;
    color: #7B7B7B;
    font-size: 0.625rem;
    letter-spacing: .25px;
    line-height: 0.875rem;
    font-weight: bold;
    text-align: center; }
  .blog-balloon--item-cnt {
    position: relative;
    width: calc(100% - 100px);
    margin-top: 10px;
    position: relative;
    padding: 25px 30px;
    background-color: #F1F3F5;
    border-radius: 5px;
    font-size: 0.875rem;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
    .blog-balloon--item-cnt:before {
      position: absolute;
      left: -12px;
      top: 20px;
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 15px solid #F1F3F5;
      content: ""; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }

.post-title-alt {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }

.main-slider.common-slider.classic-slider {
  position: relative;
  padding: 10px 0 20px;
  background-color: #76C4EA; }
  @media screen and (max-width: 1050px) {
    .main-slider.common-slider.classic-slider {
      padding-top: 0; } }
  @media screen and (max-width: 767px) {
    .main-slider.common-slider.classic-slider {
      margin-bottom: 15px; } }
  .main-slider.common-slider.classic-slider:before {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    background: url(../images/common/bg-triangle-down.svg) bottom left repeat-x;
    content: ""; }

.common-slider .slick-arrow i {
  display: none; }

.common-slider .loaded .item {
  margin: 0 25px; }

.next-arrow.slick-arrow,
.prev-arrow.slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff url(../images/common/icon-prev-blue.svg) left 20px center/13px 16px no-repeat;
  margin-left: -32px; }
  @media screen and (max-width: 1050px) {
    .next-arrow.slick-arrow,
    .prev-arrow.slick-arrow {
      margin-left: -15px; } }
  .next-arrow.slick-arrow:hover,
  .prev-arrow.slick-arrow:hover {
    opacity: .8;
    background: #fff url(../images/common/icon-prev-blue.svg) left 20px center/13px 16px no-repeat; }

.next-arrow.slick-arrow {
  background: #fff url(../images/common/icon-next-blue.svg) left 26px center/13px 16px no-repeat; }
  @media screen and (max-width: 1050px) {
    .next-arrow.slick-arrow {
      right: 5px; } }
  .next-arrow.slick-arrow:hover {
    opacity: .8;
    background: #fff url(../images/common/icon-next-blue.svg) left 26px center/13px 16px no-repeat; }

.tsi-angle-left {
  display: none; }

.common-slider .loaded .item {
  border-radius: 5px;
  overflow: hidden; }

.main-slider .item:after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(140, 140, 140, 0) 45%, rgba(0, 0, 0, 0.8) 100%); }

@media screen and (max-width: 1050px) {
  .main-slider .slider-overlay {
    padding: 20px; } }

.slider-overlay .excerpt {
  display: none; }

.slider-overlay .category {
  padding: 4px 15px;
  background-color: #fff;
  color: #2FB8FC;
  border-radius: 70px;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  transition: all .3s;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .slider-overlay .category {
      padding: 2px 10px;
      font-size: 0.625rem; } }
  .slider-overlay .category:hover {
    opacity: .7; }

.slider-overlay .heading {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  @media screen and (max-width: 1050px) {
    .slider-overlay .heading {
      font-size: 1.125rem; } }

.slider-overlay .read-more {
  border-radius: 20px;
  font-size: 0.75rem; }

.widget_search .search-field {
  height: 60px;
  border-radius: 4px;
  font-size: 0.8125rem;
  letter-spacing: .33px;
  line-height: 1.3125rem;
  color: #7B7B7B;
  font-weight: bold;
  border: none;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  background: #EFF3F4 url(../images/common/icon-search-black.svg) right 16px center/14px 15px no-repeat; }

.widget-title:not(.has-style),
.block-head-widget {
  border: none;
  padding: 0;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 20px; }

.widget_search button {
  display: none; }

.main .sidebar {
  padding-right: 32px; }
  @media screen and (max-width: 1050px) {
    .main .sidebar {
      margin-top: 30px; } }
  @media screen and (max-width: 767px) {
    .main .sidebar {
      margin-top: 70px !important; } }

.ts-contain, .main {
  margin-top: 0; }

.column,
.ts-row [class^="col-"],
.ts-row [class*=" col-"] {
  padding-left: 32px; }
  @media screen and (max-width: 767px) {
    .column,
    .ts-row [class^="col-"],
    .ts-row [class*=" col-"] {
      margin-top: 30px;
      padding: 0 15px; } }

.ts-row [class^="col-"] {
  padding: 0; }

.ts-row {
  margin-left: 0;
  margin-right: 0; }
  @media screen and (max-width: 1050px) {
    .ts-row {
      display: flex;
      flex-flow: column-reverse; } }

@media screen and (max-width: 767px) {
  .row.type2 {
    padding: 0 30px 40px !important; }
    .row.type2 .col-6 {
      margin-top: 15px;
      text-align: center; }
      .row.type2 .col-6 .post-share-icons.cf {
        justify-content: center; } }

.wpp-list li {
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  counter-increment: ranking; }
  .wpp-list li:after {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border-radius: 4px 0px;
    color: #fff;
    background-color: #19A1E6;
    font-family: "Montserrat", sans-serif;
    font-size: 0.6875rem;
    font-weight: bold;
    content: counter(ranking); }

.wpp-thumbnail {
  border-radius: 5px;
  overflow: hidden;
  height: 57px; }

.wpp-post-title {
  display: block;
  margin-bottom: 15px;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.375rem;
  color: #000; }

.post-meta .meta-item,
.post-meta .comments,
.post-meta time,
.wpp-excerpt {
  margin-bottom: 0;
  font-size: 0.6875rem;
  font-weight: bold;
  line-height: 1.125rem;
  color: #909090;
  font-family: "Montserrat", sans-serif; }

.ar-cheerup-thumb {
  border-radius: 5px;
  overflow: hidden; }

.widget_categories a,
.widget_product_categories a,
.widget_archive a {
  padding-left: 24px;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: .33px;
  font-weight: bold;
  background: url(../images/common/icon-pencil.svg) left center/14px 14px no-repeat; }

.widget_categories a:before,
.widget_product_categories a:before,
.widget_archive a:before {
  display: none; }

.widget_categories li,
.widget_product_categories li,
.widget_archive li {
  padding: 18px 0; }

.tagcloud a {
  padding: 10px;
  color: #7B7B7B;
  background-color: #F1F3F5;
  border-radius: 2px;
  font-size: 0.6875rem;
  font-weight: bold; }

.posts-dynamic .grid-post {
  margin-bottom: 40px; }

.grid-post {
  --pm-h-below-mb: 10px; }

.grid-post .post-thumb {
  border-radius: 5px;
  overflow: hidden; }

.meta-above {
  text-align: center; }

.grid-post .post-title-alt {
  margin-bottom: 15px;
  margin-top: 18px;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  letter-spacing: 1px; }
  .grid-post .post-title-alt a {
    display: block; }

.below.meta-below {
  text-align: center; }

.grid-post .post-footer {
  margin-top: 0;
  border-bottom: none; }

.main-pagination.number .inner {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center; }

.main-pagination.number .label-prev {
  margin-right: 40px; }
  .main-pagination.number .label-prev span,
  .main-pagination.number .label-prev a {
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0 11px;
    border-radius: 50%;
    background: #000 url(../images/common/icon-arrow-left-white.png) left 20px center/7px 10px no-repeat;
    font-size: 0; }
    .main-pagination.number .label-prev span i,
    .main-pagination.number .label-prev a i {
      display: none; }
    .main-pagination.number .label-prev span.disabled,
    .main-pagination.number .label-prev a.disabled {
      opacity: .7; }
      .main-pagination.number .label-prev span.disabled:hover,
      .main-pagination.number .label-prev a.disabled:hover {
        background-color: #000; }
    .main-pagination.number .label-prev span:hover,
    .main-pagination.number .label-prev a:hover {
      background-color: #76C4EA; }

.main-pagination.number .label-next {
  margin-left: 40px; }
  .main-pagination.number .label-next span,
  .main-pagination.number .label-next a {
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0 11px;
    border-radius: 50%;
    background: #000 url(../images/common/icon-arrow-right-white.png) left 22px center/7px 10px no-repeat;
    font-size: 0; }
    .main-pagination.number .label-next span i,
    .main-pagination.number .label-next a i {
      display: none; }
    .main-pagination.number .label-next span.disabled,
    .main-pagination.number .label-next a.disabled {
      opacity: .7; }
    .main-pagination.number .label-next span:hover,
    .main-pagination.number .label-next a:hover {
      background-color: #76C4EA; }

.main-pagination.number .page-numbers.current {
  color: #1F1F1F; }

.main-pagination.number .page-numbers,
.main-pagination.number a {
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #EAE9E6;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }

.posts-dynamic .posts-wrap .col-6 .post-meta .post-cat > a {
  color: #56B3DD; }
  .posts-dynamic .posts-wrap .col-6 .post-meta .post-cat > a.pink {
    color: #DF89C8; }
  .posts-dynamic .posts-wrap .col-6 .post-meta .post-cat > a.yellow {
    color: #BFAF79; }
  .posts-dynamic .posts-wrap .col-6 .post-meta .post-cat > a.green {
    color: #86B94C; }
  .posts-dynamic .posts-wrap .col-6 .post-meta .post-cat > a.purple {
    color: #5666DD; }
  .posts-dynamic .posts-wrap .col-6 .post-meta .post-cat > a.orange {
    color: #E69970; }

@media screen and (max-width: 767px) {
  .posts-dynamic .grid-post {
    margin-bottom: 15px; } }

.archive-head {
  background-color: #9FD6F0;
  border: none; }

.archive-head .sub-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.6875rem; }

.archive-head .title {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: bold; }

.breadcrumbs {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  color: #B7B7B7; }

.breadcrumbs .delim {
  position: relative;
  width: 18px;
  margin: 0 12px; }
  .breadcrumbs .delim:before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #D5D5D5;
    content: ""; }

.breadcrumbs .delim i {
  display: none; }

.breadcrumbs .breadcrumb_last,
.breadcrumbs .current {
  color: #000; }

.breadcrumbs + .main {
  margin-top: 50px; }
  @media screen and (max-width: 767px) {
    .breadcrumbs + .main {
      margin-top: 20px; } }

article .row .col-6 {
  color: #aaa;
  font-size: 0.6875rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .28px;
  font-weight: bold; }
  article .row .col-6 .post-categories {
    padding-top: 6px;
    margin-right: 10px;
    display: inline-block;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    color: #56B3DD; }

.post-share-icons a {
  background-color: #F1F3F5;
  border: none; }

.the-post .featured {
  margin-bottom: 10px; }

#toc_container {
  width: 100%;
  border-left: none;
  border-right: none;
  border-color: #EAE9E6;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 60px; }

#toc_container p.toc_title {
  text-align: left;
  padding-left: 22px;
  background: url(../images/common/icon-list-gray.svg) left center/15px 12px no-repeat; }

#toc_container a span {
  display: none; }

#toc_container p.toc_title + ul.toc_list {
  margin-top: 30px; }
  #toc_container p.toc_title + ul.toc_list li {
    margin-bottom: 5px; }
    #toc_container p.toc_title + ul.toc_list li:last-child {
      margin-bottom: 0; }
    #toc_container p.toc_title + ul.toc_list li a {
      display: inline-block;
      padding-left: 22px;
      font-size: 0.9375rem;
      line-height: 2rem;
      letter-spacing: .38px;
      font-weight: bold;
      color: #000;
      background: url(../images/common/icon-tick.svg) left center/12px 9px no-repeat; }
    #toc_container p.toc_title + ul.toc_list li ul {
      margin-top: 6px; }
      #toc_container p.toc_title + ul.toc_list li ul li {
        margin-bottom: 3px; }
        #toc_container p.toc_title + ul.toc_list li ul li:last-child {
          margin-bottom: 0; }
        #toc_container p.toc_title + ul.toc_list li ul li a {
          position: relative;
          padding-left: 12px;
          color: #7B7B7B;
          background: none;
          font-weight: normal; }
          #toc_container p.toc_title + ul.toc_list li ul li a:before {
            position: absolute;
            top: 12px;
            left: 0;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #3CAAE0;
            content: ""; }

figure.wp-block-image {
  margin: 0; }
  @media screen and (max-width: 767px) {
    figure.wp-block-image {
      margin: 15px 0; } }

@media screen and (max-width: 767px) {
  .wp-block-columns {
    margin-bottom: 0; } }

.has-border {
  padding: 2em 2.375em;
  border: solid 8px #F1F3F5; }

.has-quote {
  position: relative;
  padding: 5px 2.375em;
  font-size: 0.875rem;
  color: #818181; }
  .has-quote:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 21px;
    height: 18px;
    background: url(../images/common/icon-quote-left.svg) no-repeat;
    content: ""; }
  .has-quote:after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 21px;
    height: 18px;
    background: url(../images/common/icon-quote-right.svg) no-repeat;
    content: ""; }

.section-head {
  text-align: left; }

.section-head .title {
  padding-top: 0;
  font-size: 1.375rem;
  padding: 0 30px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }

.section-head:before {
  display: none; }

.related-posts .posts {
  padding-top: 30px; }

.ts-row .post .post-cat2 {
  display: inline-block;
  margin-top: 15px; }

.ts-row .post .post-cat2 > a {
  font-size: 0.6875rem;
  font-weight: bold;
  color: #56B3DD; }

.ts-row .post:nth-child(2n + 2) .post-cat2 > a {
  color: #DF89C8; }

.ts-row .post:nth-child(2n + 3) .post-cat2 > a {
  color: #BFAF79; }

.ts-row .post:nth-child(2n + 4) .post-cat2 > a {
  color: #86B94C; }

.ts-row .post:nth-child(2n + 6) .post-cat2 > a {
  color: #5666DD; }

.ts-row .post:nth-child(2n + 6) .post-cat2 > a {
  color: #E69970; }

.related-posts.grid-2 .post-title {
  padding: 0; }

.post-share-icons.cf {
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 1050px) {
    .post-share-icons.cf {
      justify-content: flex-start; } }

.sidebar {
  padding-right: 65px !important; }
  @media screen and (max-width: 1050px) {
    .sidebar {
      padding-right: 0 !important; } }

.sidebar .widget {
  margin-bottom: 70px; }
  .sidebar .widget .below.meta-below {
    text-align: left; }

@media screen and (max-width: 767px) {
  .breadcrumbs span {
    flex-shrink: 0; } }

.posts-dynamic .posts-wrap {
  margin: 0 -15px; }
  .posts-dynamic .posts-wrap .col-6 {
    padding: 0 15px; }

.tsi-google:hover:before {
  background-image: url(../images/common/icon-google-blue.svg); }

.tsi-google:before {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(../images/common/icon-google-black.svg) no-repeat;
  content: ""; }

.tsi-line:hover:before {
  background-image: url(../images/common/icon-line-blue.svg); }

.tsi-line:before {
  display: inline-block;
  width: 12px;
  height: 11px;
  background: url(../images/common/icon-line-black.svg) no-repeat;
  content: ""; }

.tsi-bing:hover:before {
  background-image: url(../images/common/icon-bing-blue.png); }

.tsi-bing:before {
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url(../images/common/icon-bing-black.png) no-repeat;
  background-size: 100%;
  content: ""; }

.tsi-facebook:hover:before {
  background-image: url(../images/common/icon-facebook-blue.svg); }

.tsi-facebook:before {
  display: inline-block;
  width: 7px;
  height: 12px;
  background: url(../images/common/icon-facebook-black.svg) no-repeat;
  background-size: 100%;
  content: ""; }

.tsi-twitter:hover:before {
  background-image: url(../images/common/icon-twitter-blue.svg); }

.tsi-twitter:before {
  display: inline-block;
  width: 13px;
  height: 11px;
  background: url(../images/common/icon-twitter-black.svg) no-repeat;
  background-size: 100%;
  content: ""; }

.tsi-pinterest-p:hover:before {
  background-image: url(../images/common/icon-pinterest-blue.svg); }

.tsi-pinterest-p:before {
  display: inline-block;
  width: 10px;
  height: 12px;
  background: url(../images/common/icon-pinterest-black.svg) no-repeat;
  background-size: 100%;
  content: ""; }

p.has-background {
  padding: 2.25em 2.375em; }

.related-posts {
  position: relative;
  margin-top: 40px;
  padding-top: 40px; }
  .related-posts:before {
    position: absolute;
    top: 0;
    left: 32px;
    display: block;
    height: 1px;
    width: calc(100% - 32px - 15px);
    background-color: #EAE9E6;
    content: ""; }
    @media screen and (max-width: 1050px) {
      .related-posts:before {
        left: 0;
        width: 100%; } }
  .related-posts .section-head {
    margin-top: 0; }

.post-content h2 {
  font-size: 22px; }

.post-content h3 {
  font-size: 16px; }

.post-content a {
  color: #000000; }

@media screen and (max-width: 1050px) {
  .p-notfoundWrap {
    display: flex;
    flex-flow: column-reverse; }
    .p-notfoundWrap .search-form {
      display: none; } }

.p-notfound--ttl {
  margin-bottom: 30px;
  font-size: 1.125rem;
  letter-spacing: .9px;
  line-height: 2.25rem;
  font-weight: bold; }

.p-notfound--form {
  margin-top: 20px;
  background-color: #EFF3F4;
  padding: 25px; }
  .p-notfound--form form {
    display: flex; }
    .p-notfound--form form input[type=text] {
      width: 100%;
      padding: 24px 20px;
      font-size: 0.875rem;
      font-weight: bold;
      letter-spacing: .7px;
      color: #001027;
      border-color: #EFF3F4;
      border-radius: 4px 0 0 4px; }
    .p-notfound--form form input[type=submit] {
      padding: 13px 30px 13px 50px;
      background: #001027 url(../images/common/icon-search-white3.svg) left 26px center/16px 16px no-repeat;
      border-radius: 0px 8px 8px 0px;
      transition: all .3s; }
      .p-notfound--form form input[type=submit]:hover {
        opacity: .7; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10000;
  transition: all .3s;
  transform: translateX(-100%); }
  .overlay.active {
    transform: translateX(0); }

.blog-nav-ctrl {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 18px;
  height: 27px;
  transition: all .3s;
  z-index: 9995;
  display: none; }
  @media screen and (max-width: 1050px) {
    .blog-nav-ctrl {
      display: block;
      top: 23px; } }
  .blog-nav-ctrl:hover, .blog-nav-ctrl:focus {
    outline: none; }
  .blog-nav-ctrl span {
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    width: 18px;
    background: #fff;
    transition: .3s ease; }
    .blog-nav-ctrl span:nth-child(1) {
      top: 0; }
    .blog-nav-ctrl span:nth-child(2) {
      top: 6px; }
    .blog-nav-ctrl span:nth-child(3) {
      top: 12px; }
  .blog-nav-ctrl.open span {
    background: #fff; }
    .blog-nav-ctrl.open span:nth-child(1) {
      left: 0;
      top: 6px;
      transform: rotate(45deg); }
    .blog-nav-ctrl.open span:nth-child(2) {
      opacity: 0; }
    .blog-nav-ctrl.open span:nth-child(3) {
      top: 6px;
      transform: rotate(-45deg); }

.blog-nav-close {
  display: block;
  position: fixed;
  right: 25vw;
  top: 0;
  width: 30px;
  height: 30px;
  background: #76C4EA url(../images/common/icon-close.svg) center center/12px 12px no-repeat;
  content: "";
  z-index: 10002;
  transition: all .3s;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%); }
  .blog-nav-close.active {
    -webkit-transform: translateY(0); }

.blog-nav-gotop {
  position: absolute;
  left: 60px;
  top: 12px;
  color: #58B3E0;
  padding: 9px 12px 9px 25px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 60px;
  background: #fff url(../images/common/icon-home2.svg) left 8px center/10px 11px no-repeat; }

.blog-nav--form {
  display: flex;
  position: absolute;
  top: 50px;
  right: -5.3vw;
  transform: translateX(38px);
  -webkit-transform: translateX(38px);
  width: 290px;
  pointer-events: none;
  opacity: 0;
  transition: all .3s; }
  @media screen and (max-width: 1050px) {
    .blog-nav--form {
      top: 55px;
      transform: translateX(-20px);
      -webkit-transform: translateX(-20px); } }
  @media screen and (max-width: 767px) {
    .blog-nav--form {
      width: calc(100vw - 50px); } }
  .blog-nav--form.active {
    opacity: 1;
    pointer-events: auto; }
  @media screen and (max-width: 1050px) {
    .blog-nav--form.type2 {
      position: relative;
      display: flex !important;
      width: 100%;
      transition: all .3s;
      opacity: 1;
      top: 0;
      right: 0;
      margin-top: 30px;
      pointer-events: auto;
      transform: translateX(0);
      -webkit-transform: translateX(0); } }
  .blog-nav--form .search-boxInput {
    width: 100%;
    height: 36px;
    font-size: 0.875rem;
    line-height: 14px;
    padding: 2px 10px;
    border-radius: 3px;
    border: none;
    border: 1px solid #E3E3E3;
    border-radius: .3rem 0 0 .3rem;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    background-color: #fff; }
    @media screen and (max-width: 767px) {
      .blog-nav--form .search-boxInput {
        font-size: 0.75rem; } }
    .blog-nav--form .search-boxInput::-webkit-input-placeholder {
      /* Edge */
      color: #7B7B7B; }
    .blog-nav--form .search-boxInput:-ms-input-placeholder {
      /* Internet Explorer */
      color: #7B7B7B; }
    .blog-nav--form .search-boxInput::placeholder {
      color: #7B7B7B; }
  .blog-nav--form input[type="submit"] {
    height: auto;
    font-size: 0.875rem;
    line-height: 14px;
    padding: 3px 1em;
    color: #fff;
    border-radius: 0 .3rem .3rem 0;
    border: none;
    background: #FFC646;
    display: inline-block;
    transition: all .3s; }
    @media screen and (max-width: 767px) {
      .blog-nav--form input[type="submit"] {
        font-size: 0.75rem; } }
    .blog-nav--form input[type="submit"]:hover {
      opacity: .7; }

.blog-popup {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 280px;
  background-color: #fff;
  box-shadow: 0px 6px 6px #E5E5E5;
  border-radius: 8px;
  z-index: 9999998; }
  @media screen and (max-width: 767px) {
    .blog-popup {
      bottom: 50%;
      right: 50%;
      transform: translate(50%, 50%);
      -webkit-transform: translate(50%, 50%); } }
  .blog-popup--ctrl {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    cursor: pointer;
    z-index: 9999999; }
  .blog-popup--inner {
    position: relative;
    width: 100%;
    height: 100%; }
  .blog-popup--cnt-thumb {
    height: 187px;
    text-align: center;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden; }
    .blog-popup--cnt-thumb img {
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0; }
  .blog-popup--cnt-infor {
    padding: 18px; }
    .blog-popup--cnt-infor .notice-slider--item-ttl {
      font-size: 1rem;
      margin-bottom: 10px !important; }
    .blog-popup--cnt-infor .txt-blue,
    .blog-popup--cnt-infor .txt-blue2,
    .blog-popup--cnt-infor .desc4 {
      margin-bottom: 0 !important; }
    .blog-popup--cnt-infor .date4 {
      margin-bottom: 0 !important; }
  .blog-popup--overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999997; }
    @media screen and (max-width: 767px) {
      .blog-popup--overlay {
        display: block; } }

/*# sourceMappingURL=../maps/blog.css.map */
