@font-face {
  font-family: 'ts-icons';
  src: url("../fonts/ts-icons.woff2?v1") format("woff2"), url("../fonts/ts-icons.woff?v1") format("woff"), url("../fonts/ts-icons.ttf?v1") format("truetype"), url("../fonts/ts-icons.svg?v1#ts-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.tsi {
  display: inline-block;
  font: normal normal normal 14px/1 ts-icons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.tsi-spin {
  -webkit-animation: tsi-spin 2s infinite linear;
  animation: tsi-spin 2s infinite linear; }

@-webkit-keyframes tsi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes tsi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* Icons */
.tsi-plus:before {
  content: "\f067"; }

.tsi-search:before {
  content: "\f002"; }

.tsi-envelope-o:before {
  content: "\f003"; }

.tsi-heart:before {
  content: "\f004"; }

.tsi-close:before {
  content: "\f00d"; }

.tsi-remove:before {
  content: "\f00d"; }

.tsi-times:before {
  content: "\f00d"; }

.tsi-repeat:before {
  content: "\f01e"; }

.tsi-rotate-right:before {
  content: "\f01e"; }

.tsi-play:before {
  content: "\f04b"; }

.tsi-chevron-down:before {
  content: "\f078"; }

.tsi-shopping-cart:before {
  content: "\f07a"; }

.tsi-heart-o:before {
  content: "\f08a"; }

.tsi-twitter:before {
  content: "\f099"; }

.tsi-facebook:before {
  content: "\f09a"; }

.tsi-facebook-f:before {
  content: "\f09a"; }

.tsi-feed:before {
  content: "\f09e"; }

.tsi-rss:before {
  content: "\f09e"; }

.tsi-bars:before {
  content: "\f0c9"; }

.tsi-navicon:before {
  content: "\f0c9"; }

.tsi-reorder:before {
  content: "\f0c9"; }

.tsi-pinterest:before {
  content: "\f0d2"; }

.tsi-google-plus:before {
  content: "\f0d5"; }

.tsi-linkedin:before {
  content: "\f0e1"; }

.tsi-angle-double-left:before {
  content: "\f100"; }

.tsi-angle-double-right:before {
  content: "\f101"; }

.tsi-angle-left:before {
  content: "\f104"; }

.tsi-angle-right:before {
  content: "\f105"; }

.tsi-angle-up:before {
  content: "\f106"; }

.tsi-angle-down:before {
  content: "\f107"; }

.tsi-mail-reply:before {
  content: "\f112"; }

.tsi-reply:before {
  content: "\f112"; }

.tsi-youtube:before {
  content: "\f167"; }

.tsi-instagram:before {
  content: "\f16d"; }

.tsi-flickr:before {
  content: "\f16e"; }

.tsi-tumblr:before {
  content: "\f173"; }

.tsi-long-arrow-left:before {
  content: "\f177"; }

.tsi-long-arrow-right:before {
  content: "\f178"; }

.tsi-dribbble:before {
  content: "\f17d"; }

.tsi-vk:before {
  content: "\f189"; }

.tsi-steam:before {
  content: "\f1b6"; }

.tsi-soundcloud:before {
  content: "\f1be"; }

.tsi-lastfm:before {
  content: "\f202"; }

.tsi-pinterest-p:before {
  content: "\f231"; }

.tsi-clone:before {
  content: "\f24d"; }

.tsi-vimeo:before {
  content: "\f27d"; }

.tsi-shopping-bag:before {
  content: "\f290"; }

/*# sourceMappingURL=../maps/icons.css.map */
