@charset "UTF-8";
/* -------------------
  BOOKING
--------------------*/
.p-booking {
	padding: 70px 0 100px;
	.title-lv2 {
		margin-bottom: 40px;
	}
	&--choice {
		margin: 60px 0 100px;
		@include mq(sm2) {
			margin: 30px 0 50px;
		}
		.title-lv4 {
			margin-bottom: 15px;
		}
		&-list {
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin: 0 -10px;
				li {
					width: 25%;
					padding: 0 10px;
					margin-bottom: 20px;
					@include mq() {
						width: 50%;
					}
					@include mq(sm2) {
						width: 100%;
					}
					a {
						display: block;
						padding: 15px 10px;
						font-size: fs(14);
						line-height: fs(28);
						letter-spacing: .35px;
						font-weight: bold;
						background-color: #F0F3F5;
						border-radius: 6px;
						text-align: center;
						border: 2px solid #F0F3F5;
						transition: all .3s;
						&:hover,
						&.active {
							border-color: #001027;
						}
						span {
							display: inline-block;
							padding-left: 22px;
							background: url(../images/common/icon-location-black.svg) left top 5px / 12px 16px no-repeat;
						}
					}
				}
			}
		}
	}
	&--results {
		.title-lv3 {
			margin-bottom: 30px;
		}
		&-counter {
			margin-bottom: 15px;
			font-size: fs(15);
			.num {
				display: inline-block;
				margin-left: 5px;
				font-size: fs(20);
				letter-spacing: 1px;
				font-weight: bold;
			}
			.unit {
				display: inline-block;
				margin-left: 2px;
				font-size: fs(14);
				letter-spacing: .7px;
				color: #7D8794;
				font-weight: bold;
			}
		}
		&-list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px 30px;
			@include mq(sm2) {
				margin: 0 0 30px;
			}
		}
		&-item {
			width: 33.33%;
			margin-bottom: 20px;
			padding: 0 10px;
			@include mq(sm2) {
				width: 100%;
				padding: 0;
			}
		}
		&-thumb {
			overflow: hidden;
			border-radius: 8px 8px 0 0;
			max-height: 223px;
			img {
				border-radius: 8px 8px 0 0;
			}
		}
		&-cnt {
			padding: 15px 15px 25px;
			border-radius: 0 0 8px 8px;
			border: solid #EAE9E6;
			border-width: 0 1px 1px 1px;
			&-ttl {
				margin-bottom: 15px;
				font-size: fs(18);
				line-height: fs(28);
				font-weight: bold;
			}
			&-address {
				margin-bottom: 8px;
				font-size: fs(13);
				line-height: fs(18);
			}
			&-count {
				margin-bottom: 15px;
				font-size: fs(12);
				line-height: fs(18);
				letter-spacing: .3px;
			}
		}
	}
}


/* -------------------
  CHOICE
--------------------*/
.p-choice {
	margin-top: 40px;
	.title-lv3 {
		margin-bottom: 40px;
	}
	&--head {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 20px;
		&-ttl {
			font-size: fs(15);
			line-height: fs(42);
			font-weight: bold;
			letter-spacing: .75px;
			color: #585E67;
			@include mq(sm2) {
				margin-bottom: 15px;
				line-height: fs(15);
			}
			span {
				display: inline-block;
				margin-left: 10px;
				font-size: fs(18);
				line-height: fs(42);
				font-weight: bold;
				color: #001027;
				@include mq(sm2) {
					margin-left: 0;
				}
			}
		}
		&-btn {

		}
	}
	&--item {
		display: flex;
		justify-content: space-between;
		background-color: #F0F3F5;
		border: solid 2px #F0F3F5;
		border-radius: 6px;
		margin-bottom: 20px;
		padding: 20px;
		transition: all .3s;
		// cursor: pointer;
		&.active {
			border-color: #001027;
		}
		@include mq(sm2){
			display: block;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&-infor {
			display: flex;
			// justify-content: space-between;
			width: 48%;
			@include mq(tb){
				width: 46%;
			}
			@include mq(sm2){
				display: block;
				width: 100%;
			}
			&-thumb {
				width: 195px;
				margin-right: 20px;
				max-height: 130px;
				border-radius: 10px;
				overflow: hidden;
				flex-shrink: 0;
				text-align: center;
				@include mq(tb){
					width: 160px;
				}
				@include mq(sm2) {
					width: 100%;
					max-height: 220px;
					margin-bottom: 15px;
				}
				img {
					border-radius: 10px;
				}
			}
			&-cnt {

			}
			&-cat {
				margin-bottom: 2px;
				font-size: fs(20);
				font-weight: bold;
				line-height: fs(28);
				color: #3CAAE0;
				// padding-left: 15px;
				// background: url(../images/common/icon-cube.svg) left top 4px / 11px 12px no-repeat;
				@include mq(sm2) {
					// margin-bottom: 10px;
				}
			}
			&-ttl {
				margin-bottom: 15px;
				font-size: fs(12);
				line-height: fs(24);
				letter-spacing: .5px;
				font-weight: bold;
				@include mq(sm2) {
					margin-bottom: 10px;
				}
			}
			&-des {
				font-size: fs(11);
				line-height: fs(19);
				color: #585E67;
			}
		}
		&-form {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 48%;
			@include mq(tb){
				width: 51%;
			}
			@include mq(sm2){
				display: block;
				width: 100%;
				margin-top: 20px;
			}
			form {
				width: 100%;
			}
			&-input {
				position: relative;
        display: block;
        width: 100%;
        padding: 18px 20px;
        background-color: #fff;
        border-radius: 6px;
        background-image: none;
        transition: all .3s;

        @include mq() {
          width: 100%;
        }

        span {
          display: block;
          padding: 4px 0 3px 28px;
          background: url(../images/common/icon-clock.svg) left top 2px / 18px 18px no-repeat;

          input {
            position: relative;
            display: block;
            width: 100%;
            border: none;
            background-color: inherit;
            color: #001027;
            font-size: fs(14);
            font-weight: bold;
            letter-spacing: .7px;
          }
          .btn-plus {
          	width: 10px;
          	height: 10px;
          	position: absolute;
          	right: 20px;
          	top: calc(50% - 5px);
          	background: url(../images/common/icon-plus-blue.svg) right center / 10px 10px no-repeat;
          	z-index: 1;
          	cursor: pointer;
          }
        }
			}
			&-label {
				font-size: fs(14);
				font-weight: bold;
				letter-spacing: .7px;
				line-height: fs(28);
				color: #001027;
			}
			&-timeWrap {
				display: flex;
				justify-content: space-between;
				margin-top: 12px;
			}
			&-time {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 47%;
			}
			&-label {
				margin-left: 10px;
			}
			&-alert {
				margin-top: 12px;
				font-size: fs(12);
				color: #FF0000;
			}
		}
		&-btn {
			margin-left: 50px;
			flex-shrink: 0;
			@include mq() {
				margin-left: 20px;
			}
			@include mq(sm2) {
				margin: 20px auto 0;
				text-align: center;
			}
		}
	}
	&--direct {
		margin-top: 40px;
	}
}

/* -------------------
  FORM
--------------------*/
.p-form {
	&--list {
		margin: 15px 0 60px;
		li {
			position: relative;
			margin-bottom: 5px;
			padding-left: 12px;
			font-size: fs(14);
			&:before {
				position: absolute;
				left: 0;
				top: 8px;
				display: block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: #000;
				content: "";
			}
		}
		&.type2 {
			margin: 0;
			li {
				margin-bottom: 10px;
				font-size: 1rem;
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
	}
	&--infor {
		margin-bottom: 45px;
		&-table {
			margin-bottom: 20px;
			.table {
				width: 100%;
				th {
					@include mq(pc) {
						width: 18rem;
					}
				}
			}
		}
		&-btn {
			.btn-change {
				margin-right: 0;
			}
		}
	}
}