@charset "UTF-8";
/* -------------------
  END PAGE
--------------------*/
.p-end {
	padding: 100px 0;
	@include mq() {
    // padding: 70px 0;
    padding: 30px 0;
  }
  &.type2 {
  	padding: 70px 0;
  	@include mq() {
	    padding: 30px 0;
	  }
  }
}