@charset "UTF-8";

/* -------------------
  PAGE EVENT
--------------------*/
.p-event {
  padding-bottom: 100px;

  &--sliderWraper {
    padding: 70px 0 130px;
    background-color: #F1F3F5;

    @include mq() {
      padding: 50px 0 130px;
    }

    .slick-list {
      padding-top: 12px !important;
    }
  }

  &--slider {
    &-item {
      width: 1080px;
      max-width: 100vw;

      @include mq() {
        // width: 100%;
      }

      &-inner {
        position: relative;
        margin: 0 20px;
        padding: 50px 50px 35px;
        background-color: #fff;
        border-radius: 10px;

        @include mq() {
          margin: 0 15px;
          padding: 50px 36px 35px;
        }
      }

      .pickup-label {
        position: absolute;
        top: -10px;
        left: 15px;
        padding: 6px 15px 15px;
        font-size: fs(14);
        line-height: fs(21);
        font-weight: bold;
        letter-spacing: .35px;
        color: #fff;
        background: url(../images/common/bg-pickup.svg) no-repeat;
        font-family: $font-b;
      }

      &-ttl {
        margin-bottom: 22px;
        font-size: fs(22);
        line-height: fs(31);
        letter-spacing: 1.1px;
        font-weight: bold;

        @include mq() {
          font-size: fs(18);
          line-height: fs(25);
          margin-bottom: 15px;
        }
      }

      &-tagWrap {
        margin-bottom: 32px;

        @include mq() {
          margin-bottom: 20px;
        }

        .location {}

        .tag2 {
          margin-left: 20px;
        }
      }

      &-cntBox {
        display: flex;
        justify-content: space-between;

        @include mq() {
          flex-wrap: wrap;
          flex-flow: column-reverse;
        }
      }

      &-cnt {
        width: calc(100% - 320px - 40px);
        max-width: 100%;

        @include mq() {
          width: 100%;
        }

        .desc2 {}

        &-table {
          margin: 40px 0 30px;

          @include mq() {
            margin: 20px 0 15px;
          }

          table {
            width: 100%;
            font-size: fs(14);
          }

          tr {
            padding: 22px 20px;
            border-top: solid 1px #EAE9E6;

            &:last-child {
              border-bottom: solid 1px #EAE9E6;
            }
          }

          th {
            font-weight: bold;
            text-align: left;
          }

          th,
          td {
            padding: 22px 20px;

            @include mq() {
              padding: 10px;
            }
          }
        }
      }

      &-thumb {
        width: 320px;
        height: 213px;
        overflow: hidden;
        border-radius: 10px;

        @include mq() {
          width: 100%;
          height: 300px;
          margin-bottom: 15px
        }

        @include mq(sm2) {
          height: 180px;
        }

        img {
          margin: 0 auto;
          border-radius: 10px;
        }
      }

      &-link {}
    }
  }

  &--search {
    margin-top: -80px;
    padding: 40px 35px;
    background-color: #fff;
    border-radius: 10px;

    &.type2 {
    	display: none;
      position: fixed;
      width: 760px;
      max-width: 90vw;
      top: 62vh;
      left: 50vw;
      background-color: #F1F3F5;
      border: 8px solid #fff;
      padding: 40px 45px;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      z-index: 9990;
      @include mq(sm2) {
        padding: 30px 20px;
	    }

	    .btn-submit {
    		@include mq(sm2) {
    			width: 100%;
			    padding: 15px 50px;
			    text-align: center;
    		}
    	}

      .p-event--search-inner {
        position: relative;

        &-close {
          position: absolute;
          right: -74px;
          top: -72px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #000 url(../images/common/icon-close.svg) center center / 10px 10px no-repeat;
          cursor: pointer;
          transition: all .3s;
          @include mq(sm2) {
          	width: 40px;
          	height: 40px;
      	    right: -35px;
				    top: -55px;
          }
          &:hover {
          	opacity: .8;
          }
        }
      }

      .p-event--search-fields {
        display: block;

        &-item {
          background-color: #fff;
          padding: 18px 20px 18px 20px;

          &.location {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        &-itemWrap {
          justify-content: space-between;
        }
      }

      .p-event--search-list {
      	@include mq(sm2) {
		      flex-wrap: wrap;
		    }
      }
    }

    @include mq() {
      padding: 35px 20px;
    }

    &-ttl {
      margin-bottom: 30px;
      padding: 5px 0 5px 44px;
      font-size: fs(22);
      line-height: fs(28);
      letter-spacing: 1.1px;
      font-weight: bold;
      font-family: $font-c;
      background: url(../images/common/icon-calendar-blue.svg) left top / 33px 33px no-repeat;
    }

    &-form {
      &-row {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        .p-event--search-list {
          margin-bottom: 5px;
        }
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;

      li {
        margin-right: 20px;
        margin-bottom: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-fields {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      @include mq() {
        display: block;
      }

      &-itemWrap {
        display: flex;
        align-items: center;
        @include mq() {
          display: block;
          margin-top: 10px;
        }
      }

      &-symbol {
        margin: 0 10px;
        font-size: fs(14);

        @include mq() {
          display: block;
          text-align: center;
        }
      }

      &-item {
        position: relative;
        display: block;
        width: 195px;
        padding: 18px 40px 18px 30px;
        background-color: #F1F3F5;
        border-radius: 6px;
        cursor: pointer;
        background-image: none;
        transition: all .3s;
        flex-shrink: 0;
        &.type2 {
          width: 100%;
          margin: 0;
          padding: 18px 20px;
          background-color: #fff;
          cursor: default;
          &:hover {
            opacity: 1;
          }
          span {
            padding: 2px 0 2px 28px;
            background: url(../images/common/icon-location-black.svg) left top / 16px 18px no-repeat;
          }
        }
        &.type3 {
          width: 100%;
          margin-bottom: 20px;
        }

        @include mq() {
          width: 100%;
        }
        &.item01 {
          width: 230px;
          @include mq() {
            width: 100%;
            margin-bottom: 10px;
          }
        }
        &.item02 {
          width: 290px;
          @include mq() {
            width: 100%;
          }
        }
        &.item05 {
          width: 400px;
          @include mq() {
            width: 100%;
          }
        }
        &.item06 {
          width: 310px;
          @include mq() {
            width: 100%;
          }
        }

        @include mq() {
          width: 100%;
        }

        &:hover {
          opacity: .7;
        }

        span {
          display: block;
          padding-left: 24px;
          background: url(../images/common/icon-location-black.svg) left top / 12px 14px no-repeat;
          @include mq() {
            background-position: left center;
          }

          input {
            position: relative;
            display: block;
            width: 100%;
            border: none;
            background-color: inherit;
            cursor: pointer;
            color: #001027;
            font-size: fs(14);
            font-weight: bold;
            letter-spacing: .7px;
            background: url(../images/common/icon-plus-blue.svg) right center / 10px 10px no-repeat;
          }
        }

        &.calendar {
          span {
            background-image: url(../images/common/icon-calendar-black.svg);
          }
        }
      }
    }

    &-btn {
      margin-top: 30px;
      text-align: center;
    }
  }

  &--infor {
    margin-top: 80px;

    @include mq() {
      margin-top: 50px;
    }

    &-ttl {
      margin-bottom: 50px;
      font-size: fs(30);
      line-height: fs(42);
      font-weight: bold;
      letter-spacing: 1.5px;

      @include mq() {
        font-size: fs(24);
      }
    }

    &-tab {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 40px;
      overflow-x: auto;

      li {
        width: 200px;
        margin-right: 10px;
        background-color: #F1F3F5;
        padding: 15px;
        color: #B7B7B7;
        // color: #001027;
        border-radius: 6px;
        cursor: pointer;
        text-align: center;
        font-size: fs(15);
        line-height: fs(25);
        transition: all .3s;

        // transition: all .25s;
        @include mq() {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: fs(11);
          line-height: fs(16);
          padding: 12px 5px;
          margin-right: 2px;
          border-radius: 0;
          color: #001027;
          // word-break: keep-all;
        }

        &:first-child {
          @include mq() {
            border-radius: 6px 0 0 6px;
          }

          @include mq(sm2) {
            max-width: 50px;
          }
        }

        &:last-child {
          margin-right: 0;

          @include mq() {
            border-radius: 0 6px 6px 0;
          }
        }

        &:hover,
        &.active {
          background-color: #001027;
          color: #fff;
        }
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      @include mq() {
        display: block;
        margin: 0;
      }
    }

    &-item {
      width: 33.33%;
      padding: 0 10px;
      margin-bottom: 20px;

      @include mq() {
        width: 100%;
        padding: 0;
      }

      a {
        display: block;
      }

      &-cnt {
        padding: 0 12px 12px;
      }

      &-thumb {
        position: relative;
        margin-bottom: 18px;
        height: 223px;
        overflow: hidden;
        text-align: center;
        border-radius: 10px;
        img {
        	border-radius: 10px;
        }

        @include mq(tb) {
          height: 300px;
        }

        @include mq(sm2) {
          height: 220px;
          margin-bottom: 15px;
        }
        &-label {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 3px 10px;
          font-size: fs(12);
          font-weight: bold;
          background-color: #F29A9A;
          border-radius: 0px 6px 0 0;
          &.type2 {
            color: #9FA7B2;
            background-color: #fff;
          }
          &.type3 {
            background-color: #FFF60F;
          }
        }
      }

      &-tagWrap {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        span {
          margin-right: 10px;
          margin-bottom: 5px;
        }
        @include mq() {
          margin-bottom: 10px;
        }
      }

      &-ttl {
        margin-bottom: 15px;
        font-size: fs(18);
        line-height: fs(28);
        font-weight: bold;

        @include mq() {
          margin-bottom: 10px;
          font-size: fs(16);
        }
      }

      .date2 {
        margin-top: 6px;
      }
    }
  }

  &--counter {
    margin-bottom: 16px;
    font-size: fs(20);
    line-height: fs(28);
    letter-spacing: 1px;
    font-weight: bold;
    text-align: left;

    span {
      display: inline-block;
      margin-left: 3px;
      font-size: fs(14);
      line-height: fs(28);
      letter-spacing: .7px;
      font-weight: bold;
      color: #7D8794;
    }
  }

  &--searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 920px;
    max-width: 100%;
    margin: 70px auto 0;
    padding: 25px 40px;
    border: 6px solid #F1F3F5;
    @include mq(sm2) {
			display: block;
			padding: 25px 20px 30px;
		}

    &-infor {
      width: calc(100% - 350px);
      @include mq(sm2) {
  			width: 100%;
  		}

      table {
        width: 100%;
      }

      tr {
        &:last-child {
          margin-bottom: 0;
        }
      }

      th,
      td {
        font-size: fs(15);
        line-height: fs(28);
      }

      th {
        width: 100px;
        font-weight: bold;
        padding-right: 20px;
        text-align: left;
        padding: 12px 12px 12px 24px;
        background: url(../images/common/icon-location-black.svg) left top 17px / 14px 18px no-repeat;

        &.time {
          background: url(../images/common/icon-calendar-black.svg) left top 16px / 16px 18px no-repeat;
        }

        &.name {
          background: url(../images/common/icon-flag-black.svg) left top 17px / 16px 16px no-repeat;
        }
      }
    }

    &-btn {
    	@include mq(sm2) {
	    	width: 100%;
    		margin-top: 15px;
    	}
    	.btn-submit {
    		@include mq(sm2) {
    			width: 100%;
			    padding: 15px 50px;
			    text-align: center;
    		}
    	}
    }
  }

  &--detail {
    padding-top: 70px;
    &-tag {
    	margin-bottom: 20px;
    }
    &-location {
    	margin: 20px 0 40px;
    	@include mq(sm2) {
  			margin: 20px 0 30px;
  		}
    	.date3 {
    		margin-left: 12px;
    		@include mq(sm2) {
    			width: 100%;
    			margin-left: 0;
    		}
    	}
    }
    &-top {
    	display: flex;
    	margin-bottom: 90px;
    	justify-content: space-between;
    	@include mq(sm2) {
  			flex-flow: column-reverse;
  			margin-bottom: 60px;
  		}
    	&-detail {
    		width: 48%;
    		@include mq(sm2) {
	  			width: 100%;
	  		}
    		.title-lv3 {
    			margin-bottom: 30px;
    			@include mq(sm2) {
		  			margin-bottom: 20px;
		  		}
    		}
    	}
    	&-thumb {
    		width: 48%;
    		border-radius: 10px;
    		height: 333px;
    		overflow: hidden;
    		@include mq(sm2) {
	  			width: 100%;
	  			height: 220px;
	  			margin-bottom: 40px;
	  		}
    		img {
    			border-radius: 10px;
    		}
    	}
    }
    &-body {
    	&-summary {
    		margin-bottom: 50px;
    	}
    	&-item {
    		margin-top: 40px;
    	}
    	&-qrCode {
    		width: 180px;
    	}
    }
    &-signupBox {
    	margin-top: 70px;
    	padding: 70px 0 80px;
    	background-color: #76C4EA;
    	@include mq(sm2) {
  			margin-top: 60px;
	    	padding: 50px 0 60px;
  		}
    }
    &-signup {
    	width: 700px;
    	max-width: 90vw;
    	margin: 0 auto;
    	padding: 60px 10px 40px;
    	background-color: #fff;
    	border-radius: 8px;
    	text-align: center;
    	@include mq(sm2) {
  			padding: 40px 10px 30px;
  		}
    	&-ttl {
    		margin-bottom: 15px;
    		font-size: fs(24);
    		line-height: fs(45);
    		letter-spacing: 2.4px;
    		font-weight: bold;
    		@include mq(sm2) {
	  			font-size: fs(18);
	    		line-height: fs(36);
	    		letter-spacing: 2.4px;
	  		}
    		span {
    			display: inline-block;
    			padding-left: 36px;
    			background: url(../images/common/icon-pen.svg) left top 7px / 27px 27px no-repeat;
    			@include mq(sm2) {
		  			background-size: 24px 24px;
		  		}
    		}
    	}
    	.desc2 {
    		width: 350px;
    		max-width: 100%;
    		margin: 0 auto;
    		text-align: left;
    	}
    	.btn-blank {
    		margin: 25px auto 0;
    	}
    }
    &-otherPost {
    	padding: 90px 0 80px;
    	background-color: #F1F3F5;
    	@include mq(sm2) {
  			padding: 70px 0 40px;
  		}
    	&-item {
    		margin-bottom: 70px;
    		&:last-child {
    			margin-bottom: 0;
    		}
    		.title-lv3 {
    			margin-bottom: 30px;
    		}
    	}
    }
    .view-moreWrap {
    	margin-top: 100px;
    	@include mq(sm2) {
  			margin-top: 50px;
  		}
    }
  }
}