.p-exhibition {
	.title-lv2 {
		margin: 90px 0 40px;
	}
	.title-lv3 {
		margin-bottom: 30px;
	}
	&--overview {
		margin-bottom: 70px;
		@include mq() {
			margin-bottom: 50px;
		}
	}
	&--notice {
		margin-top: 85px;
		margin-bottom: 70px;
		&-cnt {
			padding: 40px;
			border-radius: 8px;
			background-color: #F1F2F5;
			@include mq(sm2) {
				padding: 25px;
			}
			.title-lv4 {
				margin-bottom: 25px;
			}
		}
	}
	&--news {
		margin-bottom: 90px; 
		@include mq() {
			margin-bottom: 50px; 
		}
		&-list {
			li {
				display: flex;
				align-items: center;
				padding: 20px 0;
				border-bottom: solid 1px #EAE9E6;
				&:first-child {
					padding-top: 0;
				}
				* {
					line-height: 1.3;
				}
				.date {
					margin-right: 20px;
				}
				.link-icon {
					margin-bottom: 0;
				}
			}
		}
	}
	&--pickup {
		margin: 0 0 170px; 
		@include mq() {
			margin: 0 0 100px; 
		}
		&-col2 {
			display: flex;
			margin: 0 -20px 30px;
			@include mq(sm2) {
				flex-wrap: wrap;
			}
			&-item {
				width: 50%;
				padding: 0 20px;
				text-align: center;
				@include mq(sm2) {
					width: 100%;
					margin-bottom: 30px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			a {
				display: inline-block;
				img	 {
					border-radius: 10px;
				}
			}
		}
		&-col1 {
			margin-bottom: 30px; 
			text-align: center;
			a {
				display: inline-block;
				img	 {
					border-radius: 10px;
				}
			}
		}
	}
	&--direct {
		display: flex;
		margin: 0 -20px;
		@include mq() {
			display: block;
			margin: 0;
		}
		&-btn {
			width: 33.33%;
			padding: 0 20px;
			@include mq() {
				width: 100%;
				padding: 0;
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				display: block;
				padding: 24px 0;
				color: #fff;
				font-size: fs(15);
				line-height: fs(20);
				letter-spacing: .38px;
				text-align: center;
				border-radius: 6px;
				font-weight: bold;
				transition: all .3s;
				span {
					display: inline-block;
					padding-left: 36px;
				}
				&.blue {
					background-color: #3CAAE0;
					span {
						background: url(../images/common/icon-book2.svg) left center no-repeat;
					}
					&:hover {
						background-color: #F1F3F5;
						color: #001027;
						span {
							background-image: url(../images/common/icon-book2-black.svg);
						}
					}
				}
				&.orange {
					background-color: #FFC646;
					span {
						background: url(../images/common/icon-home.svg) left center no-repeat;
					}
					&:hover {
						background-color: #F1F3F5;
						color: #001027;
						span {
							background-image: url(../images/common/icon-home-black.svg);
						}
					}
				}
				&.green {
					background-color: #38C6A0;
					span {
				    padding-left: 25px;
						background: url(../images/common/icon-phone.svg) left center no-repeat;
					}
					&:hover {
						background-color: #F1F3F5;
						color: #001027;
						span {
							background-image: url(../images/common/icon-phone-black.svg);
						}
					}
				}
			}
		}
	}
	&--anchor {
		display: flex;
		justify-content: center;
		margin: 100px 0 80px;
		padding: 0 45px;
		@include mq() {
			margin: 30px 0 50px;
			padding: 0 15px;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		li {
			margin-right: 80px;
			&:last-child {
				margin-right: 0;
			}
			@include mq() {
				width: 48%;
				text-align: center;
				margin-bottom: 20px;
				margin-right: 0;
				padding: 8px 3px;
				border: solid 2px #DCDCDC;
			}
			a {
				display: inline-block;
				padding-bottom: 18px;
				font-size: fs(16);
				font-weight: bold;
				letter-spacing: .8px;
				background: url(../images/common/icon-arrow-blue-down.svg) bottom center / 10px 6px no-repeat;
				@include mq() {
					width: 100%;
					padding-bottom: 20px;
					background-position: bottom 5px center;
				}
			}
		}
	}
	&--sectionList {
		margin-bottom: 100px;
		.title-lv3 {
			margin-bottom: 0;
		}
		&-ttl {
			margin-bottom: 35px;
			padding: 50px 0;
			background-color: #F1F3F5;
		}
		&-cnt {

		}
		&-item {
			margin-top: 40px;
			border-radius: 10px;
			overflow: hidden;
			@include mq(sm2) {
				margin-top: 25px;
			}
			.content-result--counter {
				margin-bottom: 10px;
			}
			&-inner {
				display: none;
				padding: 0 30px 50px;
				margin-top: 35px;
				@include mq(sm2) {
					padding: 0 0 35px;
					margin-top: 20px;
					.col2 {
						display: flex;
						flex-flow: column-reverse;
						&-item {
							margin-bottom: 0;
							&--tags {
								margin-top: 20px;
							}
						}
					}
				}
				.col2 {
					&-item {
						.desc2 {
							margin-bottom: 50px;
							@include mq(sm2) {
								margin-bottom: 30px;
							}
						}
						.ttl-check {
							margin-bottom: 15px;
						}
						.list {
							margin-bottom: 30px;
							li {
								margin-bottom: 15px;
							}
						}
					}
				}
			}
			&-label {
				position: relative;
				display: flex;
				align-items: center;
				// margin-bottom: 35px;
				padding: 20px 58px 20px 30px;
				font-size: fs(18);
				line-height: fs(53);
				letter-spacing: .45px;
				font-weight: bold;
				color: #fff;
				background-color: #76C4EA;
				border-radius: 10px 10px 0px 0px;
				cursor: pointer;
				&.active {
					&:before {
						transform: translateY(-50%) rotate(-90deg);
				    -webkit-transform: translateY(-50%) rotate(-90deg);
					}
					&:after {
						transform: translateY(-50%) rotate(-180deg);
				    -webkit-transform: translateY(-50%) rotate(-180deg);
					}
				}
				&:before {
			    position: absolute;
			    right: 40px;
			    top: 50%;
			    transform: translateY(-50%);
			    -webkit-transform: translateY(-50%);
			    display: inline-block;
			    width: 30px;
			    height: 4px;
			    border-radius: 5px;
			    background-color: #fff;
			    content: "";
			    transition: all .3s;
			    @include mq(sm2) {
						right: 20px;
					}
				}
				&:after {
	        position: absolute;
			    right: 40px;
			    top: 50%;
			    transform: translateY(-50%);
			    -webkit-transform: translateY(-50%);
			    display: inline-block;
			    width: 30px;
			    height: 4px;
			    border-radius: 5px;
			    background-color: #fff;
			    transition: all .3s;
			    content: "";
			    @include mq(sm2) {
						right: 20px;
					}
				}
				@include mq(sm2) {
					flex-wrap: wrap;
					// margin-bottom: 20px;
					padding: 15px 58px 15px 15px;
					font-size: fs(16);
					line-height: 1.2;
					letter-spacing: .4px;
				}
				span {
					display: inline-block;
					margin-right: 25px;
					padding-left: 42px;
					// padding-right: 45px;
					font-size: fs(30);
					letter-spacing: .75px;
					background: url(../images/common/icon-cube-white.svg) left center / 28px 30px no-repeat;
					@include mq(sm2) {
						width: 100%;
						font-size: fs(24);
						letter-spacing: .4px;
						background-size: 26px 28px;
						margin-right: 0;
						margin-bottom: 10px;
					}
				}
			}
		}
		
	}
	&--sectionInfor {
		padding: 90px 0 60px;
		background-color: #F1F3F5;
		&-slider {
			margin-bottom: 60px;
			.p-event--infor-item {
				width: 334px;
				margin: 0 10px;
				padding: 0;
				&-thumb {
					@include mq(tb) {
				    height: 223px;
					}
				}
				a {
					height: 100%;
					background-color: #fff;
					border-radius: 10px;
				}
			}
		}
	}
	&--sectionAccess {
		padding: 90px 0 60px;
		&-map {
			&-iframe {
				iframe {
					width: 100%;
					height: 420px;
					@include mq() {
						height: 50vw;
					}
				}
			}
			&-link {
				text-align: right;
				margin: 15px 0;
			}
			&-guide {
				display: flex;
				flex-wrap: wrap;
				padding: 0 30px;
				margin: 0 -40px;
				@include mq() {
					padding: 0;
					display: block;
				}
			}
			&-infor {
				width: 50%;
				padding: 0 40px;
				margin-bottom: 30px;

				@include mq() {
					width: 100%;
				}
			}
			&-ttl {
				margin-bottom: 15px;
				font-size: fs(16);
				line-height: fs(22);
				font-weight: bold;
				@include mq() {
					margin-bottom: 10px;
				}
			}
			&-des {
				font-size: fs(14);
				line-height: fs(25);
				letter-spacing: .35px;
			}
		}
	}
	&--sectionGuide {
		margin-bottom: 90px;
		&-cnt {
			padding: 50px 30px 40px;
			border: 6px solid #F1F3F5;
			border-radius: 8px;
			&-img {
				width: 500px;
				margin: 0 auto 50px;
				max-width: 100%;
			}
			&-detail {
				display: flex;
				flex-wrap: wrap;
				li {
					margin-right: 15px;
					font-size: fs(16);
					line-height: 2;
					flex-shrink: 0;
					@include mq(sm2) {
						flex-shrink: unset;
					}
					span {
						color: #3BAAE0;
						font-family: $font-b;
					}
				}
			}
		}
	}
	.list-category {
		&Wrap {
			margin-top: 100px;
			@include mq() {
				margin-top: 50px;
			}
			.ttl-cat {
				@include mq(sm2) {
					margin-bottom: 20px;
				}
			}
		}
	}
	&--modal {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
		background-color: #001027;
		z-index: 100;
		transition: all .3s;
		transform: translateY(100%);
		-webkit-transform: translateY(100%);
		@include mq(sm2) {
			width: 100%;
			height: calc(85vh - 125px);
			// overflow: auto;
		}
		&.active {
			transform: translateY(0);
			-webkit-transform: translateY(0);
		}
		.desc2 {
			color: #FFFFFF;
		}
		.btn-yellow2 {
			@include mq(sm2) {
				width: 90%;
			}
		}
		&-inner {
			position: relative;
			padding: 40px 0 75px;
			z-index: 1;
			@include mq(sm2) {
				height: 100%;
		    padding: 25px 0 140px;
				.container {
					height: 100%;
					overflow: auto;
				}
			}
			.btn-close2 {
				position: absolute;
				left: 50%;
				bottom: 30px;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				@include mq(sm2) {
					bottom: 20px;
				}
			}
		}
		&-ctrl {
			position: absolute;
			right: 0;
			top: 1px;
			transform: translateY(-100%);
			-webkit-transform: translateY(-100%);
			font-size: fs(14);
			font-weight: bold;
			letter-spacing: .14px;
	    padding: 10px 50px;
			color: #fff;
			background: url(../images/exhibition/bg-modal-ctrl.svg) no-repeat;
			z-index: 0;
			@include mq() {
				right: 0;
			}
			@include mq(sm2) {
				padding: 10px 35px;
			}
			span {
				display: inline-block;
				padding: 0 19px 0 23px;
				background: url(../images/exhibition/icon-check-double.svg) left center no-repeat;
			}
		}
		&-list {
			display: flex;
			justify-content: space-between;
			margin: 30px 0 20px;
			@include mq(sm2) {
				margin: 30px -7px 20px;
			}
		}
		&-item {
			width: 320px;
			max-width: 33%;
			min-height: 144px;
			border-radius: 6px;
			overflow: hidden;
			background-color: #fff;
			@include mq() {
				max-width: 100%;
			}
			@include mq(tb) {
		    width: 32%;
			}
			@include mq(sm2) {
				width: 100%;
				// margin-bottom: 20px;
				margin: 0 7px 20px;
			}
			&-inner {
				padding: 10px;
				@include mq(sm2) {
					padding: 5px 5px 10px;
					.btn-view4 {
						width: 78px;
				    padding: 5px 0;
				    text-align: center;
					}
				}
				.btn-viewWrap {
					text-align: center;
				}
			}
			.desc2 {
				height: 100%;
				display: flex;
				background-color: #CCCFD4;
				justify-content: center;
				align-items: center;
				height: 100%;
				padding: 10px;
				color: #666F7E;
				@include mq() {
					font-size: fs(12);
				}
				@include mq(sm2) {
					padding: 10px;
				}
			}
			&-top {
				display: flex;
				margin-bottom: 10px;
				@include mq(sm2) {
					display: block;
				}
			}
			&-thumb {
				width: 80px;
				height: 80px;
				margin-right: 20px;
				border-radius: 6px;
				overflow: hidden;
				@include mq(sm2) {
					width: 100%;
					height: 95px;
					margin-right: 0;
				}
				img {
					border-radius: 6px;
				}
			}
			&-cnt {
				@include mq(sm2) {
					margin-top: 8px;
					.cat5 {
						padding-left: 0;
						background: none;
						font-size: fs(15);
					}
					.title-lv4.type3 {
						font-size: fs(10);
						line-height: fs(22);
					}
				}
			}
			&-label {

			}
			&-ttl {

			}
		}
		&-alert {
			margin-bottom: 20px;
			font-size: fs(14);
			font-weight: bold;
			line-height: 1.5;
			color: #FF706A;
		}
		.btn-yellowWrap {
			margin-top: 20px;
			@include mq(sm2) {
				margin-top: 14px;
			}
		}
	}

	&--sectionTel {
		padding: 40px 0;
		background-color: #F1F3F5;
		@include mq(sm2) {
			padding: 25px 12px;
		}
		&-inner {
			width: 740px;
			max-width: 90%;
			margin: 0 auto;
			@include mq(sm2) {
				width: 100%;
				max-width: 100%;
			}
		}
		&-ttl {
			font-size: fs(24);
			letter-spacing: 2.4px;
			text-align: center;
			font-weight: bold;
			@include mq(sm2) {
				font-size: fs(21);
			}
		}
		&-numberWrap {
			width: 520px;
			max-width: 90%;
			margin: 20px auto;
			padding: 25px 20px 22px;
			background-color: #fff;
			border-radius: 8px;
			text-align: center;
			@include mq(sm2) {
				max-width: 100%;
				margin: -3px auto;
				background: transparent;
			}
		}
		&-number {
			display: inline-block;
			font-family: $font-c;
			font-weight: 500;
			line-height: 1;
			color: #3CAAE0;
			font-size: fs(50);
			padding-left: 60px;
			background: url(../images/exhibition/icon-tel.svg) left top 3px no-repeat;
			transition: all .3s;
			&.type2 {
				padding-left: 42px;
				background: url(../images/exhibition/icon-tel2.svg) left top 3px no-repeat;
			}
			&:hover {
				opacity: .8;
			}
			@include mq(sm2) {
				font-size: fs(40);
				background-position: left top -1px;
			}
		}
		&-btn {
			display: block;
			margin-bottom: 20px;
			padding: 22px 10px;
			text-align: center;
			font-size: fs(18);
			font-weight: bold;
			color: #fff;
			border-radius: 58px;
			background: #3CAAE0 url(../images/common/icon-phone.png) left 20px center / 28px 28px no-repeat;
		}
	}
}

.new__homeAddPx {
	display: none;
	@include mq(sm2) {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    position: fixed;
    bottom: 7px;
    left: 0;
    right: 0;
    width: 96%;
    z-index: 1;
    margin: auto;
    &:after {
	    position: absolute;
	    content: "";
	    width: 112%;
	    height: 126%;
	    background: #fff;
	    left: -14px;
	    opacity: 0.6;
	    top: -8px;
	    z-index: -1;
		}
    a {
	    display: block;
	    background: #FFC646;
	    border-radius: 6px;
	    span {
	    	display: inline-block;
		    padding: 15px 0 14px;
	    	padding-left: 36px;
		    background: url(../images/event/icon-home.svg) left center no-repeat;
		    background-size: 21px 18px;
	    }
		}
	}
}

.notice {
	&-sliderWrapper {
		padding-top: 50px;
		background-color: #F1F3F5;
		@include mq(sm2) {
			padding-top: 15px;
		}
		.ttl-notice {
			margin-bottom: 30px;
		}
	}
	&-slider {
		padding: 0 0 40px;
		margin-bottom: 0;
		&.p-exhibition--sectionInfor-slider {
			.p-event--infor-item {
				width: 280px;
				padding: 5px 0 !important;
				@include mq(sm2) {
					margin: 0 45px;
					&.type2 {
						width: 100%;
						margin: 0 0 15px;
					}
				}
				a {
					height: 100%;
					box-shadow: 0px 0px 10px #c2cde2;
					.p-event--infor-item-thumb  {
						height: 187px;
						text-align: center;
						margin-bottom: 0;
						border-radius: 10px 10px 0 0;
						overflow: hidden;
						img {
							width: 100%;
							height: 100%;
							border-radius: 10px 10px 0 0;
						}
					}
					.p-event--infor-item-cnt {
						padding: 18px;
						.notice-slider--item-ttl {
							margin-bottom: 10px;
						}
						.txt-blue2 {
							margin-bottom: 3px;
						}
						.desc4 {
							margin-bottom: 3px;
						}
					}
				}

			}
		}
	}
}

.inforWrap {
	margin-top: 60px;
	.ttl-notice2 {
		margin-bottom: 12px;
	}
	&-inner {
		height: 490px;
		overflow-y: auto;
		margin-bottom: 50px;
		padding: 25px 30px;
		border-radius: 8px;
		background-color: #F1F2F5;
		&:last-child {
			margin-bottom: 0;
		}
		@include mq(sm2) {
			height: 300px;
			margin-bottom: 30px;
			padding: 20px 10px;
		}
		.desc2 {
			margin-bottom: 28px;
			@include mq(sm2) {
		    margin-bottom: 15px;
			}
		}
		&--banner {
			margin-bottom: 30px;
			padding: 0 50px;
			text-align: center;
			@include mq(sm2) {
		    margin-bottom: 15px;
		    padding: 0;
			}
			img {
				border-radius: 8px;
			}
		}

		&--table {
			font-size: fs(14);
			&-row {
				display: flex;
				margin-bottom: 8px;
			}
			&-label {
				min-width: 100px;
				margin-right: 20px;
				font-weight: bold;
				color: #001027;
			}
			&-desc {
				@include mq(sm2) {
			    word-break: break-word;	
				}
			}
		}
	}
}


// custom slider
.slider-type2 {
	display: flex;
	@include mq(sm2) {
		display: block;
		padding: 0 15px 20px;
	}
}
.slider-type3 {
	display: flex;
	justify-content: center;
	@include mq(sm2) {
		display: block;
		padding: 0 15px 20px;
	}
}

.slider-item-type2 {
	@include mq(sm2) {
		width: 100% !important;
		margin: 0 0 15px !important;
	}
}