.p-modelHouse {
	&--category {
		margin-bottom: 100px;
		.view-moreWrap {
			margin-top: 50px;
		}
	}
	&--btnGroup {
		display: flex;
		justify-content: center;
		align-items: center;
		.btn-reset {
			margin-right: 30px;
			@include mq() {
				margin-right: 20px;
			}
		}
		.btn-submit {
	    width: 230px;
	    padding: 12px 20px;
	    text-align: center;
		}
	}

	&--row {
		padding: 25px 20px;
		border-bottom: 1px solid #F1F3F5;
		&-ttl {
			position: relative;
			padding-left: 22px;
			font-size: fs(16);
			line-height: fs(22);
			font-weight: bold;
			background: url(../images/common/icon-location-blue.svg) left center no-repeat;
			cursor: pointer;
			&:after {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				display: inline-block;
				width: 12px;
				height: 2px;
				border-radius: 1px;
				background-color: #76C4EA;
				transition: all .3s;
				content: "";
			}
			&:before {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				display: inline-block;
				width: 12px;
				height: 2px;
				border-radius: 1px;
				background-color: #76C4EA;
				content: "";
				transition: all .3s;
			}
			&.active {
				&:after {
					transform: translateY(-50%) rotate(-180deg);
					-webkit-transform: translateY(-50%) rotate(-180deg);
				}
				&:before {
					transform: translateY(-50%) rotate(-90deg);
					-webkit-transform: translateY(-50%) rotate(-90deg);
				}
			}
			&.type2 {
				background-image: url(../images/common/icon-paperclip.svg);
				&:after {
					width: 8px;
					height: 14px;
					background: url(../images/common/icon-arrow-right2.svg) left center no-repeat;
				}
				&:before {
					display: none;
				}
			}
			&.type3 {
				background-image: url(../images/common/icon-paperclip.svg);
			}
		}
		&-cnt {
			margin-top: 20px;
		}
	}

	&--modal {
		&-ttl {
			margin-bottom: 40px;
			font-size: fs(22);
			line-height: 1.5;
			font-weight: bold;
			color: #3CAAE0;
			text-align: left;
		}
		&-overlay {
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			background-color: #000;
			opacity: 0;
			z-index: -10000;
			transition: opacity .3s;
			&.active {
				opacity: .2; 
				z-index: 10000;
			}
		}
	}

	.form-area.type2 .form-area-label {
		background: url(../images/common/icon-search-white2.svg) left center/16px 16px no-repeat;
	}

	.checkbox-list.type2 {
		margin: 0;
	}

	.checkbox-list.type2.type3 li {
		width: 100%;
		padding: 0;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.checkbox-list.type2.type4 li {
		padding: 0;
	}

	.checkbox-list--row {
		margin-bottom: 30px;
	}
	.checkbox-list--ttl {
		font-size: fs(16);
	}

}