@charset "UTF-8";
/* -------------------
  PAGE NEWS
--------------------*/
.p-news {
	&-cnt {
		.pagination {
	    margin: 50px auto;
		}

	}
	&--item {
		display: flex;
		padding: 21px 0;
		align-items: center;
		border-bottom: solid 1px #EAE9E6;
		@include mq() {
			flex-wrap: wrap;
			padding: 15px 0;
    }
		&:first-child {
			border-top: none;
		}
	  &-ttl {
			font-size: fs(14);
		  line-height: fs(21);
		  letter-spacing: .35px;
		  font-weight: bold;
		  @include mq() {
		  	display: block;
				width: 100%;
				margin-top: 12px;
	    }
	  }
		.date {
			margin-right: 20px;
		}
		.tag {
			margin-right: 20px;
		}
	}

	&--ttl {
		margin-bottom: 20px;
		padding: 10px 0 10px 90px;
		font-size: fs(30);
		line-height: fs(42);
		letter-spacing: 1.5px;
		font-weight: bold;
		background: url(../images/common/icon-news.svg) left center / 65px 56px no-repeat;
		@include mq() {
			font-size: fs(22);
			line-height: fs(28);
			background-size: 30px 25px;
			background-position: top 5px left;
	    padding: 2px 0 0 45px;
		}
	}

	.dateWrap {
		.date {
			margin-right: 15px;
		}
	}

	.view-moreWrap {
		text-align: center;
		margin-top: 100px;
	}
	.col-2 {
		display: flex;
		justify-content: space-between;
		div {
			width: 48%;
			@include mq() {
				width: 100%;
			}
		}
		@include mq() {
			display: block;
		}
	}
}



/* -------------------
  PAGE NEWS DETAIL
--------------------*/
.news-detail {
	.mainEP-titleLv3 {
		margin-bottom: 20px;
	}
}

