@charset "UTF-8";
/* -------------------
 PAGE PRIVACY
--------------------*/
.p-privacy {
	&--ttl {
		margin-bottom: 40px;
		font-size: fs(30);
		line-height: fs(42);
		letter-spacing: 1.5px;
		font-weight: bold;
		@include mq() {
      margin-bottom: 25px;
    }
	}
	&--list {
		margin-top: 90px;
		@include mq() {
      margin-top: 50px;
    }
	}
	&--item {
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
		@include mq() {
      margin-bottom: 30px;
    }
		&-ttl {
			margin-bottom: 30px;
			font-size: fs(22);
			line-height: fs(25);
			letter-spacing: 1.1px;
			font-weight: bold;
			@include mq() {
	      margin-bottom: 20px;
	    }
		}
		&-cnt {
			font-size: fs(14);
			line-height: fs(25);
			letter-spacing: .35px;
		}
	}
}