@charset "UTF-8";
/* -------------------
  TOP PAGE
--------------------*/
.p-top {
	&--sliderWraper {
		position: relative;
		margin: 10px 0;
		padding: 50px 0 40px;
		background-color: #76C4EA;
    @include mq(sm2) {
      padding: 10px 0 15px;
    }
		&:before {
	    position: absolute;
	    top: -10px;
	    left: 0;
	    display: block;
	    width: 100%;
	    height: 10px;
	    background: url(../images/common/bg-triangle-up.svg) top left repeat-x;
     //  background: url(../images/common/bg-triangle-up.png) repeat-x;
	    // background-size: 20px 10px;
	    content: "";
		}
		&:after {
	    position: absolute;
	    bottom: -10px;
	    left: 0;
	    display: block;
	    width: 100%;
	    height: 10px;
	    background: url(../images/common/bg-triangle-down.svg) bottom left repeat-x;
	    // background-size: 20px 10px;
	    content: "";
		}
	}
	&--slider {
    .slick-dots {
      @include mq(sm2) {
        margin-top: 5px;
      }
    }
    &-item {
    	position: relative;
      width: 1080px;
      height: 503px;
      max-width: 100vw;
      transition: all .3s;
      @include mq(tb) {
        height: 350px;
      }
      @include mq(sm2) {
        height: 450px;
      }
      &.type1 {
        @include mq(sm2) {
          height: auto;
        }
      }
      &:hover {
      	opacity: .8;
      }
      .space {
      	position: relative;
      	display: block;
      	width: 30px;
      	&:after {
      		position: absolute;
      		left: 50%;
      		top: 3px;
      		width: 1px;
      		height: 12px;
      		background-color: #909090;
      		content: "";
      	}
      }
      &-inner {
        position: relative;
        display: block;
        margin: 0 25px;
        // padding: 50px 50px 35px;
        border-radius: 10px;
        overflow: hidden;

        @include mq(sm2) {
          margin: 0 15px;
          padding: 0;
        }
      }
      &-thumb {
      	border-radius: 10px;
        height: 503px;
        @include mq(tb) {
          height: 350px;
        }
        @include mq(sm2) {
          height: 450px;
        }
        &.type1 {
          @include mq(sm2) {
            height: 180px;
            max-height: 48vw;
          }
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
      	// img {
       //    border-radius: 10px;
	      // 	width: 100%;
      	// }
      }
      &-cnt {
      	position: absolute;
      	bottom: 0;
      	left: 0;
      	width: 250px;
	      border-radius: 0px 10px 0px 0px;
	      background-color: #fff;
        &.type1 {
          @include mq(sm2) {
            position: relative;
            margin-top: -5px;
            width: 100%;
            border-radius: 10px;
            z-index: 100;
            .p-top--slider-item-time {
              border-radius: 10px 10px 0 0;
            }
            .p-top--slider-item-ttl {
              padding: 10px;
              font-size: fs(16);
            }
          }
        }
      }
      &-time {
      	padding: 10px 15px;
      	border-radius: 0px 10px;
      	background-color: #F2F0E7;
      	font-size: fs(10);
      	font-family: $font-b;
      	color: #909090;
      	font-weight: bold;
      }
      &-ttl {
      	padding: 15px;
      	font-size: fs(18);
      	font-weight: bold;
      }
      &-tag {
      	display: flex;
      	padding: 0 15px 15px;
      }
    }
  }
  &--main {
  	.container2 {
	  	display: flex;
			padding: 80px 0 70px;
      @include mq() {
        padding: 25px 0 0;
      }
  	}
  	&-cnt {
  		width: calc(100% - 190px);
  		padding-right: 50px;
  		// flex-shrink: 0;
      @include mq() {
        width: 100%;
        padding-right: 0;
      }
  	}
  	&-ttlWrap {
  		position: relative;
  		margin-bottom: 50px;
      @include mq() {
        padding-top: 100px;
      }
  		.img-flower {
  			position: absolute;
  			left: 0;
  			top: 0;
  			width: 125px;
  			height: auto;
        @include mq() {
          width: 110px;
          left: 10px;
          top: 10px;
        }
  		}

  		.img-house {
  			position: absolute;
  			right: -30px;
  			top: 0;
  			width: 170px;
  			height: auto;
        @include mq() {
          width: 110px;
          right: 10px;
        }
  		}

  		.section-ttlWrap {
  			text-align: center;
  		}
  	}
  	&-subTtl {
  		position: relative;
  		display: inline-block;
  		padding: 4px 15px;
  		font-size: fs(12);
  		line-height: fs(25);		
  		letter-spacing: .6px;
  		background-color: #F2F0E7;
  		border-radius: 2px;
      font-weight: bold;
      @include mq() {
        padding: 4px 15px;
      }
  		&:before {
  			position: absolute;
  			top: 1px;
  			left: 50%;
  			transform: translate(-50%, -100%);
  			-webkit-transform: translate(-50%, -100%);
  			width: 0;
	      height: 0;
	      border-left: 5px solid transparent;
	      border-right: 5px solid transparent;
	      border-bottom: 6px solid #F2F0E7;
	      content: "";
  		}
  		&Wrap {
  			text-align: center;
  		}
  	}
  	&-pickup {
  		position: relative;
  		display: flex;
  		margin-bottom: 50px;
      @include mq(tb) {
        padding: 0 15px;
      }
      @include mq(sm2) {
        padding: 0 15px;
        margin-bottom: 20px;
      }
  		&-label {	
  			position: absolute;
  			left: -14px;
  			top: -16px;
  			padding: 12px 25px 20px 20px;
  			font-size: fs(12);
  			font-weight: bold;
  			font-family: $font-c;
  			color: #2FB8FC;
  			background: url(../images/common/bg-label-pickup.svg) no-repeat;
  			z-index: 1;
        @include mq() {
          top: -15px;
          left: 1px;
        }
  		}
  		&-inner {
  			display: flex;
  			transition: all .3s;
        @include mq(sm2) {
          display: block;
        }
			  &:hover {
			    opacity: .7;
			  }
  		}
  		&-thumb {
	  		width: 460px;
	  		margin-right: 40px;
	  		max-width: 100%;
	  		overflow: hidden;
	  		border-radius: 10px;
	  		flex-shrink: 0;
        @include mq(tb) {
          width: 50%;
        }
        @include mq(sm2) {
          width: 100%;
          margin-right: 0;
        }
	  		img {
		  		border-radius: 10px;
          @include mq(sm2) {
            width: 100%;
          }
	  		}

  		}
  		&-ttl {
  			margin-bottom: 25px;
  			font-size: fs(20);
  			font-weight: bold;
  			line-height: fs(28);
  		}
  		&-cnt {
  			padding: 40px 0 30px;
        @include mq(tb) {
          padding: 0 0 10px;
        }
        @include mq(sm2) {
          padding: 15px 0;
        }
  		}
      &-tagWrap {
        @include mq(sm2) {
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;
        }
      }
  		&-tag {
  			display: flex;
  			margin-bottom: 25px;
        @include mq(sm2) {
          margin-bottom: 0;
        }
  			.space {
	      	position: relative;
	      	display: block;
	      	width: 20px;
	      	&:after {
	      		position: absolute;
	      		left: 50%;
	      		top: 3px;
	      		width: 1px;
	      		height: 12px;
	      		background-color: #909090;
	      		content: "";
	      	}
	      }
  		}
  		.date {
  			margin-top: 25px;
        @include mq(sm2) {
          margin-top: 0;
        }
  		}

  	}
  	&-posts {
  		ul {
  			display: flex;
  			flex-wrap: wrap;
  			margin: 0 -20px;
  			padding: 0 50px;
        @include mq(sm2) {
          display: block;
          padding: 0 15px;
          margin: 0;
        }
  			li {
  				width: 50%;
  				margin-bottom: 50px;
  				padding: 0 20px;
          @include mq(sm2) {
            padding: 0;
            width: 100%;
            margin-bottom: 40px;
          }
  				a {
  					display: block;
  					transition: all .3s;
            @include mq(sm2) {
              display: flex;
            }
  					&:hover {
  						opacity: .7;
  					}
  				}
  			}
  		}
  		&-thumb {
				max-height: 240px;
				border-radius: 10px;
				overflow: hidden;
        @include mq(sm2) {
          width: 157px;
          max-height: 105px;
          margin-right: 12px;
          border-radius: 0;
          flex-shrink: 0;
        }
				img {
					border-radius: 10px;
          @include mq(sm2) {
            border-radius: 0;
          }
				}
  		}
      &-inforWrap {
        @include mq(sm2) {
          display: flex;
          flex-flow: column-reverse;
        }
      }
  		&-infor {
  			display: flex;
  			justify-content: space-between;
  			margin-bottom: 20px;
  			padding: 12px 0 ;
  			border-bottom: solid 1px #DDDDDD;
        @include mq(sm2) {
          display: block;
          margin-bottom: 0;
          border-bottom: none;
          padding: 0;
        }
  		}
  		&-tag {
  			display: flex;
        @include mq(sm2) {
          width: 100%;
          margin-bottom: 3px;
        }
  			.space {
	      	position: relative;
	      	display: block;
	      	width: 20px;
	      	&:after {
	      		position: absolute;
	      		left: 50%;
	      		top: 3px;
	      		width: 1px;
	      		height: 12px;
	      		background-color: #909090;
	      		content: "";
	      	}
	      }
  		}
  		&-ttl {
  			margin-bottom: 20px;
  			font-size: fs(18);
  			line-height: fs(28);
        @include mq(sm2) {
          margin-bottom: 10px;
        }
  		}
  	}
  	&-tagList {
  		padding: 25px 45px 30px;
  		background-color: #F2F0E7;
      word-break: break-all;
      @include mq(sm2) {
        padding: 20px 15px;
      }
  		a, span {
  			margin-right: 10px;
  			display: inline;
  			font-size: fs(12);
  			line-height: fs(28);
  			color: #6A6A6A;
  		}
  	}
  	.btn-viewWrap {
  		margin-top: 45px;
      @include mq() {
        margin-bottom: 60px;
      }
  	}
  	&-sidebar {
  		width: 190px;
  		padding-top: 160px;
  		&-label {
  			margin-bottom: 25px;
  			font-size: fs(20);
  			line-height: fs(28);
  			font-weight: bold;
  			font-family: $font-c;
  		}
  		&-list {
  			ul {
  				li {
  					margin-bottom: 22px;
  					counter-increment: ranking;
  					&:last-child {
  						margin-bottom: 0;
  					}
  					a {
  						display: block;
  						transition: all .3s;
	  					&:hover {
	  						opacity: .7;
	  					}
  					}
  				}
  			}
  		}
  		&-thumb {
  			position: relative;
  			max-height: 127px;
  			border-radius: 4px;
  			overflow: hidden;
  			&:before {
  				position: absolute;
  				top: 0;
  				left: 0;
  				display: inline-block;
  				padding: 3px 8px;
  				font-family: $font-b;
  				font-weight: bold;
  				font-size: fs(12);
  				color: #fff;
  				background-color: #19A1E6;
  				border-radius: 4px 0px;
  				content: counter(ranking);
  			}
  			img {
	  			border-radius: 4px;
  			}
  		}
  		&-tag {
  			margin-bottom: 10px;
  			padding: 5px 0 8px;
  			border-bottom: solid 1px #DCDCDC; 
  		}
  		&-ttl {
  			margin-bottom: 8px;
  			font-size: fs(14);
  			line-height: fs(22);
  			font-weight: bold;
  		}
      .date {
        font-size: fs(11);
      }
  	}
  }
  .section-ttl2Wrap {
  	display: flex;
  	align-items: center;
  	margin-bottom: 35px;
    @include mq() {
      display: block;
      text-align: center;
    }
  }

  .section-subTtlWrap {
    @include mq() {
      text-align: center;
    }
  }

  .section-subTtl {
  	position: relative;
  	margin-left: 25px;
  	padding: 6px 15px;
  	font-size: fs(12);
  	line-height: fs(25);
  	letter-spacing: .6px;
  	font-weight: bold;
  	color: #001027;
  	background-color: #fff;
  	border-radius: 2px;
    @include mq() {
      display: inline-block;
      margin-left: 0;
      margin-top: 10px;
      padding: 3px 15px;
    }
  	&:before {
  		position: absolute;
  		left: 0;
  		top: 50%;
  		transform: translate(-100%, -50%);
  		-webkit-transform: translate(-100%, -50%);
  		display: inline-block;
  		width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 6px solid #fff;
      border-bottom: 5px solid transparent;
  		content: "";
      @include mq() {
        border-left: 5px solid transparent;
        border-bottom: 6px solid #fff;
        border-right: 5px solid transparent;
        left: 50%;
        top: 0;
        transform: translate(-50%, -100%);
        -webkit-transform: translate(-50%, -100%);
      }
  	}
  }

  .section-event {
  	padding: 60px 0 80px;
  	font-family: $font-a;
  	background-color: #76C4EA;
    @include mq(sm2) {
      padding: 60px 0 40px;
    }
  	.p-event {
  		&--infor {
        &-list {
          @include mq(tb) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -20px;
            padding: 0 50px;
          }
        }
  			&-item {
          @include mq(tb) {
            width: 50%;
            margin-bottom: 50px;
            padding: 0 20px;
          }
  				a {
		  			background-color: #fff;
		  			border-radius: 10px;
		  			overflow: hidden;
            height: 100%;
            @include mq(sm2) {
              display: flex;
            }
		  		}
  				&-thumb {
  					border-radius: 0;
            @include mq(tb) {
              height: 200px;
            }
            @include mq(sm2) {
              margin-bottom: 0;
              width: 120px;
              // max-height: 100%;
              max-height: 200px;
              flex-shrink: 0;
            }
			  		img {
				  		border-radius: 0;
              @include mq(sm2) {
                height: 100%;
                object-fit: cover;
              }
			  		}
  				}
  				&-cnt {
				    padding: 0 15px 20px;
            width: 100%;
            @include mq(sm2) {
              padding: 10px 15px;
            }
			  	}
  			}
  		}
  		&--search {
	  		margin-top: 60px;
	  		&-fieldsWrap {
		  		display: flex;
		  		justify-content: space-between;
		  		// align-items: center;
          flex-wrap: wrap;
          @include mq() {
            display: block;
          }
		  	}
		  	&-fields {
		  		align-items: center;
          justify-content: space-between;
          width: 100%;
		  		&-item {
		  			display: flex;
		  			align-items: center;
		  			width: 200px;
		  			height: 60px;
  			    padding: 0 20px;
            @include mq() {
              width: 100%;
            }
		  			&.item01 {
		  				width: 230px;
              @include mq() {
                width: 100%;
                margin-bottom: 10px;
              }
		  			}
            &.item02 {
              width: 290px;
              @include mq() {
                width: 100%;
              }
            }
		  			span {
		  				width: 100%;
		  			}
		  		}
		  		&-itemWrap {
		  			// margin-left: 14px;
            @include mq() {
              margin-left: 0;
            }
		  		}
		  	}
		  	&-btn {
		  		margin-top: 30px;
          width: 100%;
          text-align: center;
		  	}
	  	}
  	}
  	.btn-viewWrap {
  		margin-top: 10px;
      @include mq() {
        margin-top: 30px;
      }
  	}
  	.btn-submit {
  		display: flex;
  		align-items: center;
  		justify-content: center;
  		margin: 0 auto;
			width: 320px;
			height: 54px;
  		padding: 0;
  		border-radius: 84px;
      @include mq(tb) {
        width: 200px;
        margin: 20px auto 0;
      }
      @include mq(sm2) {
        width: 100%;
        height: 50px;
        margin-left: 0;
        margin-top: 20px;
      }
  	}
  }

  .section-search {
    padding: 70px 0 80px;
    background-color: #F1F3F5;
    @include mq(sm2) {
      padding: 60px 0 45px;
    }
    &--choices {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      @include mq(sm2) {
        display: block;
      }
      li {
        width: 50%;
        margin-bottom: 20px;
        padding: 0 10px;
        @include mq(sm2) {
          width: 100%;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          font-size: fs(18);
          letter-spacing: 0.9px;
          font-family: $font-a;
          background-color: #fff;
          border-radius: 6px;
          transition: all .3s;
          @include mq(sm2) {
            text-align: center;
            font-size: fs(16);
          }
          &:hover {
            color: #58B3E0;
            background-color: #001027;
          }
          span {
            display: inline-block;
            padding: 36px 40px;
            padding-left: 36px;
            background: url(../images/common/icon-location-blue.svg) left center / 21px 28px no-repeat;
            @include mq(sm2) {
              width: 100%;
              padding: 15px;
              background-position: left 15px center;
              background-size: 14px 18px;
            }
          }
        }
      }
    }
    .btn-submit {
      &Wrap {
        margin-top: 30px;
        text-align: center;
      }
    }
  }

  .section-search2 {
    padding: 60px 0 80px;
    font-family: $font-a;
    background-color: #76C4EA;
    @include mq(sm2) {
      padding: 60px 0 40px;
    }
  }

  .section-booking {
    padding: 70px 0 80px;
    background: url(../images/top/bg-section-booking.png) no-repeat;
    background-size: cover;
    @include mq(sm2) {
      padding: 55px 0;
    }
    .section-ttlWrap {
      text-align: center;
    }
    &--cnt {
      padding: 35px 10px 45px;
      background-color: rgba(255,255,255,.9);
      border-radius: 8px;
      text-align: center;
      .desc2 {
        margin: 10px 0 25px;
        @include mq(sm2) {
          text-align: left;
        }
      }
    }
  }
  .section-news {
    padding: 100px 0 150px;
    background-color: #fff;
    @include mq(sm2) {
      padding: 55px 0;
    }
    &--ttlWrap {
      width: 220px;
      margin-right: 100px;
      flex-shrink: 0;
    }
    &--ttl {
      margin-bottom: 60px;
      padding-left: 48px;
      font-size: fs(28);
      letter-spacing: 2.8px;
      line-height: fs(45);
      font-weight: bold;
      font-family: $font-a;
      background: url(../images/common/icon-news-blue.svg) left center / 33px 28px no-repeat;
      @include mq(sm2) {
        margin-bottom: 35px;
      }
    }
    &--cnt {
      display: flex;
      @include mq(sm2) {
        display: block;
      }
    }
    &--list {
      width: 100%;
    }
    &--item {
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: solid 1px #CECECE;
      &:last-child {
        margin-bottom: 0;
      }
      &-dateWrap {
        margin-bottom: 10px;
      }
      &-des {
        font-size: fs(15);
        letter-spacing: .75px;
        line-height: fs(24);
      }
    }
    &--btn {
      @include mq(sm2) {
        margin-top: 40px;
        text-align: center;
      }
    }
  }
  .section-search {
    &--form {
      &-cnt {
        display: flex;
        margin: 0 -6px;
        @include mq() {
          display: block;
          margin: 0;
        }
      }
      &-label {
        margin-bottom: 18px;
        padding-left: 23px;
        font-size: fs(19);
        line-height: fs(24);
        font-weight: bold;
        font-family: $font-a;
        background: url(../images/common/icon-location-blue.svg) left center / 15px 20px no-repeat;
      }
      &-row {
        width: 25%;
        padding: 0 6px;
        margin-bottom: 40px;
        @include mq() {
          width: 100%;
          padding: 0;
        }
        &-inner {
          height: 100%;
          border-radius: 6px;
          overflow: hidden;
          background-color: #fff;
        }
        @include mq() {
          padding: 0;
        }
      }
      &-list {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        li {
          width: 100%;
          margin-bottom: 10px;
          @include mq(sm2) {
            width: 100%;
          }
          .checkbox2 + label {
            font-size: fs(14);
            line-height: fs(28);
          }
          .checkbox2 + label:before {
            top: -2px;
          }
          .checkbox2:checked + label:after {
            top: 3px;
          }
        }
      }
      &-ttl {
        padding: 20px 15px;
        font-size: fs(17);
        letter-spacing: .8px;
        line-height: fs(20);
        font-weight: bold;
        color: #fff;
        background-color: #76C4EA;
        .checkbox2 + label {
          padding-left: 34px;
        }
        .checkbox2 + label:before {
          width: 22px;
          height: 22px;
          top: -3px;
        }
        .checkbox2:checked + label:after {
          left: 7px;
        }
      }
    }
    &--btn {
      position: relative;
      text-align: center;
      .btn-reset {
        position: absolute;
        right: 70px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        @include mq() {
          position: static;
          width: 100%;
          transform: translateY(0%);
          -webkit-transform: translateY(0%);
          margin-top: 15px;
          padding: 20px 70px;
          border-radius: 84px;
        }
        @include mq(tb) {
          width: 320px;
          margin: 15px auto 0;
        }
      }
    }
  }
}