@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -ms-interpolation-mode: bicubic;
  -webkit-animation: fadeIn 1.3s;
  -moz-animation: fadeIn 1.3s;
  animation: fadeIn 1.3s;
}

.fadeIn-delay {
  display: none;
  &.active {
    display: block;
    -ms-interpolation-mode: bicubic;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}