// Hack IE 10, 11
@media all and (-ms-high-contrast:none) {
	// .class {
	// }
	.p-event--search-fields-item span {
    background: url(../images/common/icon-location-black.svg) left center/12px 14px no-repeat;
	}

	.p-event--search-fields-item.calendar {
		display: flex;
		align-items: center;
		height: 100%;
	}
}


// Hack Firefox
@-moz-document url-prefix() { 
  .p-event--search-fields-item span {
    background: url(../images/common/icon-location-black.svg) left center/12px 14px no-repeat;
	}

	.p-event--search-fields-item.calendar {
		display: flex;
		align-items: center;
		height: 100%;
	}
}