@charset "UTF-8";
/* -------------------
  OBJECT FIT FOR IE
--------------------*/
// How to use: add class ".cover" for img tag, and class wrapper is ".coverBox"

// .coverBox .cover {
// 	height: 100%;
// 	object-fit: cover;
//   font-family: 'object-fit: cover;';
// }

// .coverBox {
// 	overflow: hidden;
// 	// height: 266px;
// 	// @include mq(){
// 	// 	height: 216px;
// 	// }
// 	// &.type2 {
// 	// 	height: 200px;
// 	// 	@include mq(){
// 	// 		height: 144px;
// 	// 	}
// 	// }
// }

.cover {
	object-fit: cover;
  font-family: 'object-fit: cover;';
}